<template>
    <div class="pic">
        <div class="nav">
           审核记录
            <hr>
        </div>
        <div class="containner">
            <div class="img-boxs">
                <div class="img-list" v-for="(pic,index) in PicList" :key="index">
                        <div class="flex-block">
                            <!-- <div class="imgs-mask-hide"> -->
                                <!-- <button class="current-btn" @click="checkDetailPic(pic)">查看详情</button>
                                <div class="eye-card" @click="checkDetailPic(pic)">
                                    <i class ="remove_red_eye material-icons eye-tip">remove_red_eye
                                        <div class="desc-wrapper pop-up">
                                        <div class="arrows"></div>
                                            查看详情
                                        </div>
                                    </i>
                                </div> -->
                            <!-- </div> -->
                            <img :src="pic.name" alt="">
                            <span class="pic-state pic-state3" v-if="pic.status == '审核成功'"> 审核成功</span>
                            <span class="pic-state pic-state2" v-if="pic.status == '审核失败'"> 审核失败</span>
                            <span class="pic-state pic-state2" v-if="pic.status == '审核拒绝'"> 审核拒绝</span>
                        </div>
                        <!-- <p class="pic-name">
                            {{pic.picture_name}} 
                        </p>
                        <div class="pic-name">
                            <p> 商户： {{pic.merchant_name}}</p>
                            <p>审核人：{{pic.verifier}}</p>
                            <p v-if="pic.reason" @mouseenter='des = true' @mouseleave='des = false'>
                                审核原因：
                                {{pic.reason}}
                            </p>
                            <div v-if="des && pic.reason && pic.reason.length > 9" class="info_desc pop-up">
                                {{pic.reason}}
                            </div>
                        </div> -->
                     <div class="pic-desc">
                        <b>图集信息:</b> 
                        <p> <b>商户名：</b>  {{pic.merchant_name}} </p>
                        <p> <b>图集名称：</b>  {{pic.picture_name}}</p>
                        <p> <b>审核人：</b>{{pic.verifier}} </p>
                        <p> <b>审核时间：</b> {{pic.verify_time | changeTimeFormataTime}}</p>
                        <p><b>审核状态：</b> {{pic.status}}</p>
                        <p v-if="pic.reason"><b>审核原因：</b>{{pic.reason}}</p>

                    </div>
                </div>
               
            </div>
        </div>
        <div v-if="show_page">
            <mu-pagination :total="total" :current="current" @pageChange="changePage" :pageSize="20">
            </mu-pagination>
        </div>
        <!-- <mu-dialog :open='detailPic' title="图集详情">
            <div class="detail-body">
                <p> <b>商户名：</b>  {{currentPic.merchant_name}} </p>
                <p> <b>图集名称：</b>  {{currentPic.picture_name}}</p>
                <p> <b>审核人：</b>{{currentPic.verifier}} </p>
                <p> <b>审核时间：</b> {{currentPic.verify_time}}</p>
                <p><b>审核状态：</b> {{currentPic.status}}</p>
                <p><b>审核原因：</b>{{currentPic.reason}}</p>
                <img :src='currentPic.name'>
            </div>
            <mu-raised-button label="确定" slot="actions" primary @click="detailPic = false"/>
        </mu-dialog> -->
        <mu-dialog :open="alert" title="提示"> 
            {{msg}}
            <mu-raised-button  label="确定" slot="actions" primary @click="alert = false"/>
        </mu-dialog>
    </div>
</template>
<script>
import deleteImg from "assets/img/delete.svg";
import img1 from "assets/img/2.png"
import {adminAllCheckedPic, customSelfPicDetail} from 'api/picture'
export default {
    data(){
        return {
            deleteImg: deleteImg,
            img1:img1,
            upPic:false,
            pic:{},
            trigger:null,
            show:false,
            showImgMaskD:[],
            currentPic:{},
            detailPic:false,
            total:20,
            current:1,
            PicList:[],
            alert: false,
            msg:'',
            show_page:false,
            des:false
        }
    },
    methods:{
        // 查看图集详情
        checkDetailPic(e){
            this.detailPic = true
            this.currentPic = e;
        },
        // 翻页
        changePage (newIndex){
            this.current = newIndex;
            console.log(newIndex)
            this.getAllCheck(newIndex)
        },
        // 
        getAllCheck(e){
            adminAllCheckedPic({page:e}).then(res =>{
                if(res.data.status == 1){
                    this.PicList = res.data.data;
                    this.total = res.data.page.count;
                    this.show_page = res.data.page.num_pages == 1 ? false:true
                    
                }
                else{
                    this.alert = true;
                    this.msg = res.data.msg
                }
            })
        }
        
    },
    created() {
        this.current = 1
        this.getAllCheck(1)
    },
    mounted () {
        this.trigger = this.$refs.demo
    },
}
</script>


<style lang="less">
    .pic{
        padding: 40px 35px;
    }
     .nav{
            font-size: 24px;
            & hr{
                // height: 1px;
                width: 100%;
                background: #68728C;
                opacity: 0.2;
            }
        }
    .left-grad{
        display: flex;
        align-items: center;
        justify-content: flex-end
    }
    .note-message{
        font-size: 12px;
        margin: 0px;
        color: rgba(104, 114, 140, .5)
    }
    .upload-temp-list:hover{
        .icon-box{
            display: block;
            cursor: pointer;
        }
    }
    .mu-dialog{
        .detail-body{
            p {
                margin: 6px 0;
                font-size: 14px;
                b{
                    font-weight: 500;
                    display: inline-block;
                    width: 90px;
                    color: #68728C;
                }
            }
            img{
                    margin-top: 16px
                }
        }
    }
    .pic-name {
        p{
            width: 220px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
        }
        .info_desc{
            position: absolute;
            min-width: 220px;
            background-color: rgba(70, 76, 91, 0.9);
            color: white;
            padding: 4px 6px;
            border-radius: 3px;
            z-index: 333;
        }
    }
    .img-boxs{
        width: 100%;
        .img-list{
            display: flex;
            // padding-bottom: 0px;
            .flex-block, .pic-desc{
                display: inline-block
            }
            .pic-desc{
                padding: 16px 35px;
                p {
                    margin-top: 4px
                }
            }
        }
        .pic-state{
            top:0px;
            bottom: auto
        }
    }

   
</style>
