<template>
    <div class="custome">
           <div class="nav">
             <div class="nav-has-btn">
                <p>自定义图集 <span class="check-all" @click="checkAll">审核记录</span></p> 
                <div>
                  <div class="search-wrappers">
                    <div class="search-wrappers-middle">
                        <input type="text" placeholder="请输入图集名称/商户名" v-model="searchItem">
                    </div>
                    <div class="search-wrappers-right">
                        <mu-raised-button class="demo-raised-button add-icon" label="查询" icon="search" primary @click="search(searchItem)"/>
                    </div>
                  </div>
                </div>
             </div>
              <hr>
              
              <div class="nav-button">
                 <mu-flat-button label="待审核" class="demo-flat-button wait" :to="{name:'wait' ,query:{_time:new Date().getTime()}}"/>
                <mu-flat-button label="已审核" class="demo-flat-button cutted" :to="{name:'cutted',query:{_time:new Date().getTime()}}"/>
                <mu-flat-button label="已拒绝" class="demo-flat-button refuse" :to="{name:'refuse',query:{_time:new Date().getTime()}}"/>
                <mu-flat-button label="失败" class="demo-flat-button fail" :to="{name:'fail',query:{_time:new Date().getTime()}}"/>
                <div class="active-line"></div>
              </div>
           </div>
          <router-view></router-view>
    </div>
   
</template>
<script>
export default {
  data() {
    return {
      searchItem: ""
    };
  },
  methods: {
    search(e) {
      console.log(e);
      this.$router.replace({
        path: "/base/searchPic",
        query: { _time: new Date().getTime(), pic: e }
      });
    },
    checkAll() {
      this.$router.replace({
        path: "/base/checkedPic",
        query: { _time: new Date().getTime() }
      });
    }
  }
};
</script>


<style lang="less" rel="stylesheet/less">
.custome {
  padding: 40px 35px;
  .nav {
    font-size: 24px;
    & hr {
      width: 100%;
      background: #68728c;
      opacity: 0.2;
    }
    &-has-btn{
      display: flex;
      justify-content: space-between;
    }
    a {
      color: #555;
      width: 120px;
      display: inline-block;
      text-align: center;
      height: 50px;
      line-height: 50px;
    }
    .nav-button {
      margin-top: 40px;
    }
  }
  .active-line {
    width: 120px;
    height: 3px;
    background-color: #347eff;
    position: relative;
    left: 0px;
    transition: left 0.3s ease;
    top: -13px;
  }
  .wait.router-link-active ~ .active-line {
    left: 0;
  }
  .cutted.router-link-active ~ .active-line {
    left: 120px;
  }
  .refuse.router-link-active ~ .active-line {
    left: 240px;
  }
  .fail.router-link-active ~ .active-line {
    left: 360px;
  }
  .demo-flat-button {
    background: white;
    height: 50px;
  }
  .mu-flat-button-label {
    font-size: 16px;
  }
  .pic-card {
    margin-top: 36px;
  }

  // search style
  .search-wrappers {
    height: 50px;
    background: white;
    border-radius: 3px;
    box-shadow: 1px 0 6px 0 rgba(191, 200, 214, 0.12),
      1px 0 4px 0 rgba(191, 200, 214, 0.31);
    display: inline-flex;
    font-size: 14px;
    padding-right: 10px;
    &-left,
    &-middle,
    &-right {
      display: inline-flex;
    }
    &-left {
      font-size: 14px;
      width: 116px;
      padding-left: 18px;
      align-items: center;
      justify-content: center;
      & span {
        display: inline-block;
        margin-left: 8px;
      }
      .mu-dropDown-menu-line {
        display: none;
      }
      .mu-dropDown-menu-text-overflow {
        width: 60px;
      }
      .mu-dropDown-menu-text {
        padding-left: 0;
      }
    }
    &-middle {
      input[type="text"],
      input:focus,
      input:hover {
        outline: none;
        border: none;
        padding-left: 8px;
        width: 230px;
      }
    }
    &-right {
      align-items: center;
    }
  }
  .check-all {
    font-size: 14px;
    display: inline-block;
    margin-left: 20px;
    text-decoration: underline;
    cursor: pointer;
  }
}
</style>


