<template>
    <div class="pic">
        <div class="nav">
           自定义图集搜索
            <hr>
        </div>
        <div class="containner">
            <div class="img-box">
                <div class="img-list" v-for="(pic,index) in PicList" :key="index">
                    <div class="flex-block">
                        <div class="imgs-mask-hide">
                            <div class="eye-card" @click="checkDetailPic(pic)">
                                 <i class ="remove_red_eye material-icons eye-tip">remove_red_eye
                                     <div class="desc-wrapper pop-up">
                                     <div class="arrows"></div>
                                        查看详情
                                    </div>
                                 </i>
                            </div>
                        </div>
                        <img :src="pic.name" alt="">
                        <span class="pic-state" v-if="pic.verify_status=='待审核'">{{pic.verify_status}}</span>
                        <span class="pic-state pic-state3" v-if="pic.verify_status=='审核成功'">{{pic.verify_status}}</span>
                        <span class="pic-state pic-state2" v-if="pic.verify_status=='审核失败'">{{pic.verify_status}}</span>
                        <span class="pic-state pic-state1" v-if="pic.verify_status=='审核拒绝'">{{pic.verify_status}}</span>
                    </div>
                    <p class="pic-name">{{pic.title}} 
                    </p>
                    
                    <div class="edit-card" >
                        <div class="default-btn" @click="recutPic(pic)" v-if="pic.verify_status == '审核失败'">再次切图</div>
                         <div class="default-btn" @click="checkPic(pic)" v-if="pic.verify_status == '待审核'">通过 </div> 
                         <span class="refuse-btn" @click="refusePic(pic)" v-if="pic.verify_status == '待审核'">拒绝</span>
                         <div class="default-btn" @click="getRefuseDetail(pic)" v-if="pic.verify_status == '审核拒绝'">查看详情</div> 
                    </div>
                </div>
            </div>
        </div>
        <div v-if="show_page">
            <mu-pagination :total="total" :current="current" @pageChange="changePage" :pageSize="20">
            </mu-pagination>
        </div>
        <mu-dialog :open='detailPic' title="图集详情">
            <p class="img-bottom"> 图集名称： {{currentPic.title}}</p>
             <p v-if="currentPic.reason">审核原因：{{currentPic.reason}}</p>
            <img :src='currentPic.name'>
            <mu-raised-button label="确定" slot="actions" primary @click="detailPic = false"/>
        </mu-dialog>
        <mu-dialog :open="Refuse" title="请填写拒绝原因">
            <div class="normal-input">
                 <input type="text" v-model="reason">
            </div>
            <mu-raised-button slot="actions" label="取消" @click="Refuse = false ; reason = ''"/>
            <mu-raised-button label="确定" slot="actions" primary @click="refuseCut()"/>
        </mu-dialog>
        <mu-dialog :open="temp" :title="title">
            {{msg}}
            <mu-raised-button slot="actions" label="取消" @click="temp = false ; msg = ''"/>
            <mu-raised-button label="确定" slot="actions" primary @click="sure()"/>
        </mu-dialog>
        <mu-dialog :open='alert' title="提示">
            {{msg}}
            <mu-raised-button label="确定" slot="actions" primary @click="alert = false"/>
        </mu-dialog>
         <mu-popup position="top" :overlay="false" popupClass="demo-popup-top" :open="backmsg">
            {{BgMsg}}
        </mu-popup>

    </div>
</template>
<script>
import deleteImg from "assets/img/delete.svg";
import Cookies from 'js-cookie'
import {adminSelfSearch, adminSelfRefuseDeatil,adminSelfPicCut,adminSelfPicRefuse} from 'api/picture'
export default {
    data(){
        return {
            deleteImg: deleteImg,
            upPic:false,
            pic:{},
            trigger:null,
            show:false,
            showImgMaskD:[],
            currentPic:{},
            detailPic:false,
            Refuse:false,
            temp:false,
            reason:'',
            title:'',
            msg:'',
            sort:true,
            pic:'',
            PicList:[],
            alert:false,
            user:Number,
            total: 20,
            current: 1,
            backmsg:false,
            BgMsg:'',
            show_page:false


        }
    },
    methods:{
        // 查看图集详情
        checkDetailPic(e){
            this.detailPic = true
            this.currentPic = e
        },
        refusePic(e){
            this.Refuse = true;
            this.currentPic = e
            console.log(this.currentPic)
        },
        // 拒绝切图
        refuseCut(){
            // 拒绝切图 
            let data = {
                pid: this.currentPic.id,
                reason: this.reason,
                uid: this.user
            }
            adminSelfPicRefuse(data).then(
                res =>{
                    if(res.data.status == 1){
                        this.Refuse = false;
                        this.getSearch(this.current)
                    }
                    else{
                        this.alert = true;
                        this.msg = res.data.msg
                    }
                }
            )
        },
        changePage(e){
            this.current = e;
            this.getSearch(e)
        },
        recutPic(e){
            this.temp = true;
            this.currentPic = e;
            this.title = '再次切图';
            this.msg = '确认再次切图？';
            this.sort = true
        },
        checkPic(e){
            this.temp = true;
            this.currentPic = e;
            this.title = '确认通过';
            this.msg = '确认通过？';
            this.sort = false
        },
        sure(){
            this.backmsg = true;
            this.BgMsg = '切图需要10秒左右，成功后您可以在已审核下查看，请勿重复操作';
            this.temp = false;
            adminSelfPicCut({pid: this.currentPic.id}).then(res =>{
                if(res.data.status == 1){
                    this.getSearch(this.current)
                    this.temp = false;
                    // this.backmsg = true;
                    // this.BgMsg = '切图成功'
                }
                else{
                    this.alert = true;
                    this.msg = res.data.msg
                }
            })
        },
        // 拒绝详情
        getRefuseDetail(e){
            adminSelfRefuseDeatil({pid:e.id}).then(res =>{
                if(res.data.status == 1){
                    this.detailPic = true;
                    this.currentPic.name = e.name
                    this.currentPic.reason = res.data.data.reason
                }
            })
        },
        // 获取搜索的列表
        getSearch(e){
            adminSelfSearch({key: this.pic,page:e}).then(res =>{
                if(res.data.status == 1){
                    this.PicList = res.data.data;
                    this.total = res.data.page.count;
                    this.show_page = res.data.page.num_pages == 1 ? false:true
                }
                else{
                    this.alert = true;
                    this.msg = res.data.msg
                }
            })
        }
    
       
    },
    created() {
        this.pic = this.$route.query.pic;
        this.user = parseInt(Cookies.get('user_id'))
        console.log(this.pic)
        this.getSearch(1)
    },
    mounted () {
       
    },
    watch:{
            backmsg (val){
                if (val) {
                    setTimeout(() => {
                        this.backmsg = false
                    }, 1000)
                }
            }
    },
}
</script>


<style lang="less">
    .pic{
        padding: 40px 35px;
    }
     .nav{
            font-size: 24px;
            & hr{
                // height: 1px;
                width: 100%;
                background: #68728C;
                opacity: 0.2;
            }
        }
    .left-grad{
        display: flex;
        align-items: center;
        justify-content: flex-end
    }
    .note-message{
        font-size: 12px;
        margin: 0px;
        color: rgba(104, 114, 140, .5)
    }
    .demo-popup-top {
        width: 100%;
        opacity: .8;
        height: 48px;
        line-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 450px;
    }
    
   
</style>
