<template>
    <div id="login">
        <div class="mask">
            <div class="mask-header">
            </div>
            <div class="login-content">
                <div class="left-content">
                    <img alt="" src="/static/img/logo-banner.png">
                </div>
                <div class="right-content">
                    <div class="text-card"> <img src="/static/img/logo-icon.png" alt="logo">  验证平台登录</div>
                   <div class="input-has-icon">
                       <img src="/static/img/user.png" class="icon-front">
                   <mu-text-field  class="appbar-search-field"  v-model="loginInfo.login_name" slot="right"
                                   hintText="请输入用户名"/>
                   </div>
                   <div class="input-has-icon">
                       <img src="/static/img/password.png" alt="" class="icon-front">
                       <mu-text-field  class="appbar-search-field" v-model="loginInfo.password" slot="right"
                                   hintText="请输入密码" type="password"/>
                   </div>
                     <div class="code_card">
                         <img src="/static/img/code.png" alt="" class="icon-front">
                         <mu-text-field  class="appbar-search-field"  v-model="loginInfo.validate_code" slot="right"
                                   hintText="请输入验证码"/>
                        <div class="code">
                            <img :src=validateImg class="code_img">
                            <a class="valideBtn" @click="updataValidate">刷新  
                                <img src="/static/img/refush.png" alt="" class="icon-refush">
                            </a>
                        </div>
                     </div>
                    <div class="text_right">
                    <mu-toast v-if="error" :message="error" @close="hideToast" :style = "{'background-color':color}"/>
                    <div @click="login" class="login-btn">登录</div>
                    <a :href="url" class="forget-btn" target="_blank">账号自助</a>

                </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import {mapActions} from 'vuex'
    import {authApi, updataValidateApi, isPordEvn,getDefaultUrl} from "api/auth"
    import store from '../../store';
    import { login, logOut } from 'api/login';
    import Cookies from "js-cookie";
    import { RSAKey, RSAEncrypt } from 'union/unionrsa';


    export default{
        data(){
            return{
                loginInfo:{
                    'login_name':'',
                    'password':'',
                    'validate_code': ''
                    },
                error:"",
                color:'',
                validateImg:'',
                env:'test',
                url:''
            }
        },
        computed: {
            ...mapActions(['Login','loginOut'])
        },
        methods:{

            login() {
                if (this.loginInfo.login_name != ''){
                    let unionPwd = this.pwd_union(this.loginInfo.password)
                    this.loginInfo.password = unionPwd;
                    let tempLoginInfo  = {};
                    tempLoginInfo.password = unionPwd;
                    tempLoginInfo.password = this.loginInfo.password;
                    tempLoginInfo.login_name = this.loginInfo.login_name;
                    tempLoginInfo.validate_code = this.loginInfo.validate_code;
                    login(tempLoginInfo).then(res =>{
                        if(res.data.status == 1){
                            let res_data = res.data.data;
                            Cookies.set('user_id', res_data.id,{expires: 3});
                            Cookies.set('login_name',this.loginInfo.login_name, {expires: 3})
                            if(res.data.data.is_superuser){
                                Cookies.set('is_superuser', 'True' , {expires: 3})
                            }else{ Cookies.set('is_superuser', 'False', {expires: 3})}
                            this.$router.push({ path: '/' })
                        }else{
                            this.error = res.data.msg;
                            this.color = '#f58523'
                        }
                    })
                }else if(this.loginInfo.login_name == ''){
                    this.error = "请输入邮箱";
                    this.color= "#f58523"
                }
                if (this.toastTimer) clearTimeout(this.toastTimer);
                this.toastTimer = setTimeout(() => { this.error = false }, 2000)
            },

            hideToast() {
                this.error = false;
                if (this.toastTimer) clearTimeout(this.toastTimer)
            },

            pwd_union(pwd){
                if(this.env == 'prd'){
                    var keyX="CE334A29C0FDF7810D4BBB1C9917E54719E53394F947AC8B525CCDEFDDA44810"
                    var keyY= "649E2A9651401CC3251BCEDAD42CE1506841A7A31D3EE3DEADDE65D769BA4458"
                }else{
                    var keyX = '9D18DCF9A4C04E12FFFF68A5A43AE321D56E2E693B4DBAB6CBE263EA156B81B9';
                    var keyY= '68864B894038382F7649B088733CB9F4DE322953CC81C58FC76F28BC96D43AE7';
                }
                var msgData = CryptoJS.enc.Utf8.parse(pwd);

                var cipherMode = SM2CipherMode.C1C3C2;
                var cipher = new SM2Cipher(cipherMode);
                var userKey = cipher.CreatePoint(keyX, keyY);
                msgData = cipher.GetWords(msgData.toString());
                var encryptData = cipher.Encrypt(userKey, msgData);

                return encryptData.toUpperCase();
            },

            auth(){
                authApi().then(res=>{
                    console.log(res)
                    if(res.data.status === 1){
                        this.validateImg = res.data.data.img;
                        return
                    }
                    else {
                        return
                    }
                })
            },
            isProd(){
                isPordEvn().then(res =>{
                    if(res.data.status == 1){
                        this.env = res.data.data.env;
                    }

                })
            },
            updataValidate() {
                updataValidateApi().then(res => {
                    if(res.data.status === 1){
                        this.validateImg = res.data.data.img;
                    }else{
                        alert('验证码加载失败');
                    }
                })
            },
            // 获取忘记密码链接
            getUrl(){
                getDefaultUrl().then(res =>{
                    if(res.data.status == 1){
                        this.url = res.data.data.link
                    }
                })
            }

        },
        created(){
            this.auth();
            this.isProd();
            this.getUrl()
        },

        components:{
        }
    }

</script>
<style lang="less">
    #login {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        height:100vh;
        flex-direction: column;
        background: url('../../assets/img/bg.png') no-repeat;
        background-size: cover;
        .mask-header {
            height: 100%;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            background: url("../../assets/img/login_bg.png") no-repeat;
            background-size: contain;
            display: flex;
            align-items: center;
            padding-left: 44px;

        }
        .text-card {
            text-align: center;
            width: 256px;
            margin-bottom: 35px;
            vertical-align: middle;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 28px;
                height: 32px;
                margin-right: 12px
            }
            
        }
        .login-content {
            min-width: 1100px;
            max-width: 100%;
            position: relative;
            top: -500px;
            margin: 0 auto;
            padding: 110px 150px;
            input {
                border-radius: 2px;
                outline: none;
                font-size: 16px;
                color: #000;
                padding: 7px 16px;
            }
            .left-content{
                width: 460px;
                display: inline-block;
                margin-right: 40px;
                img{
                    width: 460px;
                    height: 300px;
                }
            }
            .right-content{
                width: 316px;
                display: inline-block;
                .input-has-icon{
                    position: relative;
                    .icon-front{
                        display: inline-block;
                        position: absolute;
                        top: 14px;
                    }
                }
                .mu-text-field-hint,.mu-text-field-input{
                    padding-left: 36px;
                }
                .icon-refush{
                    width: 14px;
                    height: 14px;
                    display: inline-block;
                    vertical-align: middle
                }
                
            }
            .valideBtn{
                color: #347EFF;
                cursor: pointer;
                margin-left: 6px;
            }
            .error {
                font-size: 12px;
                display: inline-block;
            }
            .code_card {
                position: relative;
                .icon-front{
                        display: inline-block;
                        position: absolute;
                        top: 10px;
                    }
                input {
                    width: 105px;
                }
                .mu-text-field {
                    width: 165px;
                }
                .code {
                    position: absolute;
                    display:inline-block
                }

                
            }
        }
        .text_right {
            text-align: center;
            margin-top: 18px;
        }
        .mu-toast {
            top:auto;
            bottom: 40px;
            width: 300px;
            right: auto;
            text-align: left;
            font-size: 12px;
            display: flex;
            align-items: center;
            text-overflow:inherit;
            white-space:normal;
            min-height: 48px;
            height: auto;
            line-height: normal;
        }
    }

    .mask {
        color: #555;
        max-width: 100%;
        min-width: 1100px;
        height: 520px;
    }
    .code_img {
        width: 70px;
        height: 40px;
        display: inline-block;
        margin-left: 10px;
    }
    .mu-text-field.has-icon .mu-text-field-line,.mu-text-field.has-icon .mu-text-field-focus-line {
        left: 0;
    }
    .login-btn {
        width: 200px;
        height: 43px;
        line-height: 43px;
        background-image: linear-gradient(-59deg, #4089F1 0%, #427DEE 94%);
        color: white;
        border-radius: 100px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
    }
    .login-btn:hover{
        background: #4089F1;
    }
    .forget-btn{
        position: absolute;
        bottom: 40px;
        font-size: 12px;
        right: 150px;
    }
    .forget-btn:hover{
        color: #4089F1
    }
    @media screen and (max-width: 1100px) {
        .login-content{
            display: inline-flex;
            justify-content: center;
            position: absolute;
            top:0px;
            width: 100%;
            .left-content{
                display: none!important;
                img{
                    display: none;
                }
            }
        }
        .forget-btn{
            right: auto;
        }
    }
</style>
