<template>
    <div class="demo">
        <div>
            <h1>
            Demo --- 固定滑动
            </h1>
            <div class="demo01">
                <form action="">
                    <div class="normal-input">
                        <label for="username">用户名：</label>
                        <input type="text" placeholder="平安科技"  v-model="formValidate.name">
                    </div>
                    <br>
                    <div class="normal-input">
                        <label for="username">密码</label>
                        <input type="password" v-model="formValidate.password">
                    </div>
                    <div class="captcha">
                        <Captcha :reSent="reSet"  @reSentEvent=reSentEvents  :captchaId='"captchaIdSlide"'></Captcha>
                    </div>
                    <div class="error pop-up" v-if="errorMsg">
                        {{errorMsg}}
                    </div>
                    <div class="login-btn" @click="loginSlide()">
                        登录
                    </div>
                </form>
               
            </div>
        </div>
        <div>
            <h1>Demo --- 固定大图</h1>
            <div class="demo02">
                <form action="">
                    <div class="normal-input">
                        <label for="username">用户名：</label>
                        <input type="text" placeholder="平安科技"  v-model="formValidate02.name">
                    </div>
                    <br>
                    <div class="normal-input">
                        <label for="username">密码</label>
                        <input type="password" v-model="formValidate02.password">
                    </div>
                    <div class="captcha">
                        <CaptchaClick :reSent="reSet02"  @reSentEvent=reSentEventsClick  :captchaId='"captchaIdClick"'></CaptchaClick>
                    </div>
                    <div class="error pop-up" v-if="errorMsg02">
                        {{errorMsg02}}
                    </div>
                    <div class="login-btn" @click="loginClick()">
                        登录
                    </div>
                </form>
            </div>
        </div>
         <mu-dialog :open="alert" title="提示">
            登录成功
            <mu-flat-button label="确定" slot="actions" primary @click="alert=false"/>
        </mu-dialog>
    </div>
</template>
<script>
import Captcha from 'components/captcha';
import CaptchaClick from 'components/captcha.click'
import {captchaSecondValidate} from 'api/captcha';

import axios from 'axios';
export default {
    data(){
        return{
            reSet : false,
            geetestCaptcha:{},
            formValidate:{
                name:'平安科技',
                password:'123456'
            },
            formValidate02:{
                name:'平安科技',
                password:'123456'
            },
            reSet02 : false,
            geetestCaptcha02:{},
            errorMsg:'',
            errorMsg02:'',
            alert:false
        }
    },
    methods:{
        reSentEvents(data,status) {
                this.reSet = status;
                this.geetestCaptcha  = data
        },
        reSentEventsClick(data,status){
            this.reSet02 = status;
            this.geetestCaptcha02  = data
        },
        // slide 登录
        loginSlide(){
            this.errorMsg = '';
            if(!this.formValidate.name){
                this.errorMsg = '请填写用户名';
                return
            }
            if(!this.formValidate.password){
                this.errorMsg = '请填写密码'
                return
            }
            if(!this.geetestCaptcha.geetest_seccode){
                 this.errorMsg = '请先完成验证'
                 return
            }
            captchaSecondValidate(this.geetestCaptcha).then(res =>{
                if(res.data.status == 1){
                    this.alert = true;
                    this.errorMsg = false
                }
                else {
                    this.errorMsg = res.data.msg
                }
            })

        },
        loginClick(){
            if(!this.formValidate02.name){
                this.errorMsg02 = '请填写用户名';
                return
            }
            if(!this.formValidate02.password){
                this.errorMsg02 = '请填写密码';
                return
            }
            if(!this.geetestCaptcha02.geetest_seccode){
                 this.errorMsg02 = '请先完成验证'
                 return
            }
            captchaSecondValidate(this.geetestCaptcha02).then(res =>{
                if(res.data.status == 1){
                    this.alert = true;
                    this,errorMsg02 = false
                }
                else {
                    this.errorMsg = res.data.msg
                }
            })
        }

    },
    components:{Captcha, CaptchaClick},
    
}
</script>
<style lang="less" scoped>
    .demo{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 30px;
        h1 {
            font-size: 20px;
            font-weight: normal;
            text-align: center
        }
        .demo01 , .demo02{
            background: white;
            padding: 30px 20px;
            border-radius: 4px;
            margin: 30px 20px;

        }
        .error{
            color: #d36b75;
            margin-top: 8px;
            text-align: center;
            font-size: 12px;
        }
        .normal-input{
            width: 260px;
            input{
                width: 260px;
                padding: 10px 8px
            }
        }
        .captcha{
            margin-top: 16px
        }
        .login-btn{
            width: 260px;
            height: 42px;
            line-height: 42px;
            background-image: linear-gradient(-59deg, #4089F1 0%, #427DEE 94%);
            color: white;
            border-radius: 6px;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;
            margin-top: 20px;
            transition: all 0.3s
        }
        .login-btn:hover{
            background: linear-gradient(-59deg, #4089F0 0%, #427Dff 94%);
            transform:translateY(-0.2rem);
            box-shadow: 0 0.7rem 1.4rem #e0e2e8, 0 0.3rem 0.6rem rgba(12, 14, 27, 0.065)
            
        }
    }
</style>



