<template>
    <div class="pic">
        <div class="nav">
            <div class="nav-has-btn">
                <p>自定义图集</p>
                <div class="left-grad">
                    <mu-raised-button class="demo-raised-button add-icon" label="上传图集" icon="cloud_upload" primary @click="uploadCard()"/>
                </div>
                </div>
            <hr>
        </div>
        
        <div class="containner">
            <div class="img-box">
                <div class="img-list" v-for="(pic,index) in PicList" :key="index">
                    <div class="flex-block">
                        <div class="imgs-mask-hide">
                            <button class="current-btn" @click="checkDetailPic(pic)">查看详情</button>
                            <div class="eye-card" @click="checkDetailPic(pic)">
                                 <i class ="remove_red_eye material-icons eye-tip" :class="{'has-del':(!pic.active && pic.verify_status !='待审核') || pic.verify_status=='审核拒绝'}">remove_red_eye
                                     <div class="desc-wrapper pop-up">
                                     <div class="arrows"></div>
                                        查看详情
                                    </div>
                                 </i>
                            </div>
                            <div class="delete-ico" v-if="(!pic.active && pic.verify_status !='待审核') || pic.verify_status=='审核拒绝' " @click="del = true; currentPic = pic">
                                <img :src="deleteImg" alt="delete">
                            </div>
                        </div>
                        <img :src="pic.name" alt="">
                         <span class="pic-state" v-if="pic.verify_status=='待审核'">{{pic.verify_status}}</span>
                        <span class="pic-state pic-state3" v-if="pic.verify_status=='审核成功'">{{pic.verify_status}}</span>
                        <span class="pic-state pic-state2" v-if="pic.verify_status=='审核失败'">{{pic.verify_status}}</span>
                        <span class="pic-state pic-state1" v-if="pic.verify_status=='审核拒绝'">{{pic.verify_status}}</span>

                    </div>
                    <p class="pic-name">
                        {{pic.title}} 
                    </p>
                    <div class="edit-card" v-if="pic.verify_status == '审核成功'">
                        <div class="default-btn" @click="isActive(pic)">{{pic.active?'禁用':'启用'}}</div> 
                    </div>
                </div>
            </div>
        </div>
        <div v-if="show_page">
            <mu-pagination :total="total" :current="current" @pageChange="changePage" :pageSize="20">
            </mu-pagination>
        </div>
        <mu-dialog :open="upPic" title="上传图集">
            <div class="normal-input">
                <label for="">套图名称:</label>
                <input type="text" v-model="pic_name">
            </div>
            <br>
            <div class="mtop16">
                <label for="">添加图片</label>
                <p class="note-message">*最多可上传1张图片(png/jpeg/jpg),图片尺寸260px * 160px，图片大小小于1M</p>
            </div>
            <!-- 上传图片后的选择区域 -->
            <div v-if="upImg">
                <div class="upload-temp-list">
                    <img :src="upImg" alt="">
                </div>
            </div>
            
            <div class="well drop-zone">
                <input type="file" @change="upload($event)">
            </div>
            <mu-raised-button slot="actions" label="取消" @click="upPic = false"/>
            <mu-raised-button label="确定上传" slot="actions" primary @click="updatePic()"/>
        </mu-dialog>
        <mu-dialog :open='detailPic' title="图集详情">
            <div class="pic-detail">
                <div class="detail-title">商户名称：<p>{{currentPic.merchant_name}}</p></div>
                <div class="detail-title">图集名称：<p>{{currentPic.picset_name}}</p></div>
                <div class="detail-title">审核状态：<p>{{currentPic.verify}}</p> </div>
                <div v-if="currentPic.reason" class="detail-title">审核原因：<p>{{currentPic.reason}}</p></div>
                <img :src='currentPic.picset'>
            </div>
            <mu-raised-button label="确定" slot="actions" primary @click="detailPic = false"/>
        </mu-dialog>
        <mu-dialog :open='alert' title="提示">
            <p> {{msg}}</p>
            <mu-raised-button label="确定" slot="actions" primary @click="alert = false"/>
        </mu-dialog>
         <mu-dialog :open="Pic" title="图集操作">
            是否确认{{active?'启用':'禁用'}}此图集么？
            <mu-raised-button slot="actions" label="取消" @click="Pic = false"/>
            <mu-raised-button label="确定" slot="actions" primary @click="reActive(active)"/>
        </mu-dialog>
         <mu-dialog :open="del" title="确认要删除">
            确认删除此图集么？
            <mu-raised-button slot="actions" label="取消" @click="del = false"/>
            <mu-raised-button label="确定" slot="actions" primary @click="sureDel()"/>
        </mu-dialog>

    </div>
</template>
<script>
import deleteImg from "assets/img/delete.1.svg";
import img1 from "assets/img/2.png";
import {customSelfUpload, customMerchantPicList, customSelfPicDetail, customerIsUsed, CustomPicDel} from 'api/picture'

export default {
    data(){
        return {
            deleteImg: deleteImg,
            img1:img1,
            upPic:false,
            pic:{},
            trigger:null,
            show:false,
            showImgMaskD:[],
            currentPic:{},
            detailPic:false,
            total:20,
            current:1,
            upImg:'',
            upWidth:'',
            upHeight:'',
            formData:{},
            PicList:[],
            alert:false,
            msg:'',
            backEnd:'',
            pic_name:'',
            merchant_id: Number,
            show_page:false,
            Pic:false,
            active:false,
            del:false,
        }
    },
    props:['currentMercant'],
    methods:{
        uploadCard(){
            this.upPic = true
        },
        // 确认上传图片
        updatePic(){
            this.backEnd = ''
            if(!this.pic_name){
                this.backEnd = '图集名不能为空';
                return
            }
            else if(!this.upImg){
                this.backEnd = '图片不能为空';
                return
            }
            if(this.pic_name && this.upImg){
                this.formData.append('name',this.pic_name)
                this.formData.append('mid', this.currentMercant)
                customSelfUpload(this.formData).then(res =>{
                    if(res.data.status == 1){
                        this.upPic = false;
                        this.getAllPic(this.current)
                        this.alert = true;
                        this.msg = "上传成功"
                    }
                    else{
                        this.alert = true;
                        this.msg = res.data.msg
                    }
                })
            }
        },
        // 启用或禁用
        isActive(e){
            console.log(!e.active) 
            this.active = !e.active;
            this.currentPic = e;
            this.Pic = true
               
        },
        reActive(e){
            customerIsUsed({pid:this.currentPic.id,active: this.active}).then(res =>{
                   if(res.data.status == 1){
                        this.Pic = false;
                        this.getAllPic(this.current)
                   }
                   else{
                        this.alert = true;
                        this.msg = res.data.msg
                   }
            })
        },
        // 上传图片
        upload(e){
            this.formData = new FormData();
            let file = event.target.files[0];
            let size = Math.floor(file.size / 1024);
            if(size > 1024){
                this.alert = true;
                this.msg = '图片大小不能超过1M'
            }else{
                this.imgSize(file)
            }
        },
        // 查看图集详情
        checkDetailPic(e){
            console.log(e)
            this.detailPic = true
            customSelfPicDetail({pid: e.id}).then(res =>{
                if(res.data.status == 1){
                    this.currentPic = res.data.data
                }
                else{
                     this.currentPic = e
                }
            })
        },
        //获取图片尺寸大小
        imgSize(file){
            let that = this;
            if(!file || !window.FileReader)return;
            let render = new FileReader();
            render.onload = function(){
                let img = new Image();
                img.onload = () =>{
                    that.upWidth = img.width;
                    that.upHeight = img.height;
                    if(that.upWidth == 260 && that.upHeight == 160){
                        that.upImg = this.result;
                        that.formData.append('image', file)
                    }else{
                        that.alert = true;
                        that.msg = '图片尺寸不符合';
                    }
                }
                img.src = this.result;
            }
            render.readAsDataURL(file);
        },
        changePage(e){
            this.current = e;
            this.getAllPic(e)
        },
        // 获取自定义列表
        getAllPic(e) {
            customMerchantPicList({mid:this.currentMercant,page:e}).then(res =>{
                if(res.data.status == 1){
                    this.PicList = res.data.data;
                    this.total = res.data.page.count;
                    this.show_page = res.data.page.num_pages == 1 ? false:true
                }
            })
        },
        // 删除图集
        sureDel(){
            CustomPicDel({pid: this.currentPic.id}).then(res =>{
                if(res.data.status == 1){
                    this.del= false;
                    this.getAllPic(this.current)
                }
                else{
                    this.del = false;
                    this.alert = true;
                    this.msg = res.data.msg
                }
            })
        },
        
    },
    created() {
        // 商户ID
        // this.currentMercant = parseInt(window.sessionStorage.getItem('current_merchant'));
        this.getAllPic(1)
    },
    mounted () {
        this.trigger = this.$refs.demo;
    },
    watch:{
        currentMercant(){
            this.current = 1
            this.getAllPic(1)
        }
    }
}
</script>


<style lang="less">
    .pic{
        padding: 40px 35px;
    }
     .nav{
            font-size: 24px;
            & hr{
                // height: 1px;
                width: 100%;
                background: #68728C;
                opacity: 0.2;
            }
            .nav-has-btn{
                display: flex;
                justify-content: space-between;
                
                
            }
        }
    .left-grad{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 14px;
    }
    .note-message{
        font-size: 12px;
        margin: 0px;
        color: rgba(104, 114, 140, .5)
    }
    .well {
        width: 98px;
        height: 60px;
        padding: 19px;
        margin-bottom: 16px;
        margin-top: 16px;
        background-color: #fff;
        position: relative;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAASCAYAAACq26WdAAAAAXNSR0IArs4c6QAAAoBJREFUOBGlVD1oVEEQ/uZdormcCgpG0EqsBDshYKPemfM4LbTQxsIihViIiXgmkYgWNrlTothoo/Y2CViE/CiIP5VWxp8qCBZ6OQOCaBSTN/n2eXvse3fvzujCezs78818O7OzK1jFyJd0x5KPcwqkIdguwDfKLxKC0ckBedoqFPF/Nw6WtNdX3IGiPerBID7Jb7QlMTxxVn5F7XbdZoVmc8+InvB93I3DMDuPmzi/9AMmXn8crmFm2ZIeEsVRZrJVBLMMdIoBN8YFsXqTIXH7ZobkmdW5c11m2RG9qT766BQMVRx2HZrJQYaCYWLyjXCeqzQZ0aHP1a1WZkX2xvmEyFiuY3FAq2epPlF+bdfRmZvtzF3TI8cf6JqoLUq2LQoIrQWfpQ2ZJD/qYwmXlzH+dQ6VbFFPu/41sp6i7qRhi2uMyGUvgfRUQd4/LMiXVoTMcAPP+zYJr9s4QTfmSnqSbXSPxoQ1ROYy71F6ZlDeufr8Ld28tIjH9Nvl6kOyQNnR6ekBeeLlitrNO3Q/jojA+XaWLUpkAvICV8TDAWLehAjchXKbPi4blceMLgUt6wKqMtOueIrMREHeNjAHqqkLMk9Cc4axGBXsMQ3DWOhuFMgQSQKZySGJ33XV0RB2diDDDENlrsVVJL9/wCbhAZZZwq6awQqC3xR/VpfPWcaGFzV4BAS9Ae7Pu9lhQ9jZbHx6SLpMN760ytBsHBXrgw9IhWzOgiVKOrg6IgNlxuNmNmSjPEJW898GA7XyXUilcNFE96YH5RGfmKv/Q9hkm3O8m/vHzshCQGZ+rOcVz0MPazvGnX4k8aL7UW/Prj6u8mzr8a/Yof3r1mI3m2fWOq0AxzTNm7lTJGQAAAAASUVORK5CYII=) no-repeat;
        background-position: 50%;
        border: 1px dotted rgba(68,136,255,0.3);
        input[type="file"] {
            top: -1px;
            left: -1px;
            width: 98px;
            height: 60px;
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
    }
    .upload-temp-list {
        width: 78px;
        height: 48px;
        display: inline-block;
        position: relative;
        margin-right: 14px;
        margin-top: 14px;
        img{
            width: 78px;
            height: auto;
        }
        .icon-box{
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 100%;
            display: none;
            img{
                left: 50%;
                top: 50%;
                font-size: 20px;
                color: #eee;
                position: absolute;
                margin-top: -10px;
                margin-left: -10px;
                width: 16px;
            }
        }
    
    }
    .upload-temp-list:hover{
        .icon-box{
            display: block;
            cursor: pointer;
        }
    }
  
   
</style>
