<template>
    <div>
            <router-view :id='currentMercant' @changeCapCount ='changeCapCount' v-if="hasMerchant"></router-view>
             <div v-if="!hasMerchant" class="card_capInfo">
                此用户暂时没有绑定的商户; 请联系您的管理员添加。
            </div>
        
    </div>
</template>

<script>
    export default{
        data() {
            return {
                name:'overview'
            }
        },
        props:['currentMercant','hasMerchant'],
        created() {
        },
        watch:{
            // 监听header中的变化
            currentMercant(){
            }
        },
        methods: {
            changeCapCount(r){
                // console.log(r)
                this.$emit('changeCapcount',r)
            }
        }
    }
</script>
<style lang="less" rel="stylesheet/less">
.card_capInfo{
            background: white;
            margin: 40px;
            padding: 35px;
        }
</style>
