<template>
    <div class="setcap">
        <div class="nav">
         安全设置
            <hr>
        </div>
        <div class="setcap-card">   
            <div class="setcap-desc">
                 <p>AI 智能决策引擎</p>
                 <span>管理员可以自行设置新建ID的验证形式（若修改成滑动，那么修改之后所有生成的ID默认为滑动）</span>
            </div>
            <div class="setcap-section">
                <RadioGrap v-model="is_active">
                    <Radio label="0">
                        <span>滑动行为验证 <toolTip :text="'完全自定义行为沙盒，此规则下限定为固定的滑动行为验证'"></toolTip></span> 
                        <div class="img-type type1">
                        </div>
                    </Radio>
                    <Radio label="1">
                        <span>
                        AI + 滑动
                        <toolTip :text="'由AI根据当前势态智能决策，给予用户不同的行为沙盒，包含直接通过和滑动行为验证'"></toolTip>
                        </span>
                        <div class="img-type type2">
                        </div>
                    </Radio>
                    <Radio label="2">
                        <span>图文行为验证
                            <toolTip :text="'完全自定义行为沙盒，此规则下限定为固定的图文行为验证。'"></toolTip>
                        </span>
                        <div class="img-type type3">
                        </div>
                    </Radio>
                    <Radio label="3">
                        <span>
                            AI + 大图
                            <toolTip :text="'由AI根据当前势态智能决策，给予用户不同的行为沙盒，包含直接通过和图文行为验证'"></toolTip>
                        </span>
                        <div class="img-type type4">
                        </div>
                    </Radio>
                </RadioGrap>
            </div>
            <div class="sefa-sure">
               
                <mu-raised-button class="demo-raised-button add-icon" label="确认"  primary @click="getChange"/>
            </div>

        </div>
        <div class="setcap-card">
             <div class="setcap-desc">
                 <p>模型版本</p>
                 <span>请根据您网站的情况，选择模型版本 ，将自动为您匹配相应的模型版本(需保证服务器上该版本的模型文件存在)</span>
            </div>
            <div class="setcap-section2">
                <div class="setcap-current-model">
                    当前模型版本： <span>{{current_model}}</span>
                </div>
                <div class="normal-input">
                    <label for="">模型版本</label>
                    <input type="text" v-model="new_model">
                </div>
            </div>
            <p class="error-msg pop-up" v-show="error">模型版本不能为空</p>
            <div class="sefa-sure">
                <mu-raised-button class="demo-raised-button add-icon" label="确认"  primary @click="changeModel"/>
            </div>
        </div>
        
        <mu-dialog :open="alert" title="提示">
            {{msg}}
            <mu-raised-button  label="确定" slot="actions" primary @click="alert = false;new_model='' "/>
            <!-- <mu-raised-button  label="取消" slot="actions"  @click="alert=false"/> -->
        </mu-dialog>

    </div>

</template>
<script>
import toolTip from 'components/tooltip'
import {getDefaultTpye, setDefaultTpye, setDefaultModel,getDefaultModel} from 'api/auth'
import Radio from "components/radio";
import RadioGrap from "components/radio-grap"
export default {
    data(){
        return {
            is_active:'',
            alert:false,
            msg:'',
            list :[
                    {   
                        urgency: true,
                        normal_type: 'slide'
                        
                    },
                    {
                        urgency: false,
                        normal_type: 'slide'
                        
                    },
                    {
                        urgency: true,
                        normal_type: 'click'
                        
                    },
                    {
                         urgency: false,
                        normal_type: 'click'
                       
                    },
                    {
                        urgency: false,
                        normal_type: 'rie'
                        
                    }
                ],
                current_model:'',
                new_model:'',
                error:false
        }
    },
    methods:{
        // 获取默认验证类型
        getDefault(){
            getDefaultTpye().then(res =>{
                if(res.data.status == 1){
                    let t = JSON.parse(JSON.stringify(res.data.data))
                    for(var i = 0; i<5;i++){
                        if(this.list[i].urgency == t.urgency && this.list[i].normal_type == t.normal_type){
                            this.is_active = String(i)
                        }
                    }
                }
            })
        },
        setDefault(){
            let data = this.list[this.is_active]
            setDefaultTpye(data).then(res =>{
                this.alert = true;
                this.msg = res.data.msg;
            })
        },
        getChange(){
            this.setDefault()
        },
        // 获取当前模型
        getModel(){
            getDefaultModel().then(res =>{
                if(res.data.status == 1){
                    this.current_model = res.data.data
                }
            })
        },
        // 更改模型
        changeModel(){
            this.error = false;
            if(this.new_model){
                setDefaultModel({version:this.new_model}).then(res =>{
                    if(res.data.status == 1){
                        this.alert = true;
                        this.msg = res.data.msg;
                        this.getModel()
                    }
                    else{
                        this.alert = true;
                        this.msg = res.data.msg
                    }
                })
            }
            else{
                this.error = true
            }
        }
    },
    components:{toolTip,Radio, RadioGrap},
    created(){
        this.getDefault();
        this.getModel()
    }
}
</script>

<style lang="less">
    .setcap{
        padding:40px 35px;
        .nav{
            font-size: 24px;
            & hr{
                width: 100%;
                background: #68728C;
                opacity: 0.2;
            }
        }
        &-card{
            display: inline-flex;
            flex-direction: column;
            background-color: white;
            padding-bottom: 35px;
            border-radius: 4px;
            margin-top: 35px;
            width: 100%;
            max-width: 1100px;
        }
        &-desc{
            background-color: #FBFCFE;
            padding: 18px 30px;
            p {
                font-size: 18px;
                color: #68728C;
                margin-bottom: 4px;
            }
            span{
                opacity: 0.5;
                font-size: 14px;
                color: #68728C;
            }
        }
        &-section{
            padding-left: 30px;
            margin-top: 30px;
        }
        &-section2{
            margin-top: 30px;
        }
        &-current-model{
            margin-left: 30px;
            span{
                opacity: .5;
            }
        }
        .img-type{
            width: 200px;
            height: 137px;
            background: #eee;
            border-radius: 4px;
            margin-top: 10px
        }
        .error-msg{
            font-size: 12px;
            padding-left: 30px;
            margin-top: 8px;
            color: #f36;
            position: relative;
        }
        .sefa-sure{
            display: inline-flex;
            align-content: center;
            justify-content: flex-start;
            width: 100%;
            margin-top: 30px;
            padding-left: 30px;
        
        }
        .type1{
             background: url("../../assets/img/imgslider.png") center no-repeat;
             background-size: contain
        }
         .type2{
             background: url("../../assets/img/AISlide.png") center no-repeat;
             background-size: contain
        }
         .type3{
             background: url("../../assets/img/bigpicture.png") center no-repeat;
             background-size: contain
        }
         .type4{
             background: url("../../assets/img/AIClick.png") center no-repeat;
             background-size: contain
        }

    }
</style>


