<template>
    <div class="user-list">
        <div class="Grad-between">
            <div class="search-wrapper">
                <!-- <div class="search-wrapper-left">
                    <mu-dropDown-menu :value="value" @change="handleChange">
                        <mu-menu-item value="login_name" title="用户账户"/>
                        <mu-menu-item value="name" title="姓名"/>
                        <mu-menu-item value="merchant" title="商户"/>
                    </mu-dropDown-menu>
                    <i></i>
                </div> -->
                <div class="search-wrapper-middle">
                    <input type="text" placeholder="请输入用户账户/姓名/商户" v-model="search.item" @keydown.enter="Search(search)">
                </div>
                <div class="search-wrapper-right">
                    <mu-raised-button class="demo-raised-button add-icon" label="查询" icon="search" primary @click="Search(search)"/>
                </div>
            </div>
             <mu-raised-button class="demo-raised-button add-icon" label="新增用户" icon="add" primary @click="addNew()"/>
        </div>
       
        <div class="card">
            <div class="table">
                <table>
                    <thead>
                    <tr>
                        <td class="text-center">序号</td>
                        <td>账户</td>
                        <td>姓名</td>
                        <td>手机</td>
                        <td>邮箱</td>
                        <td>新建时间</td>
                        <td>状态</td>
                        <td>配置</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(list, index) in userList" :key="index">
                        <td class="text-center"> {{Number(index) + 1}}</td>
                        <td>
                            {{list.login_name}}
                        </td>
                        <td>{{list.name}}</td>
                        <td>{{list.tel}}</td>
                        <td>{{list.email}}</td>
                        <td>{{list.create_time | changeTimeFormata}}</td>
                        <td>
                            <Turn @isChecked = "getSingleStatus" :isChecked="list.active" :isDisabled="true" :seed="list"></Turn>  
                            <!-- <div class="default-btn" @click="ChangeStatus(true,list,0)"  :class="{'active-btn': list.active}"> {{list.active ?'启用':'禁用'}} </div> -->
                            <!-- <div class="default-btn" @click="ForbStatus(list)" :class="{'forbidden-btn': !list.active}"></div> -->
                        </td>
                            <td><div class="default-btn" @click="setNewAuth(list)">权限管理</div></td>
                            <td>
                                <div class="default-btn" @click="editUser(list)">编辑</div>
                                <div class="default-btn" @click="userDelete(list)">删除</div>
                            </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 新增 & 编辑 弹出框-->
        <mu-dialog :open="add" :title='title'>
            <div class="normal-input">
                <label for="login_name">账号:</label>
                <input  id="login_name" type="text" v-model="user.login_name" :disabled="sort == 2">
            </div>
            <div class="normal-input">
                <label for="name">姓名:</label>
                <input type="text"  id= "name" v-model="user.name" placeholder="">
            </div>
            <div class="normal-input">
                <label for="company">公司:</label>
                <!-- <input type="text" id="company" v-model="user.company"> -->
                <div class="select-wrapper" @mouseleave="isSelect = false">
                    <div class="select-item" @click="isSelect= !isSelect">
                        {{user.company}}
                    <img src="../../../assets/img/down.png" alt="" class="down-img">
                    </div>
                    <div class="select-drop-down pop-down" :class="{'drop-hide': !isSelect,'drop-show':isSelect}">
                        <ul>
                            <li @click="getUserCompany(names)" v-for="(names ,index) in companyList" :key="index">{{names.name}}</li>
                        </ul> 
                    </div>
                </div>
            </div>
            <div class="normal-input">
                <label for="department">部门:</label>
                <input type="text" id="department" v-model="user.department">
            </div>
            <div class="normal-input">
                <label for="tel">手机:</label>
                <input type="text" id="tel" v-model="user.tel">
            </div>
            <div class="normal-input">
                <label for="email">邮箱:</label>
                <input type="text" id="email" v-model="user.email">
            </div>
            <p class="cut-line" v-if="sort == 2"></p>
            <div class="normal-input" v-if="sort == 1">
                <span class="state-label">状态:</span>
                <div class="radio-normal">
                    <Turn @isChecked = "getStatus" :isChecked="user.active" :isDisabled="true" :seed="user"></Turn>    
                </div>
            </div>
            <mu-raised-button slot="actions" label="取消" @click="quite"/>
            <mu-raised-button label="确定" slot="actions" primary @click="save()"/>
        
        </mu-dialog>
        <!-- 权限配备 弹出框 -->
        <mu-dialog :open="addAuth" title='权限管理'>
            <div class="has-auth">
                <p>系统管理员</p>
                <div class="mtop16">
                    <RadioGrap v-model="is_super">
                        <Radio label="0"><span>是</span></Radio>
                        <Radio label="1"><span>否</span></Radio>
                    </RadioGrap>
                </div>
                
            </div>
            <div class="has-auth">
                <div class="Grad-between">
                    <p>商户管理员</p>
                    <div>
                        <mu-raised-button class="demo-raised-button" label="添加商户" icon="add" @click="toggleMerchant" ref="buttons" color="#4488FF"/>
                        <mu-popover :trigger="trigger" :open="openAddMerchant" @close="openAddMerchant = false">
                            <mu-menu :maxHeight="200" :width='118' :autoWidth = false>
                                <mu-menu-item :title="merchant.merchant_name"   v-for="(merchant , index) in merchantList" :key="index" @click="saveClient(merchant)"/>
                            </mu-menu>
                        </mu-popover>
                    </div>
                </div>
                
                <div class="mtop16">
                    <mu-chip class="demo-chip" @delete="handleDelete(merchent)" showDelete v-for="(merchent, index) in clientList" :key="index">{{merchent.merchant_name}}</mu-chip>
                    <mu-chip class="demo-chip" @delete="newDelete(merchent)" showDelete v-for="(merchent, index) in newclientList" :key="index">{{merchent.merchant_name}}</mu-chip>
                </div>

            </div>
            <mu-raised-button slot="actions" label="取消" @click="noSaveAuth"/>
            <mu-raised-button label="确定" slot="actions" primary @click="saveAuth()"/>
        
        </mu-dialog>
        <!-- 系统提示弹出框 -->
        <mu-dialog :open="alert" title="提示">
            {{msg}}
            <mu-flat-button label="确定" slot="actions" primary @click="alert=false"/>
        </mu-dialog>
        <!-- 删除商户 -->
        <mu-dialog :open="deleteMerchant" title="确认删除">
            确定删除该商户吗？
            <mu-raised-button slot="actions" label="取消" @click="deleteMerchant = false"/>
            <mu-raised-button label="确定" slot="actions" primary @click="unlock()"/>
        </mu-dialog>
         <!-- 删除用户 -->
         <mu-dialog :open="deleteUser" title="确认删除">
            确定删除该用户吗？
            <mu-raised-button slot="actions" label="取消" @click="deleteUser = false"/>
            <mu-raised-button label="确定" slot="actions" primary @click="updateUser()"/>
        </mu-dialog>
        <!-- 头部弹出框 -->
        <mu-popup position="top" :overlay="false" popupClass="demo-popup-top" :open="backmsg">
            {{msg}}
        </mu-popup>

        <!-- 禁用提示 -->
        <mu-dialog :open="forbiddenTip"  popupClass="demo-popup-top">
            确定要禁用此用户么？
            <mu-raised-button slot="actions" label="取消" @click="forbiddenTip = false"/>
            <mu-raised-button label="确定" slot="actions" primary @click="ChangeStatus(false,currentUser)"/>
        </mu-dialog>

       

    
    </div>
</template>

<script>
import {getAllUser ,UserBindMerchant, getAllUserMerchant,getAllMerchant, unlockMerchantUser} from "api/admin"
import{AddUser, UserSearch, UsereditInfo, deleteUsers, UserContral,merchantsActiveData ,getallCompanyName} from "api/admin"
import Radio from "components/radio";
import RadioGrap from "components/radio-grap"
import Turn  from "components/turn-radio"
    export default{
        data(){
            return{
                add: false,
                alert: false,
                user:{active : true},
                userList:[],
                msg:'',
                client:{},
                currentUser:{},
                clientList:[],
                merchantList:[],
                backmsg:false,
                msg:'',
                addAuth:false,
                is_super:'0',
                currentMerchant:{},
                deleteMerchant:false,
                openAddMerchant:false,
                trigger:null,
                newclientList:[],
                title:'',
                sort: 1,
                currentStatus: true,
                deleteUser:false,
                forbiddenTip:false,
                search:{item:''},
                companyList:[],
                isSelect:false

            }
        },
        computed : {

        },
        methods:{
            // add new user account 
            addNew() {
                this.title = '新增用户'
                this.add = true;
                this.sort = 1;
                this.user.active = true;
                this.isSelect = false;
                this.getAllCompany()
            },
            // edit user account
            editUser(e){
                this.title = '编辑用户信息'
                this.add = true;
                this.sort = 2;
                this.user = Object.assign({},e);
                this.isSelect = false

            },
            save() {
                // add new 
                if(this.sort == 1){
                    // this.user.active = this.currentStatus
                    AddUser(this.user).then(res =>{
                    if(res.data.status == 1){
                            this.backmsg = true;
                            this.msg = '添加成功';
                            this.add = false;
                    }
                    else{
                            this.backmsg = true;
                            this.msg = res.data.msg
                    }
                       this.getAll()
                    })
                }else if (this.sort == 2){
                    // edit user
                     UsereditInfo(this.user).then(res =>{
                         if(res.data.status == 1){
                            this.backmsg = true;
                            this.msg = '修改成功';
                            this.add = false;
                         }else{
                            this.backmsg = true;
                            this.msg = res.data.msg
                         }
                          this.getAll()
                     })
                }


            },
            quite() {
                this.add = false;
                this.user = {};
                this.currentStatus = true
            },
            addClient(e){
                this.add_client = true;
                this.currentUser = e
                this.client = {}
            },
        
            // 添加商户 add new merchant but not save now 
            saveClient(e){
                this.openAddMerchant = false;
                
                // check is already had this merchant in list including newclenentList and clientList
                if(!this.checkIsExit(e)){
                    this.newclientList.push(e)
                }
                else{
                    this.backmsg = true;
                    this.msg = '商户已存在'
                }
            },
            checkIsExit(e){
                let target = this.clientList.concat(this.newclientList);
                if(target.length >0 ){
                    for(var i = 0; i< target.length; i++){
                        if(e.id == target[i].id){
                            return true
                        }
                    }
                    return false
                }
                else{
                    return false
                }
            },
            // 查看用户下的商户列表
            cleckClient() {
                this.newclientList = []
                getAllUserMerchant({'uid':this.currentUser.id}).then(
                     res =>{
                        if(res.data.status == 1){
                            this.clientList = res.data.data
                        }
                        else {
                            this.alert = true;
                            this.msg = res.data.msg
                        }
                     }  
                )
            },
            // 解除商户绑定关系
            unlock(){
                let data = {
                    'uid':this.currentUser.id,
                    'mid': this.currentMerchant.id
                }
                unlockMerchantUser(data).then(res =>{
                    if(res.data.status == 1){
                        this.cleckClient(this.currentUser)
                        this.backmsg = true;
                        this.msg = '解绑成功';
                        this.deleteMerchant = false
                    }
                    else{
                        this.backmsg = true;
                        this.msg = res.data.msg
                    }
                })
            },
            // 获取所有商户信息
            getAllMer(){
                merchantsActiveData().then(
                    res =>{
                        if(res.data.status ==  1){
                            this.merchantList = res.data.data
                        }
                        else{
                            this.merchantList = []
                        }
                    }
                )
            },
            getAll(){
                getAllUser().then(res =>{
                    if(res.data.status == 1){
                        this.userList = Object.assign({},res.data.data)
                        console.log(this.userList)
                    }
                })

            },
            // 搜索
            Search() {
                // console.log(this.value)
                let data = {
                    // option: this.value,
                    key: this.search.item
                }
                UserSearch(data).then(res=>{
                    if(res.data.status == 1){
                        this.userList = res.data.data
                    }else{
                        this.alert = true;
                        this.msg = res.data.msg
                    }
                })

            },
            // 搜索选择类型
            // handleChange (value) {
            //     this.value = value
            // },
            //获取用户开启状态
            getStatus(e){
                this.user.active = !this.user.active
                this.currentStatus = this.user.active
            },
            ForbStatus(e){
                if(e.active){
                    return
                }
                this.currentUser = e.seed;
                this.forbiddenTip = true
            },
            getSingleStatus(e){
                console.log(e)
                // 启用
                if(!e.status){
                    this.ChangeStatus(!e.status, e.seed)
                }
                // 禁用
                else{
                    this.ForbStatus(e)
                }

            },
            // change user status which is already exited

            ChangeStatus(e,data){
                let formatData = {
                    active : e,
                    id : data.id
                }
                
                UserContral(formatData).then(res =>{
                        if(res.data.status !== 1){
                            this.alert = true;
                            this.msg = res.data.msg
                        }
                        this.forbiddenTip = false
                        this.getAll()
                })
            },  
    
            // 权限配备
            setNewAuth(e) {
                this.currentUser = e;
                this.is_super =e.is_superuser ?'0':'1'
                this.addAuth = true;
                this.getAllMer()
                this.cleckClient()
            },
            // 保存权限配置
            saveAuth() {
                let formatData = {
                    is_super:this.is_super == '0'?true:false,
                    'id': this.currentUser.id,
                    'merchants': this.newclientList
                }
                // 添加权限配置   
                UserBindMerchant(formatData).then(res =>{
                   if(res.data.status == 1){
                       this.backmsg = true;
                       this.msg = '修改成功';
                       this.addAuth = false
                   }
                   else{
                       this.alert = true;
                       this.msg = res.data.msg
                   }
                   // 刷新列表
                    this.getAll()
               })  
            
            },
            // quite save user auth 
            noSaveAuth(){
                this.openAddMerchant = false;
                this.addAuth = false;
                this.newclientList = [];
                this.is_super = '0'
            },
            // merchants manage delete 
            handleDelete(e){
                this.currentMerchant = e;
                this.deleteMerchant = true
            },
            // new add but not save
            newDelete(e) {
                if(e){
                    let i = this.newclientList.indexOf(e)
                    this.newclientList.splice(i,1)
                }

            },
        
            toggleMerchant(){
                this.openAddMerchant = !this.openAddMerchant
                this.trigger = this.$refs.buttons.$el
            },
            userDelete(e) {
                this.currentUser = e;
                this.deleteUser = true;
            },
            // 删除用户
            updateUser(){
                console.log(this.currentUser.id)
                // 删除成功后刷新页面  this.getAll()
                this.deleteUser = false;
                deleteUsers({id:this.currentUser.id}).then(
                    res =>{
                        if(res.data.status !== 1){
                            this.alert = true;
                            this.msg = res.data.msg
                        }
                         this.getAll()
                    }

                )
            },
            // 获取所有公司名称
             getAllCompany(){
                getallCompanyName().then(res =>{
                    if(res.data.status == 1){
                        this.companyList = res.data.data
                    }
                    else{
                        this.companyList = []
                    }
                })
            },
            getUserCompany(e){
                this.isSelect = false;
                this.user.company = e.name
            }

        },
        watch:{
            backmsg (val){
                if (val) {
                    setTimeout(() => {
                        this.backmsg = false
                    }, 2000)
                }
            }
        },
        created() {
            this.getAll()
            this.getAllMer();
        },
        components:{
             Radio ,Turn, RadioGrap
        },
        mounted() {
        }
    }

</script>
<style lang="less">
    .user-list {
        padding-top: 40px;
        .mu-raised-button {
            z-index: 1;
        }
        .add-icon {
            font-size: 14px;
            i {
                font-size: 16px;
            }
        }
        .card {
            margin-top: 24px;
        }

    }


    tbody tr td:last-child {
        width: 150px;
    }

    td {
        .mu-icon-button {
            height: 47px;
            i {
                font-size: 16px;
            }
        }
    }
    .card-input{
        width: 200px;
    }
    .demo-popup-top {
        width: 100%;
        opacity: .8;
        height: 48px;
        line-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 375px;
    }

       
        .default-btn{
            display: inline-block;
            margin-left: 8px;
            box-shadow: 1px 0 6px 0 rgba(191,200,214,0.12), 1px 0 4px 0 rgba(191,200,214,0.31);
            border-radius: 3px;
            border: 1px solid #D6DBE4;
            font-size: 13px;
            text-align: center;
            line-height: 20px;
            padding: 0 10px;
            cursor: pointer;
        }
        .active-btn{
            display: inline-block;
            margin-left: 8px;
            box-shadow: 1px 0 6px 0 rgba(191,200,214,0.12), 1px 0 4px 0 rgba(191,200,214,0.31);
            border-radius: 3px;
            border: 1px solid #D6DBE4;
            font-size: 13px;
            text-align: center;
            line-height: 20px;
            padding: 0 10px;
            cursor: pointer;
            background-color: #347EFF;
            color: white;
        }
        .forbidden-btn{
            display: inline-block;
            margin-left: 8px;
            box-shadow: 1px 0 6px 0 rgba(191,200,214,0.12), 1px 0 4px 0 rgba(191,200,214,0.31);
            border-radius: 3px;
            border: 1px solid #D6DBE4;
            font-size: 13px;
            text-align: center;
            line-height: 20px;
            padding: 0 10px;
            cursor: pointer;
            background-color: #d6dbe4;
            color: white;
        }
        .has-auth{
            margin-bottom: 16px;
            font-size: 14px;
            p {
                font-size: 14px;
                margin: 0;
            }
        }
</style>
