<template>
    <div class="">
       <div class="containner">
            <div class="img-box">
                <div class="img-list" v-for="(pic,index) in PicList" :key="index">
                    <div class="flex-block">
                        <div class="imgs-mask-hide">
                            <div class="eye-card" @click="checkDetailPic(pic)">
                                 <i class ="remove_red_eye material-icons eye-tip">remove_red_eye
                                     <div class="desc-wrapper pop-up">
                                     <div class="arrows"></div>
                                        查看详情
                                    </div>
                                 </i>
                            </div>
                            
                        </div>
                        <img :src="pic.name" alt="">
                         <span class="pic-state pic-state3">已审核</span>
                    </div>
                    <p class="pic-name">
                        {{pic.title}} 
                       
                    </p>
                    <div class="refuse-reason" @mouseenter='pic.info = true' @mouseleave='pic.info = false'>
                        <p>商户：{{pic.merchant}}</p>
                        <div class="info_desc pop-up" v-if="pic.info && pic.merchant && pic.merchant.length > 9">
                             {{pic.merchant}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="show_page">
            <mu-pagination :total="total" :current="current" @pageChange="changePage" :pageSize="20">
            </mu-pagination>
        </div>
        <mu-dialog :open="detailPic" title="查看详情">
            详情
            <p class="img-bottom">图集名称：{{cuttentPic.title}}</p>
            <img :src="cuttentPic.name" alt="">
            <mu-raised-button label="确定" slot="actions" primary @click="detailPic = false"/>
        </mu-dialog>
    
    </div>


</template>
<script>
import img1 from "assets/img/2.png"
import img2 from "assets/img/3.png"
import{customPicPass} from 'api/picture'
export default {
    data (){
        return {
            img1:img1,
            img2:img2,
            Pic:false,
            cuttentPic:{},
            detailPic:false,
            PicList:[],
            total : 20,
            current: 1,
            show_page :false
        }
    },
    methods:{
        checkDetailPic(e){
            this.detailPic = true;
            this.cuttentPic = e
        },
        // 确认弹窗
        cutPic(t){
            this.Pic = true;
            this.cuttentPic = t
        },
        changePage(e) {
            this.current = e;
            this.getPassList(e)
        },
        // 已审核列表
        getPassList(e){
            customPicPass({page: e}).then(res =>{
                if(res.data.status == 1){
                    let tem = res.data.data;
                    this.PicList = this.initData(tem);
                    this.total = res.data.page.count;
                    this.show_page = res.data.page.num_pages == 1 ? false:true
                }
            })
        },
        initData(data){
            // 
             for (let i of data) {
                    i['info'] = false;
                }
                return data
        }
    },
    created(){
        this.getPassList(1)
    }
}
</script>

<style lang="less">
   
</style>

