<template>
    <div class="pic-card">
       <div class="containner">
            <div class="img-box">
                <div class="img-list" v-for="(pic,index) in PicList" :key="index">
                    <div class="flex-block">
                        <div class="imgs-mask-hide">
                            <div class="eye-card" @click="checkDetailPic(pic)">
                                 <i class ="remove_red_eye material-icons eye-tip">remove_red_eye
                                     <div class="desc-wrapper pop-up">
                                     <div class="arrows"></div>
                                        查看详情
                                    </div>
                                 </i>
                            </div>
                            
                        </div>
                        <img :src="pic.name" alt="">
                        <span class="pic-state pic-state1">切图失败</span>
                    </div>
                    <p class="pic-name">{{pic.title}} 
                    </p>
                    <div class="refuse-reason" @mouseenter='pic.info = true' @mouseleave='pic.info = false'>
                        <p>商户：{{pic.merchant}}</p>
                        <div class="info_desc pop-up" v-if="pic.info && pic.merchant && pic.merchant.length > 9">
                             {{pic.merchant}}
                        </div>
                    </div>

                    <div class="edit-card">
                        <div class="default-btn" @click="cutPic(pic)">再次切图</div> 
                    </div>
                </div>
            </div>
        </div>
        <div v-if="show_page">
            <mu-pagination :total="total" :current="current" @pageChange="changePage" :pageSize="20">
            </mu-pagination>
        </div>
        <mu-dialog :open="Pic" title="再次切图">
            确认再次切图？
            <mu-raised-button slot="actions" label="取消" @click="Pic = false"/>
            <mu-raised-button label="确定" slot="actions" primary @click="reCut()"/>
        </mu-dialog>
        <mu-dialog :open="detailPic" title="查看详情">
            详情
            <p class="img-bottom">图集名称：{{cuttentPic.title}}</p>
            <img :src="cuttentPic.name" alt="">
            <mu-raised-button label="确定" slot="actions" primary @click="detailPic = false"/>
        </mu-dialog>
        <mu-dialog :open='alert' title="提示">
            {{msg}}
            <mu-raised-button label="确认" slot="actions" primary @click="alert = false"/>
        </mu-dialog>
         <mu-popup position="top" :overlay="false" popupClass="demo-popup-top" :open="backmsg">
            {{bgMsg}}
        </mu-popup>
    
    </div>


</template>
<script>
import {customPicFail , adminSelfPicCut} from 'api/picture'
export default {
    data (){
        return {
            Pic:false,
            cuttentPic:{},
            detailPic:false,
            PicList:[],
            alert :false,
            msg :'',
            total: 20,
            current: 1,
            backmsg:false,
            bgMsg:'',
            show_page:false
        }
    },
    methods:{
        checkDetailPic(e){
            this.detailPic = true;
            this.cuttentPic = e
        },
        // 确认弹窗
        cutPic(t){
            this.Pic = true;
            this.cuttentPic = t
        },
        // 再次切图 
        reCut(){
            this.bgMsg = '切图需要10秒左右，成功后您可以在已审核下查看，请勿重复操作';
            this.backmsg = true;
            this.Pic = false
            adminSelfPicCut({pid:this.cuttentPic.id}).then(res =>{
                if(res.data.status == 1){
                    this.getFailList(this.current)
                    this.Pic  = false;
                    // this.bgMsg = '切图成功，您可以在已审核中查看';
                    // this.backmsg = true;
                }
                else{
                    this.alert = true;
                    this.msg = res.data.msg
                }
            })
        },
        changePage(e) {
            this.current = e;
            this.getFailList(e)
        },
        // 获取失败列表
        getFailList(e){
            customPicFail({page : e}).then(res =>{
                if(res.data.status == 1){
                    let tem = res.data.data;
                    this.PicList = this.initData(tem);
                    this.total = res.data.page.count;
                    this.show_page = res.data.page.num_pages == 1 ? false:true
                }
                else{
                    this.alert = true;
                    this.msg = res.data.msg
                }

            })
        },
        initData(data){
            // 
             for (let i of data) {
                    i['info'] = false;
                }
                return data
        }
    },
    watch:{
            backmsg (val){
                if (val) {
                    setTimeout(() => {
                        this.backmsg = false
                    }, 1000)
                }
            }
    },
    created() {
        this.getFailList(1)
    }
}
</script>

<style lang="less">
   .demo-popup-top {
        width: 100%;
        opacity: .8;
        height: 48px;
        line-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 400px;
    }
</style>

