<template>
    <div class="pic-card">
       <div class="containner">
            <div class="img-box">
                <div class="img-list" v-for="(pic,index) in PicList" :key="index">
                    <div class="flex-block">
                        <div class="imgs-mask-hide">
                            <div class="eye-card" @click="cutPic(pic)">
                                 <i class ="remove_red_eye material-icons eye-tip">remove_red_eye
                                     <div class="desc-wrapper pop-up">
                                     <div class="arrows"></div>
                                        查看详情
                                    </div>
                                 </i>
                            </div>
                            
                        </div>
                        <img :src="pic.name" alt="">
                        <span class="pic-state pic-state2">已拒绝</span>
                    </div>
                    <p class="pic-name">
                        {{pic.title}} 
                    </p>
                    <div class="refuse-reason">
                        <p>商户: {{pic.merchant}}</p>  
                    </div>
                    <div class="refuse-reason" @mouseenter='pic.info = true' @mouseleave='des.info = false'>
                        <p>拒绝原因：{{pic.reason}}</p>
                        <div class="info_desc pop-up" v-if="pic.info && pic.reason && pic.reason.length > 9">
                             {{pic.reason}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="show_page">
            <mu-pagination :total="total" :current="current" @pageChange="changePage" :pageSize="20">
            </mu-pagination>
        </div>
        <mu-dialog :open="detailPic" title="查看详情">
            拒绝详情
            <p>审核原因:{{cuttentPic.reason}}</p>
            <mu-raised-button label="确定" slot="actions" primary @click="detailPic = false"/>
        </mu-dialog>
    
    </div>


</template>
<script>
import {customPicRefuse, adminSelfRefuseDeatil} from 'api/picture'
export default {
    data (){
        return {
            Pic:false,
            cuttentPic:{},
            detailPic:false,
            PicList:[],
            total : 20,
            current: 1,
            show_page:false,
            des:false
        }
    },
    methods:{
        // 确认弹窗
        cutPic(t){
            adminSelfRefuseDeatil({pid:t.id}).then(res =>{
                if(res.data.status == 1){
                    this.detailPic = true;
                    this.cuttentPic = res.data.data
                }
                
            })
        },
        changePage(e) {
            this.current = e;
            this.getAllrefuse(e)
        },
        checkDetailPic(e){
            this.Pic = true;
            this.cuttentPic = e
            console.log(e)
        },
        // 获取拒绝列表
        getAllrefuse(e){
            customPicRefuse({page: e}).then(res =>{
                if(res.data.status == 1){
                    let tem = res.data.data
                    this.PicList = this.initData(tem);
                    this.total = res.data.page.count;
                    this.show_page = res.data.page.num_pages == 1 ? false:true
                }
            })
        },
        initData(data){
            // 
             for (let i of data) {
                    i['info'] = false;
                }
                return data
        }

    
    },
    created(){
        this.getAllrefuse(1)
    }
}
</script>

<style lang="less" scoped>
   
</style>

