<template>
    <div class="pic-card">
       <div class="containner">
            <div class="img-box">
                <div class="img-list" v-for="(pic,index) in PicList" :key="index">
                    <div class="flex-block">
                        <div class="imgs-mask-hide">
                            <div class="eye-card" @click="checkDetailPic(pic)">
                                 <i class ="remove_red_eye material-icons eye-tip">remove_red_eye
                                     <div class="desc-wrapper pop-up">
                                     <div class="arrows"></div>
                                        查看详情
                                    </div>
                                 </i>
                            </div>
                            
                    </div>
                        <img :src="pic.name" alt="">
                        <span class="pic-state">待审核</span>
                    </div>
                    <p class="pic-name">
                        {{pic.title}} 
                    </p>
                    <div class="refuse-reason" @mouseenter='pic.info = true' @mouseleave='pic.info = false'>
                        <p>商户：{{pic.merchant}}</p>
                        <div class="info_desc pop-up" v-if="pic.info && pic.merchant && pic.merchant.length > 9">
                             {{pic.merchant}}
                        </div>
                    </div>
                    <div class="edit-card">
                        <div class="default-btn" @click="cutPic(pic)">通过</div> 
                         <span class="default-btn" @click="refusePic(pic)">拒绝</span>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="show_page">
            <mu-pagination :total="total" :current="current" @pageChange="changePage" :pageSize="20">
            </mu-pagination>
        </div>
        <mu-dialog :open="Pic" title="确认审核">
            确认通过？
            <mu-raised-button slot="actions" label="取消" @click="Pic = false"/>
            <mu-raised-button label="确定" slot="actions" primary @click="PicCut()"/>
        </mu-dialog>
        <mu-dialog :open="Refuse" title="请填写拒绝原因">
            <div class="normal-input">
                 <input type="text" v-model="reason">
            </div>
            <mu-raised-button slot="actions" label="取消" @click="Refuse = false ; reason = ''"/>
            <mu-raised-button label="确定" slot="actions" primary @click="refuseCut()"/>
        </mu-dialog>
        <mu-dialog :open="detailPic" title="查看详情">
            详情
            <p class="img-bottom">{{cuttentPic.title}}</p>
            <img :src="cuttentPic.name" alt="">
            <mu-raised-button label="确定" slot="actions" primary @click="detailPic = false"/>
        </mu-dialog>
        <mu-dialog :open="alert" title="提示">
            {{msg}}
            <mu-raised-button label="确定" slot="actions" primary @click="alert = false"/>
        </mu-dialog>
         <!-- 头部弹出框 -->
        <mu-popup position="top" :overlay="false" popupClass="demo-popup-top" :open="backmsg">
            {{bgMsg}}
        </mu-popup>
    </div>


</template>
<script>
import {customPicWait, adminSelfPicCut,adminSelfPicRefuse} from 'api/picture'
import Cookies from 'js-cookie'
export default {
    data (){
        return {
            Pic:false,
            cuttentPic:{},
            Refuse:false,
            reason:'',
            detailPic:false,
            PicList:[],
            alert:false,
            msg:'',
            user: Number,
            total : 20,
            current: 1,
            backmsg:false,
            bgMsg:'',
            show_page:false,
        }
    },
    methods:{
        checkDetailPic(e){
            this.detailPic = true;
            this.cuttentPic = e
        },
        // 确认弹窗
        cutPic(t){
            this.Pic = true;
            this.cuttentPic = t
        },
        changePage(e) {
            this.current = e;
            this.getPicList(e)
        },
        // 确认审核（切图）
        PicCut(){
            this.backmsg = true;
            this.bgMsg = '切图需要10秒左右，成功后您可以在已审核下查看，请勿重复操作';
            this.Pic = false;
            adminSelfPicCut({pid:this.cuttentPic.id}).then(res =>{
                if(res.data.status == 1){
                    this.getPicList(this.current);
                    this.Pic = false;
                }
                else{
                    this.alert = true;
                    this.mgs = res.data.msg
                }
            })
        },
        refusePic(e){
            this.Refuse = true;
            this.cuttentPic = e
        },
        // 拒绝切图（审核）
        refuseCut() {
            if(!this.reason) {
                console.log('不能为空')
            }
            else{
                let data = {
                        pid: this.cuttentPic.id,
                        reason: this.reason,
                        uid: this.user
                }
                adminSelfPicRefuse(data).then(res =>{
                    if(res.data.status == 1) {
                        this.getPicList(this.current)
                        this.Refuse = false;
                        this.backmsg = true;
                        this.bgMsg = '操作成功，可在已拒绝下查看'
                    }
                    else{
                        this.alert = true;
                        this.msg = res.data.msg
                    }
                })
            }
            
        },
        // 获取待审核列表
        getPicList(e) {
            customPicWait({page: e}).then(res =>{
                console.log(res.data)
                if(res.data.status == 1){
                    let a  = res.data.data;
                    this.PicList = this.initData(a);
                    console.log(this.PicList)
                    this.total = res.data.page.count;
                    this.show_page = res.data.page.num_pages == 1 ? false:true
                }else{
                    this.PicList = []
                }
            })
        },
        initData(data){
            // 
             for (let i of data) {
                    i['info'] = false;
                }
                return data
        }
    },
     watch:{
            backmsg (val){
                if (val) {
                    setTimeout(() => {
                        this.backmsg = false
                    }, 3000)
                }
            }
    },
    created() {
        this.user = parseInt(Cookies.get('user_id'))
        this.getPicList(1)
    },
}
</script>

<style lang="less">
   .demo-popup-top {
        width: 100%;
        opacity: .8;
        height: 48px;
        line-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 450px;
    }
</style>

