@import "~muse-ui/less/vars.less"; // 默认基础的变量

@fontFamily: "PingFangSC-Light", "Microsoft YaHei", Roboto,Helvetica Neue Light, Tahoma, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif !important;
// 修改基础变量
@lightBlue700: #347EFF;

@primaryColor: @lightBlue700;
@darkerPrimaryColor: @lightBlue700;
@lighterPrimaryColor: #D8D8D8;
@accentColor: @textColor;
@darkerAccentColor: @pinkA400;
@lighterAccentColor: @pinkA100;

@textColor: #68728C;
@secondaryTextColor: @textColor;
@alternateTextColor: @fullWhite;
@borderColor: #c5c5c5;
@disabledColor: fade(@textColor, 30%);

// background
@backgroundColor: #F2F5FA;
@statusBarBackgroundColor: @fullBlack;
@appbarBackgroundColor: @grey900;
@dialogBackgroundColor: white; // dialogs or cards

// icon
@activeIconColor: fade(@fullWhite, 100%);
@inActiveIconColor: fade(@fullWhite, 50%);

@import "~muse-ui/less/theme-vars.less"; // 默认组件变量

// 修改组件变量
@avatarBackgroundColor: lighten(@alternateTextColor, 26%);
@datePickerHeaderColor: @primaryColor;
@timePickerHeaderColor: fade(@fullWhite, 12%);
@timePickerClockCircleColor: fade(@fullWhite, 12%);
@avatarBackgroundColor: lighten(@alternateTextColor, 26%);
@chipColor: lighten(@alternateTextColor, 12%);
@floatButtonDisabledColor: lighten(@alternateTextColor, 12%);

@tableRowHoverBackgroundColor: fade(@textColor, 10%);
@tableRowSelectedBackgroundColor: fade(@textColor, 5%);

@import "~muse-ui/less/theme.less";

@sildebarWidth: 192px;


.normal-text {
    color: @textColor;
}
.sub-text {
    color: #bbb;
}
.active-text {
    color: @lightBlue700;
}
.active-bg {
    background-color: @lightBlue700;
}
.title-bg{
    background-color: #f7f7f8;
}
.error-bg {
    background-color: #f58523;
}
.border-color {
    border-color: @borderColor;
}
.mu-back-up ,.mu-back-up-default {
    background-color: @lightBlue700 !important;
}
.mu-tabs{
    background-color: white;
    .mu-tab-link{
        color: #555555;
    }
    .mu-tab-active{
        color: @primaryColor;
    }
    .mu-tab-link-highlight{
        background-color: @primaryColor;
    }
}

.tit{
    font-size: 13px;
    opacity: 0.4;
    color: #555555;
    margin-bottom: 0;
    margin-top: 16px;
}
.value{
    margin-top: 0px;
    font-size: 14px;
    color: #555555;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mu-dialog {
    min-width: 450px;
    width: auto; 
    max-width: 560px;
}
.mu-date-picker-dialog{
    min-width: auto;
}
.mtop16 {
    margin-top: 16px
}
.Grad {
    display: flex;
}
.Grad-between {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.inline_block{
    display: inline-block;
}
.mu-menu-destop .mu-menu-item-wrapper{
    font-size: 14px
}
.mu-dialog-actions{
    padding: 16px 24px 30px 0px 
}
.mu-dialog-title {
    font-size: 18px
}
input[disabled] {
    cursor: not-allowed!important;
}
.mu-chip {
    background-color: #F2F5FA;
    color: #68728C;
    margin: 6px;
    font-size: 14px;
    .mu-chip-delete-icon{
        color: fade(@textColor,40%)
     }
}
.mu-chip.hover {
    background-color: #F2F5FA;
    .mu-chip-delete-icon{
       color: #68728C
    }
}

.card{
    .table {
        padding: 24px;
        thead tr {
            background-color: #F2F5FA;
            font-weight: 500;
            color:rgba(104,114,140,.5);
        }
        tr{
            border: 1px solid #E1E5EA;
        }
    }
}
.normal-input {
    width: 240px;
    display: inline-block;
    input {
        width: 240px;
        border-radius: 3px;
        padding: 8px 8px;
        font-size: 14px;
        border: 1px solid #ECEEF1;
        color: #68728c;
        background-color: rgba(68, 136, 255, 0.02)
    }
    label {
        font-size: 14px;
        display: inline-block;
        margin-bottom: 6px;
        margin-top: 16px;
        color: rgba(104,114,140,0.5);
    }
    .state-label {
        display: inline-block;
        margin-right: 16px
    }
    input[type='text']:focus,input[type='password']:focus {
        border: 1px solid rgba(68, 136, 255, 0.6) !important;
        box-shadow: 0 0 3px 0 rgba(68, 136, 255, 0.49);
        outline: none;
    }
    .radio-normal {
        display: inline-block;
        input[type='radio'] {
            width: auto;
            // display: none
        }
        & label {
            position: relative;
        }
    }

}
.normal-input:nth-child(2n){
    margin-left: 30px
}
button:focus {
    outline: none
}
.pop-up {
    animation: pop-animation 200ms;
}
@keyframes pop-animation {
    0%{
        opacity: 0;
        transform: translateY(8px)
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}
p {
    margin: 0
}
.img-bottom{
    margin-bottom: 24px;
}
.back-error{
    font-size: 12px;
    text-align: right;
    color: red;
}
// 图集共有样式
.containner{
    padding-top: 30px;
    display: flex;
    display: -webkit-flex;
    width: 960px;
    margin: 0 auto;
    .img-box{
        flex-direction: row;
        flex-wrap: wrap;
        display: inline-flex;
        display: -webkit-inline-flex;
      
    }
    .img-list{
        border: 1px solid #ECEEEE;
        margin-right: 30px;
        margin-bottom: 24px;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;
        position: relative;
        background-color: #fff;
        padding-bottom: 14px;
        cursor: pointer;
        img {
            border-radius: 4px 4px 0 0;
        }
        .imgs-mask-show{
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.09);
            position: absolute;
            left: 0;
            right: 0;
            z-index: 2;
            border-radius: 4px 4px 0 0;
            display: flex;
            display: -webkit-flex;
            justify-content: center;
            align-items: center;
            .mu-icon{
                font-size: 38px
            }
        }
    }
     .img-list:hover {
        box-shadow: 0 3px 17px 0 rgba(0,0,0,0.12);
        .imgs-mask-hide{
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            position: absolute;
            left: 0;
            right: 0;
            z-index: 2;
            border-radius: 4px 4px 0 0;
            display: flex;
            display: -webkit-flex;
        }
        .imgs-mask-show{
            opacity: 0;
            z-index: -1;
            transform: all .3s ease;
        }
        
    }
   
    .flex-block{
        display: flex;
        display: -webkit-flex;
        position: relative;
        flex-direction: column;
        img{
            width: 208px;
        }
    }
    .pic-name{
        padding-left: 26px;
        color: #68728C;
        text-align: left;
        margin-top: 12px;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        
    }
    .pic-state {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2px 4px;
        border-radius: 0 4px 0 0;
        color: white;
        font-size: 12px;
        background-color: #F5A623;
        text-align: center
    }
    .pic-state1{
        background-color: #9099B0;
    }
    .pic-state2{
        background-color: #f36;
    }
    .pic-state3{
        background-color: #40ce9f;
    }
    .imgs-mask-hide{
        display: none;
        background-color: rgba(0,0,0,0);
        transition: all 0.4s ease;
        
    }
    .refuse-reason{
        position: relative;
        padding-left: 26px;
        p{
             width: 182px;
             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
             font-size: 12px;
         }
         .info_desc{
             position: absolute;
             min-width: 220px;
             background-color: rgba(70, 76, 91, 0.9);
             color: white;
             padding: 4px 6px;
             border-radius: 3px;
             z-index: 333;
         }
    }
    .imgs-mask{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
        border-radius: 4px 4px 0 0;
        display: flex;
        display: -webkit-flex;
    }
    .imgs-mask-hide .current-btn{
        content: '使用图集';
        padding: 8px 20px;
        color: #fff;
        border-radius: 100px;
        border: 1px solid #fff;
        margin: auto;
        background-color: rgba(68,136,255,0);
        transition: all 0.2s ease;
    }
    .imgs-mask-hide .current-btn:hover{
        background-color: #4488FF;
        border: 1px solid #4488FF;
    }
    .mask-choose{
        position: absolute;
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.25);
        border-radius:4px 4px 0 0 ;
        i{
            font-size: 42px
        }

    }
    .delete-ico{
        position: absolute;
        right: 0;
        margin-top: 7px;
        margin-right: 12px;
        // background-image: url('../assets/img/delete.1.svg');
        // background-repeat: no-repeat;
        fill: white;
        img{
            width: 15px;
        }

    }
    .eye-card{
        .eye-tip{
            color: white;
            margin-right: 12px;
            font-size: 18px;
            margin-top: 7px;
            position: absolute;
            right: 0;
            cursor: pointer;
        }
        .has-del{
            right: 30px;
        }
        
        .eye-tip:hover{
            .desc-wrapper{
                display: inline-block;
            }
        }
        .desc-wrapper{
            position: absolute;
            min-width: 76px;
            z-index: 333;
            top: -36px;
            text-align: left;
            -webkit-box-shadow: 0 2px 4px 0 rgba(104, 114, 140, 0.35);
            box-shadow: 0 2px 4px 0 rgba(104, 114, 140, 0.35);
            padding: 8px 12px;
            border: 1px solid rgba(104, 114, 140, 0.06);
            background: #434a59;
            color: rgba(255, 255, 255, 0.7);
            border-radius: 5px;
            font-size: 12px;
            left: -28px;
            display: none;
        }
        .arrows{
            width: 10px;
            height: 10px;
            background: #434a59;
            position: absolute;
            top: 24px;
            display: block;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            left: 30px;
        }
    }
    .default-btn {
        display: inline-block;
        margin-left: 8px;
        box-shadow: 1px 0 6px 0 rgba(191,200,214,0.12), 1px 0 4px 0 rgba(191,200,214,0.31);
        border-radius: 3px;
        border: 1px solid #d6dbe4;
        font-size: 13px;
        text-align: center;
        line-height: 20px;
        padding: 2px 10px;
        cursor: pointer;
      }
      .default-btn:hover {
        background: #347eff;
        color: white;
      }
      .edit-card{
          padding: 8px 26px 0 0;
          text-align: right;
          .refuse-btn{
            text-decoration: underline;
            margin-left: 18px
        }
      }
    
}
@media screen and (max-width: 1670px) and (min-width : 1480px){
        .containner{
            width: 1170px;
            .flex-block{
                img{
                    width: 260px;
                }
            }
            .refuse-reason{
                p{
                    width: 220px;
                }
            }
            .delete-ico img{
                width: 15px
            }
        }
}
@media screen and (min-width:1670px){
    .containner{
        width:1460px;
        .flex-block{
            img{
                width: 260px;
            }
            
        }
        .delete-ico img{
            width: 15px
        }
        .refuse-reason{
            p{
                width: 220px;
            }
        }

    }
}
@media screen and (max-width: 1270px) and (min-width:950px){
    .containner{
        width: 500px
    }
}
.pic-detail{
    .detail-title{
          color: rgba(104, 114, 140, 1);
          margin: 10px 0;
          p {
              display: inline-block;
              color: rgba(104, 114, 140, 0.6);
          }
        
    }
}
.pop-down {
    animation: pop-down-animation 200ms;
}
@keyframes pop-down-animation {
    0%{
        opacity: 0;
        transform: translateY(-8px)
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}
// 下拉组件css
.select-wrapper{
    display: inline-flex;
    position: relative;
    z-index: 69;
    .select-item{
        border-radius: 3px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        min-height: 38px;
        border: 1px solid #F3F3F6;
        width: 240px;
        padding: 8px 8px;
        font-size: 14px;
        border: 1px solid #ECEEF1;
        color: #68728c;
        background-color: rgba(68, 136, 255, 0.02)
    }
    .select-item:hover{
        box-shadow: 0 4px 10px 0 rgba(191, 200, 214, 0.22);
    }
    .select-drop-down {
        position: absolute;
        background-color: white;
        width: 240px;
        max-height: 120px;
        overflow-y: auto;
        top: 38px;
        left: 0px;
        padding: 9px 0px;
        box-shadow: 0 1px 3px 0 rgba(191, 200, 214, 0.22), 0 2px 3px 0 rgba(191, 200, 214, 0.13);
        border-radius: 3px;

    }

    .drop-hide {
        opacity: 0;
        display: none;
        transition: opacity .3s ease-out;
    }

    .drop-show {
        display: inline-block;
        opacity: 1;
        transition: opacity .3s ease-in;
    }
    .down-img {
        width: 8px;
        position: absolute;
        right: 8px;
        top: 18px;
    }
    ul {
        padding-left: 0px;
        margin: 0;
        // margin-bottom: 30px;
    }
    .select-drop-down ul li {
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        // overflow: hidden;
        padding: 4px 16px;
        min-height: 20px;
        font-size: 13px;
    }

    .select-drop-down ul li:hover, .cid-title-active {
        background-color: rgba(68, 136, 255, 0.05);
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #D8D8D8;
        background-clip: content-box;
        border-top: 5px solid rgba(255, 255, 255, 0);
        border-bottom: 5px solid rgba(255, 255, 255, 0);
        border-right: 4px solid rgba(255, 255, 255, 0)
    }

    ::-webkit-scrollbar-track {
        background-color: #fbfbfb
    }
    
}
.cut-line{
    margin-top: 15px;
    height: 10px;
}

 // search style
 .search-wrapper {
    height: 50px;
    background: white;
    border-radius: 3px;
    box-shadow: 1px 0 6px 0 rgba(191,200,214,0.12), 1px 0 4px 0 rgba(191,200,214,0.31);
    display: inline-flex;
    font-size: 14px;
    padding-right: 10px;
    &-left ,&-middle,&-right{
        display: inline-flex;
    }
    &-left{
        font-size: 14px;
        width: 116px;
        padding-left: 18px;
        align-items: center;
        justify-content: center;
        & span {
            display: inline-block;
            margin-left: 8px
        }
        i {
            display: block;
            height: 34px;
            width: 1px;
            background-color: #D6DBE4;
        }
        .mu-dropDown-menu-line{
            display: none
        }
        .mu-dropDown-menu-text-overflow{
            width: 60px;
        }
        .mu-dropDown-menu-text{
            padding-left: 0;
        }
    }
    &-middle {
        input[type="text"], input:focus,input:hover {
            outline:  none;
            border: none;
            padding-left: 24px;
            width: 230px;

        }
    }
    &-right {
        align-items:center
    }
}
.nav-title{
    font-size: 24px;
    hr{
        width: 100%;
        background: #68728c;
        opacity: .2;
    }
}