<template>
    <div class="client-warp">
         <div class="Grad-between">
            <div class="search-wrapper">
                <!-- <div class="search-wrapper-left">
                    <mu-dropDown-menu :value="value" @change="handleChange">
                        <mu-menu-item value="merchant_name" title="商户名"/>
                        <mu-menu-item value="id" title="商户ID"/>
                    </mu-dropDown-menu>
                    <i></i>
                </div> -->
                <div class="search-wrapper-middle">
                    <input type="text" placeholder="请输入商户名/商户ID" v-model="search.item" @keydown.enter="Search(search)">
                </div>
                <div class="search-wrapper-right">
                    <mu-raised-button class="demo-raised-button add-icon" label="查询" icon="search" primary @click="Search(search)"/>
                </div>
            </div>
             <mu-raised-button class="demo-raised-button add-icon" label="新增商户" icon="add" primary @click="addNew()"/>
        </div>

       
        <div class="card">
            <div class="table">
                <table>
                    <thead>
                    <tr>
                        <td class="text-center">序号</td>
                        <td>商户ID</td>
                        <td>商户名</td>
                        <td>公司</td>
                        <td>系统名</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(list,index) in clientList " :key="index">
                        <td class="text-center"> {{ index +1}}</td>
                        <td>{{list.id}}</td>
                        <td>
                            {{list.merchant_name}}
                        </td>
                        <td>{{list.company}}</td>
                        <td>{{list.system}}</td>
                        <td>
                            <Turn @isChecked = "getSingleStatus" :isChecked="list.active" :isDisabled="true" :seed="list"></Turn>  
                            <!-- <div class="default-btn" @click="ChangeStatus(true,list)"  :class="{'active-btn': list.active}">启用</div>
                            <div class="default-btn" @click="forbiddenClient(list)" :class="{'forbidden-btn': !list.active}">禁用</div> -->
                        </td>
                        <td>
                            <div class="default-btn" @click="editUser(list)">编辑</div>
                            <div class="default-btn" @click="userDelete(list)">删除</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
         <!-- 新增商户 & 编辑商户 -->
        <mu-dialog :open="add" :title='title'>

            <div class="normal-input">
                <label>商户名:</label>
                <input type="text"  v-model="user.merchant_name" placeholder="商户名">
            </div>
            <div class="normal-input">
                <label>公司:</label>
                <div class="select-wrapper" @mouseleave="isSelect = false">
                    <div class="select-item" @click="isSelect= !isSelect">
                        {{user.company}}
                    <img src="../../../assets/img/down.png" alt="" class="down-img">
                    </div>
                    <div class="select-drop-down pop-down" :class="{'drop-hide': !isSelect,'drop-show':isSelect}">
                        <ul>
                            <li @click="getUserCompany(names)" v-for="(names ,index) in companyList" :key="index">{{names.name}}</li>
                        </ul> 
                    </div>
                </div>
            </div>
            <div class="normal-input">
                <label>系统名:</label>
                <input type="text" v-model="user.system" placeholder="系统名称">
            </div>
            <br> 
            <p class="cut-line"  v-if="sort == 2"></p>
            <div class="normal-input" v-if="sort == 1">
                <span class="state-label">状态:</span>
                <div class="radio-normal">
                    <Turn @isChecked = "getStatus" :isChecked="user.active" :isDisabled="true" :seed="user"></Turn>    
                </div>
            </div>
            <mu-raised-button label="确定" slot="actions" primary @click="save()"/>
            <mu-raised-button slot="actions"  label="取消" @click="add = false; user= {}"/>
        </mu-dialog>
        <mu-dialog :open="alert" title="提示">
            {{msg}}
            <mu-flat-button label="确定" slot="actions" primary @click="alert=false"/>
        </mu-dialog>
         <mu-dialog :open="info" title="确定删除"  >
            确认删除此商户么？
            <mu-raised-button label="确定" slot="actions" primary @click="deleteClient()"/>
            <mu-raised-button label="关闭" slot="actions"  @click="info=false"/>
        </mu-dialog>
        <mu-dialog :open="forbidden" title=""  >
            该商户当前所有ID累计验证请求量为： {{total}}
            <br>
            禁用有风险，是否禁用？
            <mu-raised-button label="确定" slot="actions" primary @click="ChangeStatus(false,currentClient)"/>
            <mu-raised-button label="关闭" slot="actions"  @click="forbidden=false"/>
        </mu-dialog>

        
    </div>
</template>

<script>
import {getAllMerchant, getMerchantUser, AddMerchant, MerchantSearch, MerchantEdit, MerchantDelete, MerchantContral, MerchantforbiddenRule,getallCompanyName } from "api/admin"
import Turn  from "components/turn-radio"
    export default{
        data() {
            return {
                add: false,
                alert: false,
                msg:'',
                user: {active:true,company:'--请选择--'},
                clientList:[],
                clientUser:[],
                info:false,
                search:{item:''},
                title:'',
                sort: 1,
                currentClient:{},
                currentStatus:true,
                forbidden:false,
                total:'',
                isSelect:false,
                companyList:[],
               
            }
        },
        methods: {
            addNew() {
                this.title = '新增商户'
                this.add = true;
                this.sort = 1;
                this.user.active = true;
                this.user.company = '--请选择--';
                this.isSelect = false;
            },
            save() {
                if(this.sort == 1){
                    let data = {
                        ...this.user
                    }
                    console.log(data)
                    if(this.user.company == '--请选择--'){
                       this.alert = true;
                       this.msg = '公司不能为空';
                       return
                    }
                    AddMerchant(data).then(res =>{
                        if(res.data.status == 1){
                            this.add = false;
                            this.user = {}
                            this.getClient()
                        }
                        else{
                            this.alert = true;
                            this.msg = res.data.msg
                        }
                    })
                }else if (this.sort == 2){
                    // 编辑
                    //this.user.active = this.currentStatus
                    console.log(this.user)
                    MerchantEdit(this.user).then(res =>{
                        if(res.data.status == 1){
                            this.add = false;
                            this.getClient()
                        }
                        else{
                            this.alert = true;
                            this.msg = res.data.msg
                        }
                    })
                }
              
            },
            getClient() {
                // 获取所有商户列表
                getAllMerchant().then(res =>{
                    if(res.data.status == 1){
                        this.clientList = res.data.data
                    }
                    else{
                        this.alert = true;
                        this.msg = res.data.msg
                    }
                })
            },
            // 查看商户下的用户信息
            check(e){
                this.info = true
                getMerchantUser({'merchant_id':e.id}).then(res =>{
                    if(res.data.status == 1){
                        this.clientUser = res.data.data
                    }
                })
            },
            // handleChange(value){
            //      this.value = value
            // },
            // search
            Search(e){
                let data = {
                    // option: this.value,
                    key: e.item
                }
                MerchantSearch(data).then(res =>{
                    if(res.data.status == 1){
                        this.clientList = res.data.data
                    }
                    else{
                        this.alert = true;
                        this.msg = res.data.msg
                    }
                })

            },
            getStatus(e) {
                this.user.active = !this.user.active

            },
            getSingleStatus(e){
                // 启用
                if(!e.status){
                    this.ChangeStatus(!e.status, e.seed)
                }
                // 禁用
                else{
                    this.forbiddenClient(e.seed)
                }

            },
            // 编辑商户
            editUser(e){
                this.title = '编辑商户'
                this.add = true;
                this.sort = 2
                // this.user = e;
                this.user = Object.assign({}, e)
                this.currentClient = e;
                this.currentStatus = e.active;
                this.isSelect = false;
            },
            // 删除用户
            userDelete(e) {
                this.currentClient = e;
                this.info = true
            },
            deleteClient(){
                MerchantDelete({id:this.currentClient.id}).then(res =>{
                    if(res.data.status !== 1){
                            this.alert = true;
                            this.msg = res.data.msg;
                    }
                    else{
                        this.info = false;
                        this.alert = false
                    }
                    this.getClient()
                })

            },
            ChangeStatus(e,t){
                let data = {
                    id: t.id,
                    active : e
                }
                console.log(data)
                MerchantContral(data).then(res =>{
                   if(res.data.status !== 1){
                       this.alert = true;
                       this.msg = res.data.msg;
                   }
                   this.forbidden = false;
                   this.getClient()
               })
            },
            forbiddenClient(data){
               if(data.active){
                    this.currentClient = data
                    MerchantforbiddenRule({ mid: data.id}).then(
                        res =>{
                            if(res.data.status == 1){
                                  this.forbidden = true
                                  this.total = res.data.data.register
                            }else{
                                this.alert = true;
                                this.msg = res.data.msg
                            }
                        }
                   )
               }

            },
            // 选取商户
            getUserCompany(e){
                this.isSelect = false;
                this.user.company = e.name
            },
            // 获取公司列表
            getAllCompany(){
                getallCompanyName().then(res =>{
                    if(res.data.status == 1){
                        this.companyList = res.data.data
                    }
                    else{
                        this.companyList = []
                    }
                })
            }

        },
        created() {
            this.getClient()
            this.getAllCompany()
        },
        components:{Turn}
    }

</script>
<style lang="less" rel="stylesheet/less">
    .mu-dialog-body .mu-text-field:nth-child(2n) {
        margin-left: 32px;
    }

    tbody tr td:last-child {
        width: 150px;
    }

    td {
        .mu-icon-button {
            height: 47px;
            i {
                font-size: 16px;
            }
        }
    }

    .client-warp {
        padding-top: 40px;
        .mu-raised-button {
            z-index: 1;
        }
        .add-icon {
            font-size: 14px;
            i {
                font-size: 16px;
            }
        }
        .card {
            margin-top: 24px;
        }
         .card-input{
        width: 200px;
    }
    .demo-popup-top {
        width: 100%;
        opacity: .8;
        height: 48px;
        line-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 375px;
    }
    .default-btn{
            display: inline-block;
            margin-left: 8px;
            box-shadow: 1px 0 6px 0 rgba(191,200,214,0.12), 1px 0 4px 0 rgba(191,200,214,0.31);
            border-radius: 3px;
            border: 1px solid #D6DBE4;
            font-size: 13px;
            text-align: center;
            line-height: 20px;
            padding: 0 10px;
            cursor: pointer;
    }
    .active-btn{
            display: inline-block;
            margin-left: 8px;
            box-shadow: 1px 0 6px 0 rgba(191,200,214,0.12), 1px 0 4px 0 rgba(191,200,214,0.31);
            border-radius: 3px;
            border: 1px solid #D6DBE4;
            font-size: 13px;
            text-align: center;
            line-height: 20px;
            padding: 0 10px;
            cursor: pointer;
            background-color: #347EFF;
            color: white;
    }
        .forbidden-btn{
            display: inline-block;
            margin-left: 8px;
            box-shadow: 1px 0 6px 0 rgba(191,200,214,0.12), 1px 0 4px 0 rgba(191,200,214,0.31);
            border-radius: 3px;
            border: 1px solid #D6DBE4;
            font-size: 13px;
            text-align: center;
            line-height: 20px;
            padding: 0 10px;
            cursor: pointer;
            background-color: #d6dbe4;
            color: white;
        }
        .has-auth{
            margin-bottom: 16px;
            font-size: 14px;
            p {
                font-size: 14px;
                margin: 0;
            }
        }
    }
    .normal-input:nth-child(2n){
        margin-left: 30px
    }
    .normal-input {
        width: 240px;
        display: inline-block;
        input {
            width: 240px;
            border-radius: 3px;
            padding: 8px 8px;
            font-size: 14px;
            border: 1px solid #ECEEF1;
            color: #68728c;
            background-color: rgba(68, 136, 255, 0.02)
        }
        label {
            font-size: 14px;
            display: inline-block;
            margin-bottom: 6px;
            margin-top: 16px;
            color: rgba(104,114,140,0.5);
        }
        .state-label {
            display: inline-block;
            margin-right: 16px
        }
        input[type='text']:focus {
            border: 1px solid rgba(68, 136, 255, 0.6) !important;
            box-shadow: 0 0 3px 0 rgba(68, 136, 255, 0.49);
            outline: none;
        }
        .radio-normal {
            display: inline-block;
            input[type='radio'] {
                width: auto;
                // display: none
            }
            & label {
                position: relative;
            }
        }

    }
</style>


