<template>
    <div class="userinfo">
        <div class="card">
            <div class="title">用户信息</div>
            <div class="info-warrper">
                <div class="info-name">用户账户：</div>
                <div class="info-value">
                  {{UserInfo.login_name}}
                </div>
            </div>
            <div class="info-warrper">
                <div class="info-name"> 姓名:</div>
                <div class="info-value">
                    {{UserInfo.name}}
                </div>
            </div>
            <div class="info-warrper">
                <div class="info-name">手机号：</div>
                <div class="info-value">
                    {{UserInfo.tel}}
                </div>
            </div>
            <div class="info-warrper">
                <div class="info-name">邮箱：</div>
                <div class="info-value">
                   {{UserInfo.email}}
                </div>
            </div>
            <div class="info-warrper">
                <div class="info-name">创建时间：</div>
                <div class="info-value">
                    {{UserInfo.create_time | changeTimeFormata}}
                </div>
            </div>
        </div>
        
    </div>
    
</template>
<script>
import{userInfo} from "api/user"
export default {
    data(){
        return {
            UserInfo:{}
        }
    },
    methods:{
        // 获取用户信息
            getUserInfo(e) {
                userInfo({}).then(res=>{
                    if(res.data.status == 1){
                        this.UserInfo = res.data.data
                    }
                })
            },
    },
    created(){

        this.getUserInfo()
    }
}
</script>

<style lang="less">
@base-gap: 8px;
.userinfo{
    margin: 35px;
    background: white;
    .title{
        padding-top: 30px;
        padding-left: 30px;
        font-size: 18px;
        font-weight: 500

    }
    .info-warrper:last-child{
        padding-bottom: 16px
    }
    .info-warrper{
        padding-left: 30px;
        margin-top: 18px;
        .info-name{
            display: inline-flex;
            width: 120px;
            font-weight: 500;
            align-items: center;
        }
        .info-value{
            display: inline-flex
        }

        
    }
}
</style>

