<template>
    <div id="base-setting">
        <div class="nav-title">
           管理设置
            <hr>
        </div>
        <div class="select-wrapper-card">
            <board  @changeGtId='getCurrentId' :caplist ='getCaptcha'></board>
        </div>
        <div class="card card-relative">
            <!-- <div class="card-title">管理设置</div> -->
            <div class="board-content">
                <mu-tabs :value="activeTab" @change="handleTabChange">
                    <mu-tab value="tab1" title="基础设置"/>
                    <mu-tab value="tab2" title="安全设置"/>
                </mu-tabs>
                <div class="tab-content" v-if="activeTab === 'tab1'">
                    <div class="tit title">自定义图集</div>
                    <div class="containner">
                        <div class="img-box">
                            <div class="img-list" v-for="(pic,index) in selfImgList" :key="index">
                                <div class="flex-block">
                                    <div class="imgs-mask-hide">
                                        <button class="current-btn" @click="isUsedPic(pic)" v-if="pic.active">{{pic.used?'取消使用':'使用图集'}}</button>
                                        <div class="eye-card" @click="checkDetailPic(pic)">
                                            <i class ="remove_red_eye material-icons eye-tip">remove_red_eye
                                                <div class="desc-wrapper pop-up">
                                                <div class="arrows"></div>
                                                    查看详情
                                                </div>
                                            </i>
                                        </div>
                                    </div>
                                    <div class="imgs-mask-show" v-if="pic.used">
                                        <mu-float-button icon="done"  class="demo-float-button"/>
                                    </div>
                                    <img :src="pic.name" alt="">
                                     <!-- <span class="pic-state" :class="{'pic-state3':pic.active,'pic-state1':!pic.active}"> {{pic.active?'已启用':'已禁用'}}</span> -->
                                </div>
                                <p class="pic-name">
                                    {{pic.title}} 
                                   
                                </p>
                            </div>
                        </div>
                    </div>
                    <div v-if="show_page2" >
                        <mu-pagination :total="total" :current="current" @pageChange="changePage" :pageSize="20">
                        </mu-pagination>
                    </div>
                </div>
                <div class="tab-content" v-if="activeTab === 'tab1'">
                    <div class="tit title">公共图集</div>
                    <div class="containner">
                        <div class="img-box">
                            <div class="img-list" v-for="(pic,index) in imgList" :key="index">
                                <div class="flex-block">
                                    <div class="imgs-mask-hide">
                                        <button class="current-btn" @click="isUsedPic(pic)">{{pic.used?'取消使用':'使用图集'}}</button>
                                        <div class="eye-card" @click="checkPubPic(pic)">
                                            <i class ="remove_red_eye material-icons eye-tip">remove_red_eye
                                                <div class="desc-wrapper pop-up">
                                                <div class="arrows"></div>
                                                    查看详情
                                                </div>
                                            </i>
                                        </div>
                                    </div>
                                    <div class="imgs-mask-show" v-if="pic.used">
                                        <mu-float-button icon="done"  class="demo-float-button"/>
                                    </div>
                                    <img :src="pic.name" alt="">
                                </div>
                                <p class="pic-name">
                                    {{pic.title || '--'}} 
                                </p>
                            </div>
                        </div>
                    </div>
                     <div v-if="show_page1">
                        <mu-pagination :total="totalPage" :current="currentPage" @pageChange="changePage1" :pageSize="20">
                        </mu-pagination>
                    </div>
                </div>
                

                <div class="tab-content tab2" v-if="activeTab === 'tab2'">
                    <div class="tit title">AI 智能决策引擎</div>
                    <mu-row gutter class="row">
                        <!-- <mu-col class="mar-bottom-40px" width="100" tablet="55" desktop="50">
                            <h3>全智能 AI 模型</h3>
                            <p class="tit tips">由 AI 根据当前势态智能决策，给予用户不同的行为沙盒，全智能下安全和体验是最优的选择</p>
                            <mu-radio label="全智能 AI 模型" name="group" nativeValue="rie" v-model="radioChild"
                                      class="demo-radio mar-left-40" @change="handleRadioParentChange('rie')"/>
                            <img class="sample-img" src="../../../assets/img/ai_logo.png"/>
                        </mu-col> -->
                        <mu-col width="100" tablet="55">
                            <h3>全人工 AI 模型</h3>
                            <p class="tit tips">完全自定义行为沙盒，此规则下 AI 只做感知和基础决策。在已限定的行为沙盒中，安全和体验受具体决策影响</p>
                             <div class="user-safe-type">
                                 <RadioGrap v-model="is_active">
                                    <Radio label="0">
                                        <span>滑动行为验证 <toolTip :text="'完全自定义行为沙盒，此规则下限定为固定的滑动行为验证。'"></toolTip></span> 
                                        <div class="type type1">
                                        </div>
                                    </Radio>
                                    <Radio label="1">
                                        <span>
                                        AI + 滑动
                                        <toolTip :text="'由AI根据当前势态智能决策，给予用户不同的行为沙盒，包含直接通过和滑动行为验证'"></toolTip>
                                        </span>
                                        <div class="type type2">
                                        </div>
                                    </Radio>
                                    <Radio label="2">
                                        <span>图文行为验证
                                            <toolTip :text="'完全自定义行为沙盒，此规则下限定为固定的图文行为验证。'"></toolTip>
                                        </span>
                                        <div class="type type3">
                                        </div>
                                    </Radio>
                                    <Radio label="3">
                                        <span>
                                            AI + 大图
                                            <toolTip :text="'由AI根据当前势态智能决策，给予用户不同的行为沙盒，包含直接通过和图文行为验证'"></toolTip>
                                        </span>
                                        <div class="type type4">
                                        </div>
                                    </Radio>
                                </RadioGrap>
                             </div>
                             
                     <div class="safe-sure">
                        <mu-raised-button class="demo-raised-button add-icon" label="确认"  primary @click="getChange"/>
                    </div>
                            <!-- <mu-radio label="滑动行为验证" class="demo-radio mar-left-40" name="slide"
                                      v-model="radioChild"
                                      nativeValue="slide" @change="handleRadioChildChange('slide')"/>
                            <img class="sample-img" src="../../../assets/img/imgslider.png"/>
                            <br/>
                            <mu-radio label="图文行为验证" class="demo-radio mar-left-40" name="bigimg"
                                      v-model="radioChild"
                                      nativeValue="click" @change="handleRadioChildChange('click')"/>
                            <img class="sample-img" src="../../../assets/img/bigpicture.png"/> -->
                        </mu-col>
                    </mu-row>

                       

                </div>
            </div>
            
            <div class="base-loading" v-if="isLoading">
                <div class="sk-fading-circle">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
                <div class="loading-blur"></div>
            </div>
        </div>
         <mu-dialog :open="alert" title="提示">
            {{msg}}
            <mu-flat-button label="确定" slot="actions" primary @click="alert=false"/>
        </mu-dialog>
        <mu-dialog :open="Pic" title="图集操作">
            是否确认{{active?'启用':'禁用'}}此图集么？
            <mu-raised-button slot="actions" label="取消" @click="Pic = false"/>
            <mu-raised-button label="确定" slot="actions" primary @click="reActive(active)"/>
        </mu-dialog>
        <mu-dialog :open='detailPic' title="图集详情">
            <div class="pic-detail">
                <div class="detail-title">商户名称：<p>{{currentPic.merchant_name}}</p></div>
                <div class="detail-title">图集名称：<p>{{currentPic.picset_name}}</p></div>
                <div class="detail-title">审核状态：<p>{{currentPic.verify}}</p> </div>
                <div v-if="currentPic.reason" class="detail-title">审核原因：<p>{{currentPic.reason}}</p></div>
                <img :src='currentPic.picset'>
            </div>
            <mu-raised-button label="确定" slot="actions" primary @click="detailPic = false"/>
        </mu-dialog>
         <mu-dialog :open='detailPics' title="公共图集">
            <div class="pic-detail">
                <div class="detail-title">图集名称：<p>{{currentPic.tittle || '--'}}</p></div>
                <div class="detail-title">图集状态：<p>{{currentPic.active}}</p></div>
                <img :src='currentPic.name'>
            </div>
            <mu-raised-button label="确定" slot="actions" primary @click="detailPics = false"/>
        </mu-dialog>

    </div>
</template>

<script>
    import https from "axios";
    import Board from 'components/data-board';
    import {imgsApi, imgSelectApi, imgCancelApi, showAiApi, setAiApi} from "api/setting";
    import { mapState, mapActions, mapGetters } from 'vuex';
    import Radio from "components/radio";
    import RadioGrap from "components/radio-grap";
    import toolTip from 'components/tooltip';
    import {customerCheckedPic, customerIsUsed, customerChoosePic,customerCanclePic, customSelfPicDetail,getCommonPicChecked,customMerchantActivePicList} from 'api/picture'
    export default {
        data() {
            return {
                activeTab: "tab1",
                pid: "",
                imgList: [],
                radioParent: "",
                disabled: true,
                boardInfo: {},
                alert:false,
                msg:'',
                isLoading: false,
                selfImgList:[],
                Pic:false,
                active:false,
                currentPic:{},
                detailPic:false,
                Tplist :[
                    {   
                        urgency: true,
                        normal_type: 'slide'
                        
                    },
                    {
                        urgency: false,
                        normal_type: 'slide'
                        
                    },
                    {
                        urgency: true,
                        normal_type: 'click'
                        
                    },
                    {
                         urgency: false,
                        normal_type: 'click'
                       
                    },
                    {
                        urgency: false,
                        normal_type: 'rie'
                        
                    }
                ],
                is_active:'0',
                detailPics:false,
                total:20,
                current:1,
                totalPage:20,
                currentPage:1,
                show_page1:false,
                show_page2:false
                

            };
        },

        created() {
            this.cid = parseInt(window.sessionStorage.getItem('current_id'));
            this.getImgs(this.cid);
            this.getAi();
            this.getCustPic()
        },
        mounted() {
        },
        computed:{
            ...mapState([
                'cidCurrent',
            ]),
        },
        props:['getCaptcha','Merchant'],
        methods: {
            getCurrentId(e){
                this.cid = e;
                this.getImgs(e);
                this.getAi();
                this.getCustPic()
            },
            handleTabChange(val) {
                this.activeTab = val;
            },
            // 获取默认样式设置参数
            getAi() {
                showAiApi({'cid': this.cid}).then(res => {
                    if (res.data.status === 1) {
                         let t = JSON.parse(JSON.stringify(res.data.data))
                        for(var i = 0; i<5;i++){
                            if(this.Tplist[i].urgency == t.urgency && this.Tplist[i].normal_type == t.normal_type){
                                this.is_active = String(i)
                            }
                    }
                }
                else {
                        this.is_active = String(6)
                    }
                })
            },
            // 设置验证形式 
            getChange() {
                let data = this.Tplist[this.is_active];
                data.cid = this.cid;
                setAiApi(data).then(res => {
                    this.isLoading = false;
                    if (res.data.status === 1) {
                        this.alert = true;
                        this.msg = '设置成功'
                    }
                    else {
                        this.alert = true;
                        this.msg = res.data.msg
                    }
                    this.getAi()
                })
            },
            // 共有图集
            getImgs(tempcid) {
                getCommonPicChecked({'cid': tempcid, 'mid':this.Merchant,'page':this.currentPage}).then(res => {
                    if (res.data.status === 1){
                         this.imgList = res.data.data;
                         this.totalPage = res.data.page.count;
                         this.show_page1 = res.data.page.num_pages == 1?false:true;
                    }
                    else {
                            this.alert = true;
                            this.msg = res.data.msg
                    }
                });
            },
            //获取自定义图集
            getCustPic(){
                let data = {
                    mid : this.Merchant,
                    cid: this.cid,
                    page: this.current
                }
                customMerchantActivePicList(data).then(res =>{
                    if(res.data.status == 1){
                        this.selfImgList = res.data.data;
                        this.totol = res.data.page.count;
                        this.show_page2 = res.data.page.num_pages == 1?false:true;
                    }
                    else{
                         this.alert = true;
                         this.msg = res.data.msg
                    }
                })
            },
            setImgs(data) {
                this.isLoading = true;
                let param = {'cid': this.cid, 'pid': data.pid};
                if (data.selected) {
                    imgCancelApi(param).then(res => {
                        this.isLoading = false;
                        if (res.data.status === 1) {
                            this.alert = true;
                            this.msg = '设置成功'
                            this.getImgs(this.cid);
                        }
                        else {
                            this.alert = true;
                            this.msg = res.data.msg
                        }
                    });
                } else {
                    imgSelectApi(param).then(res => {
                        this.isLoading = false;
                        if (res.data.status === 1) 
                        {
                            this.alert = true;
                            this.msg = '设置成功'
                            this.getImgs(this.cid);
                        }
                        else {
                            this.alert = true;
                            this.msg = res.data.msg
                        }
                    });
                }
            },
            // 图集的使用和取消
            isUsedPic(e){
                console.log(e)
                let data = {
                    pid: e.id,
                    cid: this.cid
                }
                // !e.used ==true 使用图集
                if(!e.used){
                    customerChoosePic(data).then(res =>{
                        if(res.data.status == 1){
                            this.getCustPic()
                            this.getImgs(this.cid)
                        }
                        else{
                            this.alert = true;
                            this.msg = res.data.msg
                        }
                    })
                }
                else{
                    customerCanclePic(data).then(res =>{
                        if(res.data.status == 1){
                            this.getCustPic()
                            this.getImgs(this.cid)
                        }
                        else{
                            this.alert = true;
                            this.msg = res.data.msg
                        }
                    })
                }
            },
            // 图集详情
            checkDetailPic(e){
                customSelfPicDetail({pid:e.id}).then(res =>{
                    if(res.data.status == 1){
                        this.detailPic = true;
                        this.currentPic = res.data.data
                    }
                    else{
                        this.alert = true;
                        this.msg = res.data.msg
                    }
                })
            },
            checkPubPic(e){
                console.log(e)
                this.currentPic = e;
                this.detailPics = true
            },
            // 自定义图集分页
            changePage(e){
                this.current = e;
                this.getCustPic();
            },
            // 公共图集分页
            changePage1(e){
                this.changePage = e;
                this.getImgs(this.cid)
            }
        },
        watch:{
            getCaptcha(){
                this.cid = this.getCaptcha[0].id
                this.getImgs(this.cid);
                this.getAi();
                this.getCustPic()
            },
            Merchant(){
            }
        },
        components: {
            Board,
            Radio, 
            RadioGrap,
            toolTip
        },
        beforeDestroy() {
        }
    };
</script>
<style lang="less" rel="stylesheet/less">
    #base-setting {
        #board{
            .row{
                .col{
                    display: block;
                    box-sizing: border-box;
                }
            }
        }
        .select-wrapper-card{
            margin: 20px 0;
        }
        .demo-grid {
            .right-float {
                justify-content: flex-start;
            }
            .row {
                .col {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .board-content {
            padding: 24px;
            .title {
                display: inline-block;
                background-color: white;
                position: absolute;
                top: -8px;
                left: 8px;
                color: rgba(85, 85, 85, 0.4);
                opacity: 1;
                padding: 0 8px;
            }
            .mu-tabs {
                max-width: 180px;
            }
            .tab-content {
                padding: 40px 20px;
                border: 1px solid #f3efef;
                border-radius: 6px;
                margin-top: 24px;
                position: relative;
                .tit {
                    max-width: 246px;
                    margin-bottom: 16px;
                    margin-top: 0;
                }
            }
            .tab2 {
                .row {
                    max-width: 680px;
                }
            }
           
            .mar-bottom-40px {
                margin-bottom: 40px;
            }
            .mu-tab-link {
                padding-left: 0;
                padding-right: 0;
            }
            .sample-img {
                width: 200px;
                height: auto;
                border: 1px solid #dadada;
                border-radius: 4px;
                // margin-left: 40px;
            }
        }
        .imgitem {
            border-radius: 4px;
            transition: all 0.2s ease-in-out;
            position: relative;
            background-color: #fff;
            margin-bottom: 24px;
            overflow: hidden;
            max-width: 256px;
            box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
            transition: all 0.2s ease;
            .img-mask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.55);
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                opacity: 0;
                transition: all 0.2s ease;
                .using-btn,
                .using-btn-green {
                    cursor: pointer;
                    top: 86px;
                    left: 102px;
                    padding: 0 16px;
                    line-height: 32px;
                    border: 1px solid rgba(255, 255, 255, 0.35);
                    border-radius: 36px;
                    color: rgba(255, 255, 255, 0.9);
                    font-size: 13px;
                    opacity: 1;
                    transform: translateY(-10px);
                    transition: all 0.2s ease-in-out;
                    z-index: 2;
                }
                .using-btn:hover {
                    background-color: #347eff;
                    border: 1px solid #347eff;
                }
                .using-btn-green {
                    border: 1px solid rgba(0, 206, 167, 0.47);
                    background-color: #00cea7;
                    transform: translateY(0);
                }
            }
            .img-mask-using {
                opacity: 1;
            }
            &:hover {
                transform: translateY(-4px);
                box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
                .img-mask {
                    opacity: 1;
                    .using-btn {
                        transform: translateY(0);
                    }
                }
                .img-mask-using {
                    opacity: 0;
                }
            }
        }
        .card-relative{
            position: relative;
        }
        
    }
    .board-content{
        img {
            display: block;
            width: 100%;
            max-width: 260px;
            border: none;
            height: auto;
            border-radius: 4px 4px 0 0;
        }
    }

    .pad-8{
        padding: 8px;
    }
    .gridlist-demo-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .gridlist-demo {
        width: 500px;
        height: 450px;
        overflow-y: auto;
    }

    .gridlist-inline-demo {
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
    }
    .base-loading{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(248, 248, 248, 0.4);
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loading-blur{
        position: absolute;
        width: 100%;
        height: 100%;
        background: hsla(20, 100%, 100%, 0.57);
        background-size: 41px 100%,61px 100%,83px 100%;
        filter: blur(10px);
    }
    .sk-fading-circle {
        margin: 100px auto;
        width: 40px;
        height: 40px;
        position: relative;
        z-index: 999
    }

    .sk-fading-circle .sk-circle {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .sk-fading-circle .sk-circle:before {
        content: '';
        display: block;
        margin: 0 auto;
        width: 15%;
        height: 15%;
        background-color:#347EFF;
        border-radius: 100%;
        -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
        animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    }
    .sk-fading-circle .sk-circle2 {
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    .sk-fading-circle .sk-circle3 {
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
    }
    .sk-fading-circle .sk-circle4 {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .sk-fading-circle .sk-circle5 {
        -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        transform: rotate(120deg);
    }
    .sk-fading-circle .sk-circle6 {
        -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
        transform: rotate(150deg);
    }
    .sk-fading-circle .sk-circle7 {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .sk-fading-circle .sk-circle8 {
        -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
        transform: rotate(210deg);
    }
    .sk-fading-circle .sk-circle9 {
        -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
        transform: rotate(240deg);
    }
    .sk-fading-circle .sk-circle10 {
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    .sk-fading-circle .sk-circle11 {
        -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
        transform: rotate(300deg);
    }
    .sk-fading-circle .sk-circle12 {
        -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
        transform: rotate(330deg);
    }
    .sk-fading-circle .sk-circle2:before {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }
    .sk-fading-circle .sk-circle3:before {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
    }
    .sk-fading-circle .sk-circle4:before {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }
    .sk-fading-circle .sk-circle5:before {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }
    .sk-fading-circle .sk-circle6:before {
        -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s;
    }
    .sk-fading-circle .sk-circle7:before {
        -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s;
    }
    .sk-fading-circle .sk-circle8:before {
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
    }
    .sk-fading-circle .sk-circle9:before {
        -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s;
    }
    .sk-fading-circle .sk-circle10:before {
        -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s;
    }
    .sk-fading-circle .sk-circle11:before {
        -webkit-animation-delay: -0.2s;
        animation-delay: -0.2s;
    }
    .sk-fading-circle .sk-circle12:before {
        -webkit-animation-delay: -0.1s;
        animation-delay: -0.1s;
    }

    @-webkit-keyframes sk-circleFadeDelay {
        0%, 39%, 100% { opacity: 0; }
        40% { opacity: 1; }
    }

    @keyframes sk-circleFadeDelay {
        0%, 39%, 100% { opacity: 0; }
        40% { opacity: 1; }
    }
    .user-safe-type{
        label{
            margin-top: 24px;
        }
        .type{
            height: 138px;
            width: 200px;
            margin-top: 10px;
            border-radius: 4px;
        }
        .type1{
             background: url("../../../assets/img/imgslider.png") center no-repeat;
             background-size: contain;
              
        }
         .type2{
             background: url("../../../assets/img/AISlide.png") center no-repeat;
             background-size: contain;
        }
         .type3{
             background: url("../../../assets/img/bigpicture.png") center no-repeat;
             background-size: contain;
        }
         .type4{
             background: url("../../../assets/img/AIClick.png") center no-repeat;
             background-size: contain;
        }
    }
    .safe-sure{
            margin-top: 24px
        }
</style>
