<template>
    <div id="user">
        <div class="nav">
            用户管理
            <hr>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
    export default{
        data() {
            return {

            }
        },
        created() {

        },
        methods: {

        }
    }
</script>
<style lang="less" rel="stylesheet/less">
    #user{
        padding: 40px 35px;
        .nav{
            font-size: 24px;
            & hr{
                // height: 1px;
                width: 100%;
                background: #68728C;
                opacity: 0.2;
            }
        }
        

        .card {
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
            border-radius: 3px;
            background-color: white;
            margin-bottom: 16px;
            .card-title {
                height: 56px;
                padding-left: 24px;
                padding-right: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 16px;
                box-shadow: 0 1px 0 0 #f3efef;
                .demo-raised-button {
                    font-size: 14px;
                    font-weight: 300;
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
        .mark {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .mark-blur {
                width: 100%;
                height: 100%;

                .w-opcity {
                    width: 100%;
                    height: 100%;
                    background-color: #FFF;
                }
            }

        }
    }
</style>
