<template>
    <div id="data">
        <router-view :getCaptcha="getCaptchaList" :isHasCapId="isHasCapId" v-if="isHasCapId"></router-view>
        <div v-if="!isHasCapId && hasMerchant" class="card_cap">
            此商户暂时没有ID; 请前往
            <router-link to="/base/overview" style="color:#347dfc">概览</router-link>
            页进行新增  
        </div>
        <div v-if="!hasMerchant" class="card_cap">
              此用户暂时没有绑定的商户; 请联系管理员添加。 若您是管理员请切换至管理后台进行添加  
        </div>
         <div v-if="!hasMerchant" class="card_cap">
              此用户暂时没有绑定的商户; 请联系您的管理员添加。 
        </div>
    </div>
</template>
    
<script>
 
    export default{
        data() {
            return {
            }
        },
        props:['getCaptchaList','isHasCapId','hasMerchant'],
        created() {
        },
        methods: {
        },
        watch:{
            getCaptchaList(){
                // console.log(this.getCaptchaList)
            },
            isHasCapId(){},
           
        }
       
    }

</script>
<style lang="less" rel="stylesheet/less">
    #data {
        padding: 40px 35px;
        .nav {
            height: 300px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .card_cap{
            background: white;
            padding: 35px
        }
    }
</style>
