<template>
    <div id="base">
        <gt-header @merchantChange="getChange" @sentCaptchaList= 'getCaptcha' @hasCapId = 'hasCapId' @changePosition="getPosition" @noMerchant="noMerchant"></gt-header>
        <div class="slide">
            <side-bar :isUser="isUser"></side-bar>
        </div>
        <div class="content" :class="[sidebarWidth?'full-content':'hide-content']">
            <router-view :currentMercant='current_merchant' :getCaptchaList = 'captchaList' :isHasCapId ='isHasCap' @changeCapcount='changeCapcount' :hasMerchant='hasMerchant'></router-view>
        </div>
    </div>
</template>

<script>
  import {mapActions,mapGetters,mapState} from 'vuex';
  import gtHeader from "components/gt-header.vue";
  import sideBar from "components/sidebar";
  import {auth, isLogined} from "api/auth";
  import Cookies from 'js-cookie';
  import store from '../../store';

    export default{
        name: 'base',
        data() {
            return{
                msg:'',
                current_merchant: Number,
                captchaList:[],
                isHasCap: false,
                isUser:false,
                hasMerchant:true
            }
        },
        computed: {
             ...mapState([
                'sideWidth',
            ]),
            ...mapActions(['Login','LoginOut',]),
            ...mapGetters({
                sidebarWidth: 'sideWidth',
            }),
        },
        methods:{
            getChange(e){
                // 通知子组建更新内容
                this.current_merchant = e
            },
            getCaptcha(e){
                this.captchaList = e
            },
            hasCapId(e){
                this.isHasCap = e
            },
            changeCapcount(r){
                this.isHasCap = r
            },
            getPosition(t){
                this.isUser = t 
            },
            noMerchant(e){
                console.log(e)
                this.hasMerchant = e
            }


        },
        created(){
            // 判断是否是登录状态
            isLogined().then(res =>{
                if(res.data.status == 1){
                    // console.log('已登陆')
                }else{
                    this.$router.push({path:'/login'})
                }
            })
            
        },
        components:{
        gtHeader,
        sideBar
      }
    }

</script>
<style lang="less" rel="stylesheet/less">
    @sildebarWidth: 192px;
    .content {
        -webkit-transition: all .45s cubic-bezier(.23, 1, .32, 1);
        transition: all .45s cubic-bezier(.23, 1, .32, 1);
        padding-top: 64px;
    }
    .full-content{
        padding-left: @sildebarWidth;
    }
    .hide-content{
        padding-left: 60px;
    }

    .table_card {
        background-color: white;
        border-radius: 2px;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.12), 0 1px 4px 0 rgba(0,0,0,0.12);
    }

    .select-card {
        width: 100%;
        display: flex;
    }

    .select-box {
        width: 120px;
        display: inline-block;
        margin-right: 16px;
    }
    @media screen and(max-width : 1750px) {
        #total .select-card {
            flex-direction: column;
            .select-box {
                width: 16%;
            }
            .search-box {
                width: 208px;
            }
        }
    }

    .break-point  {
        display: flex;
    }
    .table {
        overflow-x: auto;
        padding: 24px;
    }
    table {
        width: 100%;
        padding: 24px;
        .hasOrder {
            cursor: pointer;
        }
    }

    table thead {
        color: rgba(85, 85, 85, 0.5);
        td {
            position: relative;
        }
        td .mu-icon {
            position: absolute;
        }
    }
    thead tr {
        border-bottom: 1px solid #c5c5c5;
    }

    tbody tr {
        border-bottom: 1px solid #e0e0e0;
    }

    /*tbody tr:hover {*/
        /*background-color: #F7F7F7;*/
    /*}*/

    td {
        height: 48px;
        padding-right: 10px;
        min-width: 80px;
        max-width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .overflow-td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
        word-wrap: break-word;
    }

    .search-btn{
        display: flex;
        align-items: center;
    }

    .time-box, .search-box {
        .mu-text-field.has-icon {
            padding-left: 32px;
        }
        .mu-text-field-icon {
            left: 0px;
            top: 8px;
        }
        .mu-text-field-hint {
            color: #bbb;
            font-size: 14px;
        }
        .mu-text-field.has-icon .mu-text-field-line, .mu-text-field.has-icon .mu-text-field-focus-line {
            left: 0px;
        }
    }

    .search-box {
        width: 208px;
        .mu-text-field {
            width: 208px;
            min-height: 32px;
        }
    }
    .check-box {
        display: inline-block;
        margin-bottom: 8px;
        padding-bottom: 12px;
        label {
            margin-right: 24px;
        }
        .checkbox-lable  {
            position: relative;
            top:-9px;
            margin-right: 20px;
            color: #bbb;

        }
    }
    .mu-pagination {
        border-top: 1px solid #ebebeb;
        padding-top: 12px;
        padding-bottom: 12px;

    }
    .mu-menu-destop {
        max-height: 400px;
    }
    .card {
        background-color: white;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.12), 0 1px 4px 0 rgba(0,0,0,0.12);
        border-radius: 3px;
        margin-bottom: 16px;
        .card-title {
            height: 48px;
            padding-left: 24px;
            padding-right: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            border-bottom: 1px solid #f3efef;
            .demo-raised-button {
                font-size: 14px;
                font-weight: 300;
                i {
                    font-size: 16px;
                }
            }
        }
    }
    .text-center {
        text-align: center;
    }
    table tbody a {
        color: #347EFF;
    }

</style>
