<template>
    <div id="board">
        <div class="card">
            <div class="card-title">基本信息</div>
            <div class="demo-grid board-content">
                <mu-row gutter>
                    <mu-col width="100" tablet="50" desktop="50">
                        <mu-select-field v-model="merchantCurrent" :labelFocusClass="['label-foucs']" label="选择商户" fullWidth
                                         :maxHeight="244" @change="merchantHandleChange">
                            <mu-menu-item v-for="(text,index) in merchants" :key="index" :value="index" :title="text.merchant_name"/>
                        </mu-select-field>
                    </mu-col>
                    <mu-col width="100" tablet="50" desktop="50">
                        <mu-select-field v-model="cid" :labelFocusClass="['label-foucs']" label="选择验证 ID" fullWidth
                                         :maxHeight="244" @change="cidHandleChange">
                            <mu-menu-item v-for="(text,index) in captchaIds" :key="index" :value="text.id" :title="text.title"/>
                        </mu-select-field>
                    </mu-col>
                </mu-row>
                <mu-row gutter>
                    <mu-col width="100" tablet="50" desktop="50">
                        <p class="tit">产品名称</p>
                        <p class="value">{{ cidCurrent.title }}</p>
                    </mu-col>
                    <mu-col width="100" tablet="50" desktop="50">
                        <p class="tit">产品网址</p>
                        <p class="value">{{ cidCurrent.site_url }}</p>
                    </mu-col>
                    <mu-col width="100" tablet="50" desktop="50">
                        <p class="tit">ID</p>
                        <p class="value">{{ cidCurrent.gt_id }}</p>
                    </mu-col>
                    <mu-col width="100" tablet="50" desktop="50">
                        <p class="tit">KEY</p>
                        <p class="value">{{ cidCurrent.gt_key }}</p>
                    </mu-col>
                </mu-row>
            </div>
        </div>
    </div>
</template>


<script>
    import { merchantsApi, captchasApi, boardInfoApi } from 'api/board';
    import {mapActions,mapGetters,mapState} from 'vuex';
    export default{
        data() {
            return {
                boardInfo: {}
            }
        },

        // props: ['boardInfo'],


        computed: {
            ...mapState([
                'merchants', 'merchantCurrent', 'captchaIds','cidCurrent','cid'
            ]),
            ...mapActions(['getMerchants','setMerchantCurrent']),
        },
        created(){
            

        },
        methods: {
            merchantHandleChange (value) {
                this.$store.dispatch('setMerchantCurrent', (value+1)).then();
            },

            cidHandleChange (value) {
                console.log(value);
                this.$store.commit('updateCid', value);
                this.$emit('changeGtId',value);
                console.log('child change');
                this.getBoardInfo(value);
            },
            getBoardInfo(cid){
                boardInfoApi({'captcha_id': cid}).then(res => {
                    if(res.data.status === 1){
                        this.$store.commit('updateCidCurrent',res.data.data);
                    }
                })
            }
        },
        watch:{
        }
    }

</script>

<style rel="stylesheet/less" lang="less">
    #board {
        .board-content {
            padding: 24px;
            max-width: 680px;
        }
        .code-toolbar {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            height: 48px;
            padding: 0 24px;
            background-color: #e8e8e8;
            cursor: pointer;
        }
        .card {
            .card-title {
                height: 48px;
                padding-left: 24px;
                padding-right: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 16px;
                border-bottom: 1px solid #f3efef;
                .demo-raised-button {
                    font-size: 14px;
                    font-weight: 300;
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
        .demo-infinite-container {
            width: 256px;
            height: 300px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            border: 1px solid #d9d9d9;
        }
        .mu-text-field.full-width{
            width: 80%;
        }
    }

</style>