<template>
    <div class="captcha" >
        <div class="loading" v-if="!isReady">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <div :id="ActiveCaptcha"></div>
    </div>
</template>
<script>
    import axios from 'axios'
    import {captchaApiSlide} from "api/captcha";
    import 'assets/js/gt.js';
    export default{
        name:'Captcha',
        data() {
            return {
                isReady: false,
                captchaObj:{},
                currentStatus : this.reSent,
                isDestroy :false,
                haveInitGeetest:false,
                initP :Promise
            }
        },
        props: {
            width:{
                default:"260px"
            },
            reSent: {
                type: Boolean
            },
            captchaId:{
                default:''
            },
            type:{
                type :String
            }

        },
        computed: {
            ActiveCaptcha () {
                return this.captchaId
            }
            
        },
        methods: {
             handlerEmbed(captchaObj) {
                let that = this;
                if (this.isDestroy) {
                     return;
                }
                    captchaObj.appendTo('#' + this.captchaId);
                    captchaObj.onReady(function () {
                        that.isReady = true;
                    })
                    let ele = this;
                    captchaObj.onSuccess(function () {
                        ele.captchaPass = captchaObj.getValidate();
                        ele.currentStatus = false;
                        ele.$emit('reSentEvent',ele.captchaPass,ele.currentStatus)
                    });
                
            },
            getSlideInit(){
                var that = this;
                captchaApiSlide().then(
                    function (res) {
                    var data = res.data;
                    if (that.isDestroy) {
                     return;
                    }
                    if(res.data.status == 1){
                        initGeetest({
                        gt: data.data.gt,
                        challenge: data.data.challenge,
                        new_captcha: data.data.new_captcha,
                        product: "embed",
                        offline: !data.data.success,
                        width:that.width,
                        protocol: 'https://',
                        https:true,
                        api_server:data.data.api_server,
                        static_servers:data.data.static_servers
                    }, function (captchaObj) {
                        that.captchaObj = captchaObj
                        that.handlerEmbed(captchaObj);
                        });
                    }
                    
                    }
                )
            },
        },
        mounted() {
        },
        created(){
            this.getSlideInit()
        },
        watch:{
        },
        components: {},
        destroyed () {
            this.isDestroy = true
        }
    }


</script>

<style scoped lang=less rel="stylesheet/less">
    .loading {
        width: 260px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f4f4;
        div {
            width: 10px;
            height: 10px;
            background-color: #347EFF;
            border-radius: 50%;
            display: inline-block;
            animation: bounceDelay 1s infinite ease-in-out;
            /* Prevent first frame from flickering when animation starts */
            animation-fill-mode: both;
            margin-left: 4px;
            &.bounce1 {
                animation-delay: -0.32s;
            }
            &.bounce2 {
                animation-delay: -0.16s;
            }
        }
        @keyframes bounceDelay {
            0%, 80%, 100% {
                transform: scale(0);
            }
            40% {
                transform: scale(1.0);
            }
        }
    }
</style>

