<template>
    <div id="board">
        <!-- <div> -->
            <!-- <div class="card-title">基本信息</div> -->
            <!-- <div> -->
                <!-- <mu-row gutter>
                    <mu-col width="100" tablet="50" desktop="50">
                            <mu-select-field v-model="currentCap" :labelFocusClass="['label-foucs']" label="选择验证 ID" fullWidth
                                         :maxHeight="244" @input="cidHandleChange">
                            <mu-menu-item v-for="(text,index) in currentCaplist" :key="index" :value="text" :title="text.title"/>
                        </mu-select-field>
                    </mu-col>
                </mu-row> -->
                <div class="board-select">
                    <label for="company">
                        ID选择 :
                    </label>
                    <div class="select-wrapper" @mouseleave="isSelect = false">
                        <div class="select-item" @click="isSelect= !isSelect">
                            <span>{{currentCap.title}} </span>
                        <img src="../assets/img/down.png" alt="" class="down-img">
                        </div>
                        <div class="select-drop-down pop-down" :class="{'drop-hide': !isSelect,'drop-show':isSelect}">
                            <ul>
                                <li @click="getBoardInfo(names.id)" v-for="(names ,index) in currentCaplist" :key="index">{{names.title}}</li>
                            </ul> 
                        </div>
                    </div>
                </div>
                <div class="board-info">
                    <div class="board-info-icon">
                        ?
                        <div class="pop-up board-text">
                            <div class="arrow"></div>
                                <div class="text">
                                    <h3>ID基本详情：</h3>
                                    <p>产品名称:{{currentCap.title}}</p>
                                    <p>产品网址：{{ currentCap.site_url }}</p>
                                    <p>ID：<span>{{ currentCap.gt_id }}</span></p>
                                    <p>KEY： <span>{{currentCap.gt_key}}</span></p>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- <div class="board-info"> -->
                    <!-- <h3>ID 基本信息</h3> -->
                    <!-- <div class="board-info-wrapper"> -->
                         <!-- <div class="table-cell"> -->
                            <!-- <span class="table-cell-title">产品名称:</span> -->
                            <!-- <div class="table-cell-data" v-if="!editTitle"> -->
                                <!-- {{ currentCap.title }} -->
                                <!-- <i class="edit-icon" @click="editTitle = true"></i> -->
                            <!-- </div> -->
                            <!-- <div class="normal-input" v-if="editTitle">
                                <input type="text" v-model="captachCurrent.title"> 
                                <span class="sure">确认</span>
                                <span class="cancle" @click="editTitle = false,getBoardInfo(captachCurrent.id)">/取消</span>
                            </div> -->
                        <!-- </div>  
                        <div class="table-cell">
                            <span class="table-cell-title">产品网址:</span>
                            <div class="table-cell-data">{{ currentCap.site_url }}</div>
                        </div>
                        <div class="table-cell">
                            <span class="table-cell-title">ID:</span>
                            <div class="table-cell-data">{{ currentCap.gt_id }}</div>
                        </div> 
                        <div class="table-cell">
                            <span class="table-cell-title">KEY:</span>
                            <div class="table-cell-data">{{ currentCap.gt_key }}</div>
                        </div>    -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    </div>
</template>


<script>
    import { merchantsApi, captchasApi, boardInfoApi } from 'api/board';

    import Cookie from "js-cookie"
    import {mapState,mapMutations} from 'vuex';
    export default{
        data() {
            return {
                currentCap: {},
                currentCaplist: [],
                isSelect:false,
                editTitle:false,

            }
        },
        computed: {
            ...mapState([
                 'captachCurrent'
            ]),
          ...mapMutations(['updateCaptchaCurrent'])
        },
        props:['caplist'],
        created(){
            let id = parseInt(window.sessionStorage.getItem('current_merchant'))
            this.getallCapList(id)
        },
        methods: {
            cidHandleChange (value) {
                if(value){
                    this.getBoardInfo(value.id);
                }
                
            },
            
            // 获取ID信息
            getBoardInfo(cid){
                boardInfoApi({'captcha_id': cid}).then(res => {
                    if(res.data.status === 1){
                        this.$store.commit('updateCaptchaCurrent', res.data.data)
                        this.$emit('changeGtId',res.data.data.id);
                        this.currentCap = Object.assign({},res.data.data)
                        this.isSelect = false
                    }
                })
            },
            // 获取商户下的所有ID信息
            getallCapList(id){
                captchasApi({merchant_id:id}).then(
                    res =>{
                        if(res.data.status == 1){
                               this.currentCaplist  = res.data.data
                               this.currentCap = res.data.data[0]
                              
                        }
                    }
                )
            } 
        },
        watch:{
            caplist(){
                this.currentCap = this.caplist[0];
                this.currentCaplist = this.caplist
            },
        
        }
    }

</script>

<style rel="stylesheet/less" lang="less">
    #board {
        display: inline-block;
        .board-content {
            padding: 24px 24px 0;
        }
        .card {
            .card-title {
                height: 48px;
                padding-left: 24px;
                padding-right: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 16px;
                border-bottom: 1px solid #f3efef;
                .demo-raised-button {
                    font-size: 14px;
                    font-weight: 300;
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
        .demo-infinite-container {
            width: 256px;
            height: 300px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            border: 1px solid #d9d9d9;
        }
        .mu-text-field.full-width{
            width: 80%;
        }
        .board-select{
            display: inline-flex;
            vertical-align: middle;
            align-items: center;
            label{
               margin-right: 12px; 
               font-size: 16px;
               color: #68728c   
            }
            .select-drop-down{
                max-height: 200px;
            }
            .select-item{
                background-color: white;
                height:38px;
            }
        }
        .board-info{
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
            &-icon {
                cursor: pointer;
                position: relative;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                font-size: 12px;
                border-radius: 50%;
                background: #A1C3FF;
                text-align: center;
                color: white;
            }
            .board-text{
                font-size: 12px;
                position: absolute;
                width: 300px;
                white-space: normal;
                text-align: left;
                left: -132px;
                margin-top: 2px;
                display: none;
                opacity: 0;
                .text{
                    padding: 10px;
                    background-color: rgba(70, 76, 91, 0.9);
                    color: white;
                    border-radius: 4px;
                    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
                    h3{
                        margin: 6px 0;
                        font-weight: normal
                    }
                    p{
                        margin-bottom: 2px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                .arrow{
                    border-width: 0px 5px 5px;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: transparent transparent rgba(70, 76, 91, 0.9) transparent;
                    top: -4px;
                    left: calc(50% - 5px);
                }
            }
            .board-info-icon:hover{
                .board-text{
                    display: block;
                    opacity: 1;
                    z-index: 99;
                }
            }

        }
          
    }
    
</style>