<template>
    <div id="gt-header">
        <mu-appbar id="top">
            <mu-icon-button icon="menu" slot="left" @click="sildeToggle"/>
            <img src="/static/static/img/logo.png" slot="left" class="logo">
           <div class="select-merchant" slot="right" v-show="isUser" @mouseleave="toggleMerchant = false">
                 <!-- <mu-select-field v-model="merchantCurrent" :labelFocusClass="['label-foucs']" label="" fullWidth
                                         :maxHeight="250" @input="merchantHandleChange()">
                            <mu-menu-item v-for="(text,index) in merchantList" :key="index" :value="text" :title="text.merchant_name"/>
                </mu-select-field> -->
                <div @click="toggleMerchant = true" class="select-merchant-current">
                    {{merchantCurrent.merchant_name}}
                    <img src="../assets/img/down.png" alt="" class="down-img" v-if="merchantList.length >1">
                </div>
                <div v-if="merchantList.length >1 && toggleMerchant" class="select-merchant-item pop-down">
                    <p v-for="(text,index) in merchantList" :key="index" @click="changeHandle(text)">{{text.merchant_name}}</p>
                </div>
           </div>
           <div slot="right" ref="button" class="change" @mouseleave="changeOpt = false">
                <span @click=" changeOpt= true" >{{isUser?'商户管理员':'系统管理员'}}</span>
                <div v-if="canChangePosition && changeOpt " class="drop-down-box pop-down">
                    <p @click="changeAuth(false)">系统管理员</p>
                   <p @click="changeAuth(true)">商户管理员</p> 
                </div>
            </div>
            <div slot="right" ref="button"  @click="toggle" class="user-name" @mouseleave="opens= false" >
                {{UserName}} 
                <transition name="fade">
                    <div v-if="opens " class="drop-down-box pop-down">
                        <a  @click="getInfo()">个人中心</a>
                        <!-- <router-link :to="{name:'userinfo' ,query:{_time:new Date().getTime()}}" target="_blank"></router-link> -->
                        <p @click="logout">退出</p> 
                    </div>
                </transition>
            </div>
            
        </mu-appbar>
       <mu-dialog :open="alert" title="提示">
            {{msg}}
            <mu-flat-button label="确定" slot="actions" primary @click="alert=false"/>
        </mu-dialog>
    </div>
</template>

<script>

import {mapActions,mapState,mapMutations} from 'vuex';
import Cookies from 'js-cookie'
import { merchantsApi, captchasApi, merchantsChecked} from 'api/board';
import {logOut} from 'api/login'

    export default{
        data(){
            name:'gt-header'
            return{
                opens: false,
                trigger: null,
                anchorOrigin:{},
                search_data:'',
                merchantList:[],
                merchantCurrent:'',
                isSuper: false,
                alert: false,
                msg:'',
                isUser:false,
                canChangePosition:false,
                uid:Number,
                UserName:'',
                changeOpt:false,
                toggleMerchant:false

            }
        },
        computed: {
            ...mapActions(['LoginOut']),
            ...mapState(['user_id']),
            ...mapMutations(['updateMerchantCurrent','updateCaptchaCurrent'])
        },
        mounted () {
            this.trigger = this.$refs.button.$el;
            this.anchorOrigin = {"vertical":"bottom","horizontal":"left"}
          },
        methods: {
            toggle () {
                this.opens = !this.opens
               },
                logout() {
                    logOut().then(res =>{
                        if(res.data.status == 1){
                            // Cookies.remove('user_id');
                            // Cookies.remove('is_superuser');
                             window.location = "/login";
                             this.opens = false
                        }
                    })
                    },
                sildeToggle() {
                        this.$store.commit("SET_SIDEWIDTH")
                },
            merchantHandleChange(){
                    if(this.merchantCurrent){
                        window.sessionStorage.setItem('current_merchant', this.merchantCurrent.id)
                        // 商户切换时先将之前的currentid 清楚
                        window.sessionStorage.removeItem('current_id')
                        this.$emit('merchantChange',this.merchantCurrent.id)
                        this.$store.commit('updateMerchantCurrent',this.merchantCurrent)
                        this.getCaptchaInfo(this.merchantCurrent.id)
                    }
                },
            changeHandle(e){
                this.merchantCurrent = e;
                this.merchantHandleChange();
                this.toggleMerchant = false;

            },
                // 获取所有商户 初始化为第一个
            getMerchants(){
                merchantsChecked({uid:this.uid}).then(res =>{
                    if(res.data.status == 1){
                        let _tpl =res.data.data;
                        this.merchantList = _tpl;
                        if(_tpl.length >0) {
                            this.merchantCurrent = _tpl[0];
                            this.merchantHandleChange()
                            // 将当前商户保存在session里，同时保存当前ID列表
                            let seeion = window.sessionStorage;
                            if(_tpl.length > 0 && _tpl[0].captchas.length >0 ){
                                seeion.setItem('current_id', _tpl[0].captchas[0].id);    
                            }
                            seeion.setItem('current_merchant', this.merchantCurrent.id);
                            this.$store.commit('updateMerchantCurrent',_tpl[0])
                            // 初始化最初captchaID为第一个商户
                            this.$store.commit('updateCaptchaCurrent',_tpl[0].captchas[0])
                        }
                        else{
                             this.$emit('noMerchant', false)
                        }
                        
                    }else {
                        // 没有绑定商户
                       this.$emit('noMerchant', false)
                    }
                })
            },
            // 商户ID获取captcha信息
            getCaptchaInfo(value){
                captchasApi({'merchant_id': value}).then(
                    res =>{
                        if(res.data.status == 1){
                            // 商户下的第一个captcaha
                            // 向父组建传递验证列表
                            if(res.data.data.length>0){
                                this.$emit('hasCapId', true);
                                this.$store.commit('updateCaptchaCurrent',res.data.data[0] )  
                                this.$emit('sentCaptchaList', res.data.data) 
                                window.sessionStorage.setItem('current_id', res.data.data[0].id)
                                
                            }
                            else{
                                // 如果没有ID
                                let faskData = {gt_id: '',gt_key:'',title:'',site_url:''}
                                this.$store.commit('updateCaptchaCurrent',faskData ) 
                                this.$emit('sentCaptchaList', []);
                                let full = this.$route.fullPath;
                                if(full.indexOf('overview') == -1){
                                //    this.msg = '该商户下暂时无ID信息，您可在概览页面为该商户添加新ID';
                                   this.$emit('hasCapId', false)
                                }
                                // window.sessionStorage.setItem('current_id', res.data.data[0].id)
                            }
                        }
                    }
                )
            },
            changeAuth(e){
                this.changeOpt = false;
                if(!this.isSuper){
                   return
                }
                 this.isUser = e;
                // 切换到用户 
                if(this.isUser){
                     this.$router.replace({ path: '/base/overview', query:{_time:new Date().getTime()}})
                     this.getMerchants()
                }
                else{
                     this.$router.replace({ path: '/base/user', query:{_time:new Date().getTime()}})
                }
                
                // changePosition true 
                this.$emit('changePosition' , this.isUser)
              
            },
            //个人中心
            getInfo(){
                if(this.isUser){
                    this.$router.replace({path:'/base/userinfo',query:{_time:new Date().getTime()}})
                }
                else{
                     this.$router.replace({path:'/base/authinfo',query:{_time:new Date().getTime()}})
                }
            }
        },
        created() {
                this.uid = Number(Cookies.get('user_id'))
                this.UserName = Cookies.get('login_name')
                // 刷新时获取是否是管理角色
                let blackList = ['user','client','sharePic','customPic','searchPic','checkedPic','safeSet','authinfo'];
                let full = this.$route.fullPath;
                let currentLink = full.split('/')[2].split('?')[0];
                let supuer = Cookies.get('is_superuser');
                if(!supuer || supuer == 'False'){
                    this.isSuper = false;
                }else{
                    this.isSuper = true;
                    this.canChangePosition = true
                }
                if(blackList.indexOf(currentLink) >=0 && this.isSuper){
                   // false 管理角色
                    this.isUser = false
                }
                else{
                     // true 用户角色
                    this.isUser = true
                }
                this.getMerchants();
                this.$emit('changePosition' , this.isUser)
               
        },
        components:{
        }
    }


</script>
<style rel="stylesheet/less" lang="less">
    #gt-header {
        z-index: 99;
        position: fixed;
        width: 100%;
        .email {
            margin-right: 40px;
            cursor: pointer;
            position: relative;
            height: 64px;
            line-height: 64px;
        }
        .change{
            margin-right: 20px;
            cursor: pointer;
            position: relative;
        }
        .logout {
            position: absolute;
            background: white;
            color: #555;
            width: 192px; 
            right: 0px;
            border-radius: 3px;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
        }
        .logout-btn{
            color: #fff;
            background-color: transparent;
            padding: 0;
            border: 0;
        }
        .select-merchant{
            min-width: 80px;
            margin-right: 20px;
            position: relative;
            text-align: right;
            ::-webkit-scrollbar {
                width: 8px;
            }
            ::-webkit-scrollbar-thumb {
                background-color: #D8D8D8;
                background-clip: content-box;
                border-top: 5px solid rgba(255, 255, 255, 0);
                border-bottom: 5px solid rgba(255, 255, 255, 0);
                border-right: 4px solid rgba(255, 255, 255, 0)
            }

            ::-webkit-scrollbar-track {
                background-color: #fbfbfb
            }
            &-item{
                position: absolute;
                right: 0;
                background-color: white;
                box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
                color: #555;
                // padding: 6px 8px;
                min-width: 110px;
                text-align: left;
                border-radius: 4px;
                z-index: 33;
                max-height: 200px;
                overflow-y: scroll;
                padding: 8px 0;
                p{
                    padding: 3px 8px;
                }
            }
            &-item p:hover{
                color: #5291FF;
                transform: all .3s ease;
                cursor: pointer;
                background-color: rgba(68, 136, 255, 0.05);
               
            }
            &-current{
                cursor: pointer;
                position: relative;
                padding-right: 14px;
                .down-img {
                    width: 8px;
                    position: absolute;
                    right: 0px;
                    top: 11px;
                }
            }
            .mu-dropDown-menu-line{
                background-color: white;
            }
            .mu-dropDown-menu-icon,.mu-dropDown-menu-text{
                color:white;
                text-align: right;
            }
            .mu-text-field-line,.mu-text-field-focus-line{
                background-color: transparent
            }
            .mu-text-field{
                min-height: 0;
                margin-bottom: 0
            }
            .mu-text-field-content{
               padding-bottom: 0     
            
            }
        }
        
        .drop-down-box{
            position: absolute;
            background-color: white;
            color: #555;
            border-radius: 4px;
            padding: 8px 0;
            width: 110px;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
            font-size: 14px;
            // right: 0;
            p, a{
                padding: 3px 8px;
                width: 100%;
                display: inline-block;
            }
            p:hover , a:hover{
                color: #5291FF;
                background-color: rgba(68, 136, 255, 0.05);
            }
        }
        .user-name{
            cursor: pointer;
            .drop-down-box{
                right: 10px;
            }
        }

        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s
        }
        .fade-enter, .fade-leave-to{
            opacity: 0
        }
        .appbar-search-field {
            color: white;
            background: #5291FF;
            border-radius: 3px;
            margin-bottom: 0;
            width: 464px;
            font-size: 14px;
            transition: background .3s ease;
            &.focus-state {
                color: #555;
                background: white;
                transition: background .3s ease;
                .mu-text-field-input {
                    color: #555;
                }
            }
            .mu-text-field-hint.show {
                margin-top: 3px;
            }
            .mu-text-field-line, .mu-text-field-focus-line {
                background-color: white;
                display: none;
            }
            .mu-text-field-hint {
                color: rgba(238, 238, 238, .5);
            }
            .mu-text-field-content {
                padding-top: 5px;
                padding-bottom: 0;
            }
            .mu-text-field-input {
                font-size: 14px;
                padding: 9px 0px;
                height: 100%;
                color: white;
            }
        }

        .mu-popover {
            background-color: white;
        }

        .logo {
            height: 30px;
            margin: 0px 18px;
        }
        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s
        }
        .fade-enter, .fade-leave-to{
            opacity: 0
        }

    }
</style>
