<template>
    <div id="loading">
        <div class="progress sub-text">
            正在加载
            <mu-linear-progress />
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{
            }
        },
        components:{
        }
    }
</script>
<style rel="stylesheet/less" lang="less" scoped>
    #loading {
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: rgba(255,255,255,.8);
        width: 100%;
        height: 100%;
        z-index: 44;
        display: flex;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .progress {
            width: 480px;
            height: 89px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            padding: 0 40px;
            box-shadow: 0 1px 6px 0 rgba(0,0,0,0.12), 0 1px 4px 0 rgba(0,0,0,0.12);
        }
    }
</style>
