<template>
    <div :class="classes" :name="name">
        <slot></slot>
    </div>
</template>
<script>

    const prefixCls = 'radio-group';
    // 随机创建group name ，in case of same group in one page
    let tep = 0 
    const now = Date.now()
    const getUuid = () => `RadioGroup_${now}_${tep++}`;

    export default {
        name: 'RadioGroup',
        props: {
            value: {
                type: [String, Number],
                default: ''
            },
            vertical: {
                type: Boolean,
                default: false
            },
            name: {
                type: String,
                default: getUuid
            }
        },
        data () {
            return {
                currentValue: this.value,
                childrens: []
            };
        },
        computed: {
            classes () {
                return [
                    `${prefixCls}`,
                    {
                        [`${prefixCls}-${this.type}`]: !!this.type,
                        [`${prefixCls}-vertical`]: this.vertical
                    }
                ];
            }
        },
        mounted () {
            this.updateValue();
        },
        methods: {
            updateValue () {
                this.childrens = this.findComponentsDownward(this, 'Radio');
                if (this.childrens) {
                    this.childrens.forEach(child => {
                        child.currentValue = this.value === child.label;
                        child.group = true;
                    });
                }
            },
            change (data) {
                this.currentValue = data.value;
                this.updateValue();
                this.$emit('input', data.value);
                this.$emit('on-change', data.value);
            },
            findComponentsDownward(context, componentName){
                return context.$children.reduce((components, child) => {
                    if (child.$options.name === componentName) components.push(child);
                    const foundChilds = this.findComponentsDownward(child, componentName);
                    return components.concat(foundChilds);
                }, []);
            },
            
        },
        watch: {
            value () {
                this.currentValue = this.value;
                this.updateValue();
            }
        }
    };
</script>
<style>
    .radio-group {
        display: inline-block;
        font-size: 12px;
        vertical-align: middle;
    }
</style>

