<template>
    <div id="sidebar">
        <div>
            <ul :class="{'full-width':sidebarWidth,'hide-width':!sidebarWidth}">
                <mu-list v-if="isUser">
                    <mu-list-item :title="sidebarWidth?'概览':''" :class="{'router-link-active':active==1}"
                                  @click="link('/base/overview',1)" @hover="toggle(1)" @hoverExit="hidetoggle(0)">
                        <mu-icon slot="left" value="layers" color='#ff5245'/>
                        <transition name="fade">
                            <div v-if="tooltip==1&!sidebarWidth" class="tooltip">概览</div>
                        </transition>
                    </mu-list-item>
                    <mu-list-item :title="sidebarWidth?'数据统计':''" :class="{'router-link-active':active==2}"
                                  @click="link('/base/data',2)" @hover="toggle(2)" @hoverExit="hidetoggle(0)">
                        <mu-icon slot="left" value="timeline" color='#347dff'/>
                        <transition name="fade">
                            <div v-if="tooltip==2&!sidebarWidth" class="tooltip">数据统计</div>
                        </transition>
                    </mu-list-item>
                    <mu-list-item :title="sidebarWidth?'管理设置':''" :class="{'router-link-active':active==3}"
                                  @click="link('/base/setting',3)" @hover="toggle(3)" @hoverExit="hidetoggle(0)">
                        <mu-icon slot="left" value="settings" color='#FBBC05'/>
                        <transition name="fade">
                            <div v-if="tooltip==3 &!sidebarWidth" class="tooltip">管理设置</div>
                        </transition>
                    </mu-list-item>
                    <mu-list-item :title="sidebarWidth?'自定义图集':''" :class="{'router-link-active':active==8}"
                                  @click="link('/base/picture',8)" @hover="toggle(8)" @hoverExit="hidetoggle(0)">
                        <mu-icon slot="left" value="photo_album" color='#917ffc'/>
                        <transition name="fade">
                            <div v-if="tooltip==8 &!sidebarWidth" class="tooltip">自定义图集</div>
                        </transition>
                    </mu-list-item>
                </mu-list>
                <mu-list v-if="!isUser">
                    <mu-list-item :title="sidebarWidth?'用户管理':''" :class="{'router-link-active':active==4}"
                                  @click="link('/base/user',4)" @hover="toggle(4)" @hoverExit="hidetoggle(0)">
                        <mu-icon slot="left" value="supervisor_account" color='#49C4BE'/>
                        <transition name="fade">
                            <div v-if="tooltip==4&!sidebarWidth" class="tooltip">用户管理</div>
                        </transition>
                    </mu-list-item>
                    <mu-list-item :title="sidebarWidth?'商户管理':''" :class="{'router-link-active':active==5}"
                                  @click="link('/base/client',5)" @hover="toggle(5)" @hoverExit="hidetoggle(0)">
                        <mu-icon slot="left" value="account_circle" color='#10ADF5'/>
                        <transition name="fade">
                            <div v-if="tooltip==5&!sidebarWidth" class="tooltip">商户管理</div>
                        </transition>
                    </mu-list-item>
                     <mu-list-item :title="sidebarWidth?'公共图集':''" :class="{'router-link-active':active==6}"
                                  @click="link('/base/sharePic',6)" @hover="toggle(6)" @hoverExit="hidetoggle(0)">
                        <mu-icon slot="left" value="insert_photo" color='#347EFF'/>
                        <transition name="fade">
                            <div v-if="tooltip==6&!sidebarWidth" class="tooltip">公共图集</div>
                        </transition>
                    </mu-list-item> 
                    <mu-list-item :title="sidebarWidth?'自定义图集':''" :class="{'router-link-active':active==7}"
                                  @click="link('/base/customPic',7)" @hover="toggle(7)" @hoverExit="hidetoggle(0)">
                        <mu-icon slot="left" value="photo_album" color='#917ffc'/>
                        <transition name="fade">
                            <div v-if="tooltip==7&!sidebarWidth" class="tooltip">自定义图集</div>
                        </transition>
                    </mu-list-item>
                    <mu-list-item :title="sidebarWidth?'安全设置':''" :class="{'router-link-active':active==9}"
                                  @click="link('/base/safeSet',9)" @hover="toggle(9)" @hoverExit="hidetoggle(0)">
                        <mu-icon slot="left" value="settings" color='#347eff'/>
                        <transition name="fade">
                            <div v-if="tooltip==9&!sidebarWidth" class="tooltip">安全设置</div>
                        </transition>
                    </mu-list-item>
                </mu-list>
                <mu-list-item :title="sidebarWidth?'demo展示':''" :class="{'router-link-active':active==11}"
                                  @hover="toggle(11)" @hoverExit="hidetoggle(0)" to="/demo" target="_blank">
                        <mu-icon slot="left" value="youtube_searched_for" color='#347eff'/>
                        <transition name="fade">
                            <div v-if="tooltip==11&!sidebarWidth" class="tooltip">demo展示</div>
                        </transition>
                </mu-list-item>
            </ul>
        </div>
    </div>
</template>

<script>
import store from '../store';
import {mapState,mapGetters} from 'vuex'
import Cookies from "js-cookie"
    export default{
        data(){
            name:"sidebar"
            return{
                open: false,
                docked: true,
                sidebarWidths :'',
                tooltip:0,
                active:0,
                isSuper:false
            }
        },
        props:['isUser'],
        computed : {
            ...mapGetters({
                sidebarWidth: 'sideWidth'
            })
        },
        methods: {
                toggle (t) {
                    this.tooltip = t
                   },
                hidetoggle (t){
                    this.tooltip = t
                },
                link(res,num) {
                    this.$router.replace({ path: res, query:{_time:new Date().getTime()}})
                    this.active = num;
                }
            },
        components:{
        },
        watch:{isUser(){}},
        created() {
            let supuer =  Cookies.get('is_superuser')
            if(!supuer || supuer == 'False'){
                this.isSuper = false
            }else{
                this.isSuper = true
            }
            if(this.sidebarWidth){
                this.sidebarWidths = '192'
            }
            else {
                this.sidebarWidths = '90'
            }
            let full = this.$route.fullPath;
            if(full.indexOf('data') != -1){
                this.active = 2
            }else if (full.indexOf('overview') != -1) {
                this.active = 1
            }
            else if (full.indexOf('setting') != -1){
                this.active = 3
            }
            else if (full.indexOf('user') != -1){
                this.active = 4
            }
             else if (full.indexOf('client') != -1){
                this.active = 5
            }
             else if (full.indexOf('userinfo') != -1){
                this.active = 6
            }

        },
    }



</script>
<style rel="stylesheet/less" lang="less">
    #sidebar {
        ul {
            padding-left: 0px;
        }
        position: fixed;
        top: 64px;
        bottom: 0px;
        z-index: 2;
        background-color: white;
        box-shadow: 1px 0 6px 0 rgba(0, 0, 0, 0.12), 1px 0 4px 0 rgba(0, 0, 0, 0.12);
        .demo-menu {
            display: inline-block;
            background-color: white;
            position: fixed;
            top: 64px;
            bottom: 0px;
            transition: width 3s ease;
        }
        .full-width {
            width: 192px;
            transition: width .3s ease;
        }
        .hide-width {
            width: 60px;
            transition: width .3s ease;
        }
        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s;
        }
        .fade-enter, .fade-leave-to {
            opacity: 0;

        }
        .tooltip {
            position: absolute;
            background-color: rgba(36, 36, 36, 1);
            height: 26px;
            border-radius: 3px;
            color: white;
            width: 100%;
            font-size: 12px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 13px;
            left: 65px;
            z-index: 90;
        }
        .mu-list {
            overflow: visible;
        }
        .mu-item-title {
            white-space: nowrap;
        }
        .mu-menu-list {
            overflow: hidden;
        }
        .router-link-active {
            background-color: #eee;
        }
        .mu-menu-destop .mu-menu-item-wrapper {
            height: 48px;
            line-height: 48px;
        }
        .mu-menu-destop .mu-menu-item-left-icon {
            top: 0;
            left: 4px;
            margin: 12px;
        }
    }

</style>
