<template>
    <div class="tooltip">
        <i class="material-icons">
            info
            <div :class="textClass" class="pop-up">
                <div class="arrow"></div>
                <div class="text"> {{text}}</div>
            </div>
            
        </i>
    </div>
</template>
<script>
const prefix = 'tooltip'
export default {
    data(){
        return {

        }

    },
    props:{
        color: {
                type: String,
                default: '#A1C3FF'
            },
        text:{
            type: String
        }
    },
    computed:{
        textClass(){
            return [
                `${prefix}-text`
                // {[`$prefix`-text]:true}
            ]
        }
    }
        
    
}
</script>

<style lang="less" scoped>
    .tooltip{
        display: inline-block;
        vertical-align: middle;
        i {
            cursor: pointer;
            position: relative;
            font-size: 15px;
            color: #A1C3FF
        }
        &-text{
            font-size: 12px;
            position: absolute;
            width: 120px;
            white-space: normal;
            left: -50px;
            margin-top: 2px;
            display: none;
            opacity: 0;
            .text{
                padding: 10px;
                background-color: rgba(70, 76, 91, 0.9);
                color: white;
                border-radius: 4px;
                box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2)
            }
            .arrow{
                border-width: 0px 5px 5px;
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: transparent transparent rgba(70, 76, 91, 0.9) transparent;
                top: -4px;
                left: calc(50% - 5px);
            }
        }
        i:hover{
            .tooltip-text{
                display: block;
                opacity: 1;
            }
        }
    }
</style>

