<template>
    <div class="turn">
        <input type="checkbox" class="chk" :checked='isChecked' :disabled='isDisabled'>
        <label @click="ischeck()" :class="{disabled:!isDisabled}"></label>
    </div>
</template>
<script>
export default {
    data(){
        return {
        }

    },
    props:{
        isChecked :{
            type:Boolean,
            default: true
        },
        isDisabled :{
            type:Boolean
		},
		seed :{
			type: Object
		}
		
    },
    methods:{
       ischeck() {
		if(this.isDisabled) {
			// this.Checked = !this.Checked;
			let data = {
				status : this.isChecked,
				seed : this.seed
			}
            this.$emit('isChecked',data)
		}
	} 
    }
}

</script>


<style>
    .turn{
			display: inline-flex;
			cursor: pointer;
		}
		.disabled{
			opacity: 0.6;
			cursor: default !important;
		}
		.turn .chk{
			display: none;
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		.turn .chk+label{
			border-radius: 2px;
			display: inline-block;
			position: relative;
			top: 3px;
			-webkit-transition: all 0.1s ease-in;
			transition: all 0.1s ease-in;
			width: 64px;
			height: 24px;
			cursor: pointer;
			line-height: 16px;
		}
		.chk+label:after{
			content: ' ';
			position: absolute;
			top: 0px;
			-webkit-transition: all 0.1s ease-in;
			transition: all 0.1s ease-in;
			left: 0;
			width: 100%;
			height: 100%;
			font-size: 16px;
			text-align: right;
			line-height: 26px;
			border-radius: 2px;
				border: 1px solid rgba(104,114,140,0.23);
				background-color: rgba(191,200,214,0.36);
		}
		.chk+label:before{
			text-align: center;
			content: '禁用';
			font-size: 12px;
			color: #fff;
			position: absolute;
			background-color: #68728C;
			top: 3px;
			left: 3px;
			z-index: 3;
			width: 32px;
			-webkit-transition: all 0.4s cubic-bezier(0.47, 1.15, 0.6, 0.98);
			transition: all 0.4s cubic-bezier(0.47, 1.15, 0.6, 0.98);
			border-radius: 2px;
			height: 18px;
			line-height: 18px;
		}

		.chk:active + label:before {
			width: 24px;
			
		}

		.chk:checked:active + label:before {
			width: 24px;
			left: 31px;
		}
		.chk:checked + label:before {
			content: '启用';
			color: #3699FE;
			position: absolute;
			left: 29px;
			background-color: #fff;
		}
		.chk:checked + label:after {
			content: ' ';
			font-size: 14px;
			text-indent: 6px;
			position: absolute;
			text-align: left;
			line-height: 26px;
			color: white;
			font-weight: 400;
			border: 1px solid #4488FF;
			background-color: rgba(68,136,255,0.8);
		}

</style>
