<template>
    <div id="setting">
        <router-view :getCaptcha="getCaptchaList" :isHasCapId="isHasCapId" v-if="isHasCapId" :Merchant='currentMercant'></router-view>
         <div v-if="!isHasCapId && hasMerchant" class="card_cap">
            此商户暂时没有ID; 请前往
            <router-link to="/base/overview" style="color:#347dfc">概览</router-link>
            页进行新增   
        </div>
        <div v-if="!hasMerchant" class="card_cap">
              此用户暂时没有绑定的商户; 请联系管理员添加。 若您是管理员请切换至管理后台进行添加  
        </div>
    </div>
</template>

<script>

    import { mapState, mapActions } from 'vuex';
    export default{

        data(){
            name:'setting'
            return {

            }
        },
        props:['getCaptchaList','isHasCapId','hasMerchant','currentMercant'],
        computed: {

        },
        methods: {

        },
        watch:{
            getCaptchaList(){
                // console.log(this.getCaptchaList)
            },
            currentMercant(){
                // console.log(this.currentMercant)
            }
        },
        created() {
        }
    }

</script>
<style rel="stylesheet/less" lang="less">
    #setting {
        padding: 40px 35px;
        .card_cap{
            background: white;
            padding: 35px
        }
    }

</style>
