<template>
  
    <div id="dataGlob">
        <div class="nav-title">
           数据统计
            <hr>
        </div>
        <div class="select-wrapper-card">
           <board @changeGtId='getCurrentGt' :caplist ='getCaptcha'></board>
            <div class="time-box">
              起止时间：
              <div class="date-box">
                  <mu-date-picker hintText="" :autoOk="true" v-model="user.start" label=""
                                  :fullWidth="true" :minDate="minStart" :maxDate="maxStart"  @input="getData()"/>
              </div>
              <div class="date-box">
                  <mu-date-picker label="" hintText="" :autoOk="true" v-model="user.end"
                                  :fullWidth="true" :minDate= "minEnd" :maxDate="maxEnd" @input="getData()"/>
              </div>
                <div class="time-choose">
                  <a @click="query(1)" :class="{query:timeChoose==1}">昨日</a>
                  <a @click="query(7)" :class="{query:timeChoose==7}">7天</a>
                  <a @click="query(30)" :class ="{query:timeChoose==30}">30天</a>
                </div>
            </div>
        </div> 
        <div class="charts-panel">
            <div class="card">
                <div class="card-title title-bg">
                    验证及防御数据
                    <!--<mu-raised-button class="demo-raised-button" primary label="数据详情" @click="toggleList()"/>-->
                </div>
                <div class="data-panel">
                        <div class="item-box">
                            <p class="tit">
                                验证请求量
                                <toolTip :text="'请求页面上验证模块的数量'"></toolTip>
                            </p>
                            <span class="value">{{ChartData.register |formateSum}}</span>
                        </div>
                        <div class="item-box">
                            <p class="tit">
                                验证交互量
                                <toolTip :text="'验证控件有实际交互行为的数量'"></toolTip>
                            </p>
                            <span class="value">{{ChartData.total |formateSum}}</span>
                        </div>
                        <div class="item-box">
                            <p class="tit">
                                验证通过量
                                <toolTip :text="'最终验证结果为成功的数量'"></toolTip>
                            </p>
                            <span class="value">{{ ChartData.success |formateSum}}</span>
                        </div>
                        <div class="item-box">
                            <p class="tit">
                                验证防御量
                                <toolTip :text="'通过各类模型或方式拦截机器攻击的数量'"></toolTip>
                            </p>
                            <span class="value">{{ChartData.fail |formateSum}}</span>
                        </div>
                </div>
                <div class="backEndMsg" v-show="base">
                        {{base}}
                </div>
                <div id="CaptchaChart" style="width: 100%; height:500px; margin: auto" v-show="!base"></div>
            </div>
            <div class="card">
                    <div class="card-title title-bg">
                        验证形式成功量分布数据
                    </div>
                    <div class="data-panel">
                        <div class="item-box">
                            <p class="tit">
                                直接通过验证量
                                <toolTip :text="'验证形式为直接通过且验证结果为成功的验证量'"></toolTip>
                            </p>
                            <span class="value">{{ChartHot.click |formateSum}}</span>
                        </div>
                        <div class="item-box">
                            <p class="tit">
                                滑动行为验证量
                                <toolTip :text="'验证形式为滑动行为验证且验证结果为成功的验证量'"></toolTip>
                            </p>
                            <span class="value">{{ChartHot.slide |formateSum}}</span>
                        </div>
                        <div class="item-box">
                            <p class="tit">
                                图文行为验证量
                                <toolTip :text="'验证形式为图文行为验证且验证结果为成功的验证量'"></toolTip>
                            </p>
                            <span class="value">{{ ChartHot.fullpage |formateSum}}</span>
                        </div>
                    </div>
                    <div class="backEndMsg" v-show="heat">
                        {{heat}}
                    </div>
                    <div id="HeatChart" style="width: 100%; height:500px; margin: auto" v-show="!heat"></div>
                </div>
            <div class="data-trend">
                <div class="data-trend-card">
                    <div class="title">
                        验证异常等级趋势
                        <toolTip :text="'智能AI决策引擎会根据您的验证情况来判断综合异常等级'"></toolTip>
                    </div>
                    <div class="backEndMsg" v-show="risk">
                        {{risk}}
                    </div>
                    <div id="Risk" style="width: 100%; height:300px; margin: auto" v-show="!risk"></div>
                </div>
                <div class="data-trend-card">
                    <div class="title">
                        防御偏量分布
                        <toolTip :text="'在防御过程中各类能力进行防御的比例。'"></toolTip>
                    </div>
                    <div class="backEndMsg">
                        暂未开放
                    </div>
                    <!-- <div id="Forbidden" style="width: 100%; height:300px; margin: auto" ></div> -->
                </div>
            </div>
            <div class="charts-panel">
                <div class="card">
                    <div class="card-title title-bg">
                        本月平均验证时长
                    </div>
                    <div class="data-panel">
                        <div class="item-box">
                            <p class="tit">直接通过</p>
                            <span class="value">{{PassTimeData.click?PassTimeData.click +'s':'--' }}</span>
                        </div>
                        <div class="item-box">
                            <p class="tit">滑动行为验证</p>
                            <span class="value">{{PassTimeData.slide?PassTimeData.slide+'s' :'--' }}</span>
                        </div>
                        <div class="item-box">
                            <p class="tit">图文行为验证</p>
                            <span class="value">{{ PassTimeData.fullpage?PassTimeData.fullpage+ 's':'--' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <mu-toast v-if="error" :message="error" @close="hideToast" :style="{'background-color':color}"/>
    </div>
</template>
<script>
import echarts from "echarts";
import ChartOption from "./indexChart";
import toolTip from "components/tooltip";
import {
  linecharts,
  hotcharts,
  riskcharts,
  forbiddencharts,
  passtimecharts
} from "api/data";
import { mapGetters, mapActions } from "vuex";
import Board from "components/data-board";
export default {
  data() {
    return {
        user: {
            start: "",
            end: ""
        },
        minStart: "",
        maxStart: "",
        minEnd: "",
        maxEnd: "",
        // 表格
        LineChart: {},
        ChartData: [],
        heatChart: {},
        ChartHeat: [],
        ChartHot: [],
        BarChart: {},
        ForbiddenChart: {},
        ChartRisk: [],
        ChartForbidden: [],
        PassTimeData: [],
        error: "",
        color: "",
        heat: "",
        id: "",
        risk: "",
        base: "",
        timeChoose: 0
    };
  },

  created() {
    // 开始时间结束时间
    var today = new Date();
    this.user.start = this.formateDate(today);
    this.user.end = this.formateDate(today);
    this.maxStart = this.user.start;
    this.maxEnd = this.user.end;
    this.id = parseInt(window.sessionStorage.getItem("current_id"));
    let data = {
      id: this.id,
      start: this.user.start,
      end: this.user.end
    };
    if (this.id) {
      this.getData();
      this.getPassTimeData(data);
    }
  },
  props: ["getCaptcha", "Marchent"],
  mounted() {
    this.LineChart = echarts.init(document.getElementById("CaptchaChart"));
    window.addEventListener("resize", this.LineChart.resize);
    // 热力图
    this.heatChart = echarts.init(document.getElementById("HeatChart"));
    window.addEventListener("resize", this.heatChart.resize);
    this.BarChart = echarts.init(document.getElementById("Risk"));
    window.addEventListener("resize", this.BarChart.resize);
    //   this.ForbiddenChart = echarts.init(document.getElementById('Forbidden'));
    //   window.addEventListener('resize', this.ForbiddenChart.resize);
  },
  methods: {
    formateDate(date) {
      let y = date.getFullYear();
      let m =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      let d = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      date = y + "-" + m + "-" + d;
      return date;
    },
    getLineData(data) {
      linecharts(data).then(res => {
        if (res.data.status == 1) {
          this.ChartData = res.data.data;
        } else {
          this.error = res.data.msg;
          this.color = "#f58523";
        }
      });
    },

    getHotData(data) {
      hotcharts(data).then(res => {
        if (res.data.status == 1) {
          this.ChartHot = res.data.data;
          let preData = this.makeData(
            this.ChartHot.data.fullpage,
            this.ChartHot.data.slide,
            this.ChartHot.data.click
          );
          this.ChartHeat["heat"] = preData.map(function(item) {
            return [item[1], item[0], item[2] || "--"];
          });
        } else {
          this.heat = res.data.msg;
        }
      });
    },
    // 风险等级
    getRiskData(data) {
      riskcharts(data).then(res => {
        if (res.data.status == 1) {
          this.ChartRisk = res.data.data;
        } else {
          this.risk = res.data.msg;
        }
      });
    },
    // 异常偏量
    getForbiddenData(data) {
      forbiddencharts(data).then(res => {
        if (res.data.status == 1) {
          let len = res.data.data;
          let Forbidden = [len.fake, len.sim, len.violent];
          this.ChartForbidden = Forbidden;
        } else {
          this.ChartForbidden = [0, 0, 0];
        }
      });
    },
    // 平均验证时间
    getPassTimeData(data) {
      passtimecharts(data).then(res => {
        if (res.data.status == 1) {
          this.PassTimeData = res.data.data;
        }
      });
    },

    // 热力图数据处理
    makeData(a, b, c) {
      let data = [];
      let r;
      let arr = [a, b, c];
      for (r = 0; r < arr.length; r++) {
        arr[r].forEach(function(t, index) {
          data.push([r, index, t]);
        });
      }
      return data;
    },

    toggleList() {},
    getData() {
      let data = {
        id: this.id,
        start: this.user.start,
        end: this.user.end
      };
      this.getHotData(data);
      this.getRiskData(data);
      // this.getForbiddenData(data)
      this.getLineData(data);
    },
    hideToast() {
      this.error = false;
      if (this.toastTimer) clearTimeout(this.toastTimer);
    },
    showToast() {
      if (this.toastTimer) clearTimeout(this.toastTimer);
      this.toastTimer = setTimeout(() => {
        this.error = false;
      }, 2000);
    },
    // 自定义时间选择
    query(time) {
      this.timeChoose = time;
      let a = new Date().valueOf();
      var today = new Date();
      this.user.end = this.formateDate(today);
      if (time == 1) {
        a = a - 86400000;
        this.user.end = this.formateDate(new Date(a));
      } else if (time == 7) {
        a = a - 6 * 86400000;
      } else if (time == 30) {
        a = a - 29 * 86400000;
      }
      let b = new Date(a);
      this.user.start = this.formateDate(b);
    },

    getCurrentGt(e) {
      this.id = e;
      let data = {
        id: e,
        start: this.user.start,
        end: this.user.end
      };
      this.getData();
      this.getPassTimeData(data);
    }
  },
  watch: {
    ChartData(ChartData) {
      if (!ChartData) {
        return;
      }
      let lineOption = ChartOption.LineOption(ChartData.data);
      this.LineChart.setOption(lineOption);
    },
    ChartRisk(ChartRisk) {
      let bar = ChartOption.BarOption(this.ChartRisk);
      this.BarChart.setOption(bar);
    },
    ChartHot(ChartHot) {
      if (!ChartHot) {
        return;
      }
      let heatOption = ChartOption.HeatOption(
        this.ChartHeat,
        this.ChartHot.data
      );
      this.heatChart.setOption(heatOption);
    },
    // ChartForbidden(ChartForbidden){
    //     if(!ChartForbidden){return}
    //     let forbidden = ChartOption.ForbiddenOption(this.ChartForbidden);
    //     this.ForbiddenChart.setOption(forbidden)
    // }

    // 监听header商户改变
    getCaptcha() {
      this.id = this.getCaptcha[0].id
      let data = {
        id: this.id,
        start: this.user.start,
        end: this.user.end
      };
      this.getData();
      this.getPassTimeData(data);
    }
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.LineChart.resize);
    if (this.LineChart) {
      this.LineChart.dispose();
    }
    window.removeEventListener("resize", this.heatChart.resize);
    if (this.heatChart) {
      this.heatChart.dispose();
    }
    window.removeEventListener("resize", this.BarChart.resize);
    if (this.BarChart) {
      this.BarChart.dispose();
    }
    // window.removeEventListener('resize', this.ForbiddenChart.resize)
    // if (this.ForbiddenChart) {
    //     this.ForbiddenChart.dispose();
    // }
  },
  components: { Board, toolTip }
};
</script>
<style lang="less" rel="stylesheet/less">
@card-padding-large: 35px;
@base-gap: 8px;
@title-bg: #f7f7f8;
.date-box {
  width: 100px;
  display: inline-block;
  margin-right: @card-padding-large;
}

.card {
  padding-bottom: @card-padding-large;
}

.charts-panel {
  position: relative;
  margin-top: @card-padding-large;
  .data-panel {
    display: flex;
    padding: 24px;
    .item-box {
      flex: 1;
      &:last-child {
        border-right: 0;
      }
      .tit {
        margin: 0;
        margin-bottom: 8px;
        opacity: 1;
        color: rgba(104,114,140,.5)
      }
      .value {
        font-size: 20px;
      }
    }
  }
  .card-title {
    height: 56px;
    padding-left: 24px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    box-shadow: 0 1px 0 0 #f3efef;
    .demo-raised-button {
      font-size: 14px;
      font-weight: 300;
      i {
        font-size: 16px;
      }
    }
  }
}

.data-trend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-card {
    flex: 1;
    background-color: white;
  }
  &-card:first-child {
    margin-right: 2 * @base-gap;
  }
  .title {
    background-color: @title-bg;
    box-shadow: 0 1px 0 0 #f3efef;
    height: 56px;
    padding-left: 24px;
    line-height: 56px;
  }
  .backEndMsg {
    height: 300px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #Risk {
    padding: 0 20px;
  }
}

.mu-toast {
  top: auto;
  bottom: 40px;
  width: 300px;
  right: auto;
  text-align: left;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-overflow: inherit;
  white-space: normal;
  min-height: 48px;
  height: auto;
  line-height: normal;
}
.data-trend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-card {
    flex: 1;
    background-color: white;
  }
  &-card:first-child {
    margin-right: 2 * @base-gap;
  }
  .title {
    background-color: @title-bg;
    box-shadow: 0 1px 0 0 #f3efef;
    height: 56px;
    padding-left: 24px;
    line-height: 56px;
  }
  .backEndMsg {
    height: 300px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #Risk {
    padding: 0 20px;
  }
}
.mu-toast {
  top: auto;
  bottom: 40px;
  width: 300px;
  right: auto;
  text-align: left;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-overflow: inherit;
  white-space: normal;
  min-height: 48px;
  height: auto;
  line-height: normal;
}
.time-box{
  display: inline-block;
  margin-left: 20px;
  font-size: 16px
}
.select-wrapper-card{
  margin: 20px 0;
}
.time-choose {
  display: inline-block;
  margin-left: 25px;
  vertical-align: middle;
  font-size: 14px;
  box-shadow: 0 1px 0 0 #eeeff0, -1px 0 0 0 #eeeff0, 1px 0 0 0 #eeeff0,
    0 1px 3px 0 rgba(190, 200, 214, 0.22), 0 2px 3px 0 rgba(190, 200, 214, 0.13),
    0 -1px 0 0 #f8f9fa;
  border-radius: 3px;
}

.time-choose a {
  width: 44px;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
  float: left;
}

.time-choose a:nth-child(2) {
  border: 1px solid transparent;
  border-left: 1px solid rgba(191, 200, 214, 0.14);
  border-right: 1px solid rgba(191, 200, 214, 0.14);
}

.time-choose a:nth-child(1) {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid transparent;
}

.time-choose a:nth-child(3) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid transparent;
}

.query,
.time-choose a:hover {
  color: #4488ff;
  transition: background-color 0.2s ease;
  border-radius: 3px;
  border: 1px solid rgba(68, 136, 255, 0.62) !important;
  background-color: #f7fbff !important;
  font-family: PingFangSC;
}

.data-chart .time-choose .time-choosed {
  background-color: #f8f8f8;
}
.mu-text-field-input{
  font-size: 14px
}
</style>
