<template>
    <div class="pic">
        <div class="nav">
            <div class="nav-has-btn">
                <p> 公共图集</p>
                 <div class="left-grad">
                    <mu-raised-button class="demo-raised-button add-icon" label="上传图集" icon="cloud_upload" primary @click="uploadCard()"/>
                </div>
            </div>
            <hr>
        </div>
       
        <div class="containner">
            <div class="img-box">
                <div class="img-list" v-for="(pic,index) in PicList" :key="index">
                    <div class="flex-block">
                        <div v-if="pic.used" class="mask-choose">
                             <mu-float-button icon="done" class="demo-float-button"/>
                        </div>
                        <div class="imgs-mask-hide">
                             <!-- <button class="current-btn" @click="reCut(pic)" v-if="pic.status === '切图失败'">再次切图</button> -->
                            <div class="eye-card" @click="checkDetailPic(pic)">
                                 <i class ="remove_red_eye material-icons eye-tip" :class="{'has-del':!pic.active}">remove_red_eye
                                     <div class="desc-wrapper pop-up">
                                     <div class="arrows"></div>
                                        查看详情
                                    </div>
                                 </i>
                            </div>
                            <div class="delete-ico" v-if="!pic.active" @click="del = true; currentPic = pic">
                                <img :src="deleteImg" alt="delete">
                            </div>
                        </div>
                        <img :src="pic.name" alt="">
                         <span class="pic-state pic-state1" :class="{'pic-state3':pic.active}" v-if="pic.status != '切图失败'&& pic.status != '未切图'"> {{pic.active?'已启用':'已禁用'}}</span>
                         <span class="pic-state pic-state2" v-if="pic.status == '切图失败' ||pic.status == '未切图'"> {{pic.status}}</span>
                    </div>
                    <p class="pic-name">
                        {{pic.title || '--'}} 
                       
                    </p>
                    <div class="edit-card">
                        <div class="default-btn" @click="preActive(pic)" v-if="pic.status !== '切图失败'&&pic.status != '未切图'">{{pic.active?'禁用':'启用'}}</div>
                        <div class="default-btn" v-if="pic.status == '切图失败'|| pic.status == '未切图'" @click="reCut(pic)">再次切图</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div v-if="show_page">
            <mu-pagination :total="total" :current="current" @pageChange="changePage" :pageSize="20">
            </mu-pagination>
        </div>
        <mu-dialog :open="upPic" title="上传图集">
            <div class="normal-input">
                <label for="">套图名称:</label>
                <input type="text" v-model="uppic">
            </div>
            <br>
            <div class="mtop16">
                <label for="">添加图片</label>
                <p class="note-message">*最多可上传1张图片(png/jpeg/jpg),图片尺寸260px * 160px，图片大小小于1M</p>
            </div>
            <!-- 上传图片后的选择区域 -->
            <div v-if="upImg">
                <div class="upload-temp-list">
                    <!-- <span class="icon-box">
                        <img :src="deleteImg">
                    </span> -->
                    <img :src="upImg" alt="">
                </div>
            </div>
            
            <div class="well drop-zone">
                <input type="file" @change="upload($event)" id="upInput" accept="image/png,image/jpeg,image/jpg">
            </div>
            <p class="back-error">{{backEnd}}</p>
            <mu-raised-button slot="actions" label="取消" @click="upPic = false;upImg=''"/>
            <mu-raised-button label="确定上传" slot="actions" primary @click="updatePic()"/>
        </mu-dialog>
        <mu-dialog :open='detailPic' title="图集详情">
            <p class="img-bottom"> 图集名称： {{currentPic.title || '--'}}</p>
             <img :src='currentPic.name'>
            <mu-raised-button label="确定" slot="actions" primary @click="detailPic = false"/>
        </mu-dialog>
        <mu-dialog :open="alert" title="提示">
            {{msg}}
            <mu-flat-button label="确定" slot="actions" primary @click="alert=false"/>
        </mu-dialog>
        <mu-dialog :open="Pic" title="图集操作">
            是否确认{{active?'禁用':'启用'}}此图集么？
            <mu-raised-button slot="actions" label="取消" @click="Pic = false"/>
            <mu-raised-button label="确定" slot="actions" primary @click="reActive(active)"/>
        </mu-dialog>
          <!-- 头部弹出框 -->
        <mu-popup position="top" :overlay="false" popupClass="demo-popup-top" :open="cut">
            {{bgMsg}}
        </mu-popup>
        <mu-dialog :open="del" title="确认要删除">
            确认删除此图集么？
            <mu-raised-button slot="actions" label="取消" @click="del = false"/>
            <mu-raised-button label="确定" slot="actions" primary @click="sureDel()"/>
        </mu-dialog>

    </div>
</template>
<script>
import deleteImg from "assets/img/delete.1.svg";
import {commonUpload, getCommonPicList, commonPicContral, commonPicCut, CommonPicDel} from "api/picture"
import failPicVue from '../customPic/component/failPic.vue';

export default {
    data(){
        return {
            deleteImg: deleteImg,
            upPic:false,
            pic:{},
            del:false,
            trigger:null,
            show:false,
            showImgMaskD:[],
            currentPic:{},
            detailPic:false,
            uplodaFile: {},
            uppic:'',
            alert:false,
            msg:'',
            PicList:[],
            Pic:false,
            active:false,
            upImg:'',
            upWidth:'',
            upHeight:'',
            backEnd:'',
            total:20,
            current :1,
            page:1,
            cut:false,
            bgMsg:'',
            show_page:false
        }
    },
    methods:{
        uploadCard(){
            this.upPic = true;
            this.uppic ='';
            this.upImg = '';
            this.backEnd = ''
        },
        // 确认上传图片
        updatePic(){
            this.backEnd = ''
            if(!this.uppic){
                this.backEnd = '图集名不能为空';
                return
            }
            else if(!this.upImg){
                this.backEnd = '图片不能为空';
                return
            }
            if(this.uppic && this.upImg){
                this.formData.append('name',this.uppic)
                commonUpload(this.formData).then(res =>{
                    if(res.data.status == 1){
                        this.upPic = false;
                        this.uppic ='';
                        this.upImg = '';
                        // 成功则触发切图
                        // this.getAllPicList(this.page)
                        this.cut = true;
                        this.bgMsg = '切图需要10秒左右，成功后您可以在公共图集下查看，请勿重复操作'
                        let resp = res.data.data;
                        commonPicCut({pid:resp.id}).then(res =>{
                            if(res.data.status == 1){
                                this.getAllPicList(this.page)
                            }
                        })
                    }
                    else{
                        this.alert = true;
                        this.msg = res.data.msg
                    }
                })
            }
    
        },
        // 上传图片
        upload(e){
            this.formData = new FormData();
            let file = event.target.files[0];
            let size = Math.floor(file.size / 1024);
            if(size > 1024){
                this.alert = true;
                this.msg = '图片大小不能超过1M'
            }else{
                this.imgSize(file)
            }
        },
        //获取图片尺寸大小
        imgSize(file){
            let that = this;
            if(!file || !window.FileReader)return;
            let render = new FileReader();
            render.onload = function(){
                let img = new Image();
                img.onload = () =>{
                    that.upWidth = img.width;
                    that.upHeight = img.height;
                    if(that.upWidth == 260 && that.upHeight == 160){
                        that.upImg = this.result;
                        that.formData.append('image', file)
                    }else{
                        that.alert = true;
                        that.msg = '图片尺寸不符合';
                    }
                }
                img.src = this.result;
            }
            render.readAsDataURL(file);

        },
        // 查看图集详情
        checkDetailPic(e){
            console.log(e)
            this.detailPic = true
            this.currentPic = e
        },
        // 图集再次切图
        reCut(e){
            this.cut = true;
            this.bgMsg = '切图需要10秒左右，成功后您可以在公共图集下查看，请勿重复操作';
            commonPicCut({pid:e.id}).then(res =>{
                if(res.data.status == 1){
                    this.getAllPicList(this.page)
                    // this.cut = true;
                    // this.bgMsg = '切图成功'
                }
                else{
                    this.alert = true;
                    this.msg = res.data.msg
                }
            })
        },
        // 获取公有图集列表
        getAllPicList(e){
            getCommonPicList({page:e}).then(res=>{
                console.log(res.data)
                if(res.data.status == 1){
                    this.PicList = res.data.data;
                    this.total = res.data.page.count;
                    this.show_page = res.data.page.num_pages == 1 ? false:true
                }
            })
        },
        preActive(e){
            this.Pic = true;
            this.currentPic = e;
            this.active = e.active
        },
        // 启用或禁用
        reActive(e){
           commonPicContral({pid: this.currentPic.id, active :!e}).then(res =>{
               if(res.data.status == 1){
                   this.getAllPicList(this.page)
                   this.Pic = false
               }
               else{
                   this.Pic = false;
                   this.alert = true;
                   this.msg = res.data.msg
               }
           })
        },
        // 翻页
        changePage(e){
            this.page = e;
            this.getAllPicList(this.page)
        },
        // 删除图集
        sureDel(){
            CommonPicDel({pid: this.currentPic.id}).then(res =>{
                if(res.data.status == 1){
                    this.del = false;
                    this.getAllPicList(this.page)
                }
                else{
                    this.del = false;
                    this.alert = true;
                    this.msg = res.data.msg
                }
            })
        }
        
    },
    created() {
        this.page = 1;
        this.getAllPicList(1)
    },
    watch:{
            cut (val){
                if (val) {
                    setTimeout(() => {
                        this.cut = false
                    }, 3000)
                }
            }
    },
    mounted () {
        this.trigger = this.$refs.demo
    },
}
</script>


<style lang="less">
    .pic{
        padding: 40px 35px;
    }
     .nav{
            font-size: 24px;
            & hr{
                // height: 1px;
                width: 100%;
                background: #68728C;
                opacity: 0.2;
            }
            .nav-has-btn {
                display: flex;
                justify-content: space-between;
            }
        }
    .left-grad{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 14px;
    }
    .note-message{
        font-size: 12px;
        margin: 0px;
        color: rgba(104, 114, 140, .5)
    }
    .well {
        width: 98px;
        height: 60px;
        padding: 19px;
        margin-bottom: 16px;
        margin-top: 16px;
        background-color: #fff;
        position: relative;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAASCAYAAACq26WdAAAAAXNSR0IArs4c6QAAAoBJREFUOBGlVD1oVEEQ/uZdormcCgpG0EqsBDshYKPemfM4LbTQxsIihViIiXgmkYgWNrlTothoo/Y2CViE/CiIP5VWxp8qCBZ6OQOCaBSTN/n2eXvse3fvzujCezs78818O7OzK1jFyJd0x5KPcwqkIdguwDfKLxKC0ckBedoqFPF/Nw6WtNdX3IGiPerBID7Jb7QlMTxxVn5F7XbdZoVmc8+InvB93I3DMDuPmzi/9AMmXn8crmFm2ZIeEsVRZrJVBLMMdIoBN8YFsXqTIXH7ZobkmdW5c11m2RG9qT766BQMVRx2HZrJQYaCYWLyjXCeqzQZ0aHP1a1WZkX2xvmEyFiuY3FAq2epPlF+bdfRmZvtzF3TI8cf6JqoLUq2LQoIrQWfpQ2ZJD/qYwmXlzH+dQ6VbFFPu/41sp6i7qRhi2uMyGUvgfRUQd4/LMiXVoTMcAPP+zYJr9s4QTfmSnqSbXSPxoQ1ROYy71F6ZlDeufr8Ld28tIjH9Nvl6kOyQNnR6ekBeeLlitrNO3Q/jojA+XaWLUpkAvICV8TDAWLehAjchXKbPi4blceMLgUt6wKqMtOueIrMREHeNjAHqqkLMk9Cc4axGBXsMQ3DWOhuFMgQSQKZySGJ33XV0RB2diDDDENlrsVVJL9/wCbhAZZZwq6awQqC3xR/VpfPWcaGFzV4BAS9Ae7Pu9lhQ9jZbHx6SLpMN760ytBsHBXrgw9IhWzOgiVKOrg6IgNlxuNmNmSjPEJW898GA7XyXUilcNFE96YH5RGfmKv/Q9hkm3O8m/vHzshCQGZ+rOcVz0MPazvGnX4k8aL7UW/Prj6u8mzr8a/Yof3r1mI3m2fWOq0AxzTNm7lTJGQAAAAASUVORK5CYII=) no-repeat;
        background-position: 50%;
        border: 1px dotted rgba(68,136,255,0.3);
        input[type="file"] {
            top: -1px;
            left: -1px;
            width: 98px;
            height: 60px;
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
    }
    .upload-temp-list {
        width: 78px;
        height: 48px;
        display: inline-block;
        position: relative;
        margin-right: 14px;
        margin-top: 14px;
        img{
            width: 78px;
            height: auto;
        }
        .icon-box{
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 100%;
            display: none;
            img{
                left: 50%;
                top: 50%;
                font-size: 20px;
                color: #eee;
                position: absolute;
                margin-top: -10px;
                margin-left: -10px;
                width: 16px;
            }
        }
    
    }
    .upload-temp-list:hover{
        .icon-box{
            display: block;
            cursor: pointer;
        }
    }
    .containner{
       
        .eye-cards{
            position: relative;
            .eye-tip{
                color: white;
                margin-right: 12px;
                font-size: 18px;
                margin-top: 7px;
                position: absolute;
                right: 0;
                cursor: pointer;
            }
            .eye-tip:hover{
                .desc-wrapper{
                    display: inline-block;
                }
            }
            .desc-wrapper{
                position: absolute;
                min-width: 76px;
                z-index: 333;
                top: -36px;
                text-align: left;
                -webkit-box-shadow: 0 2px 4px 0 rgba(104, 114, 140, 0.35);
                box-shadow: 0 2px 4px 0 rgba(104, 114, 140, 0.35);
                padding: 8px 12px;
                border: 1px solid rgba(104, 114, 140, 0.06);
                background: #434a59;
                color: rgba(255, 255, 255, 0.7);
                border-radius: 5px;
                font-size: 12px;
                left: -28px;
                display: none;
            }
            .arrows{
                width: 10px;
                height: 10px;
                background: #434a59;
                position: absolute;
                top: 24px;
                display: block;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                left: 30px;
            }
        }
        
    }
    .demo-popup-top {
        width: 100%;
        opacity: .8;
        height: 48px;
        line-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 450px;
    }
   
</style>
