<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>

<script>

    export default{
      name: 'APP',
      components:{
      },
      methods:{

      },
      created() {
      }
    }
</script>
