<template>
    <div id="client">
           <div class="nav">
            商户管理
            <hr>
           </div>
            <router-view></router-view>
    </div>
</template>

<script>
    export default{
        data() {
            return {

            }
        },
        created() {

        },
        methods: {

        }
    }
</script>
<style lang="less" rel="stylesheet/less">
    #client{
        padding: 40px 35px;
        
        .nav{
            font-size: 24px;
            & hr{
                // height: 1px;
                width: 100%;
                background: #68728C;
                opacity: 0.2;
            }
        }

    
        .mark {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .mark-blur {
                width: 100%;
                height: 100%;
                /*-webkit-filter：blur(10px);*/

                .w-opcity {
                    width: 100%;
                    height: 100%;
                    background-color: #FFF;
                }
            }

        }
    }
</style>
